/*===================================================================================*/
/*  Green Color
/*===================================================================================*/
/*===================================================================================*/
/*  Vaiables
/*===================================================================================*/
/*===================================================================================*/
/*  Base File For Colors
/*===================================================================================*/
.footer-call-us .call-us-icon i,
.header-support-info .support-icon i,
.widget_electro_products_filter .widget_layered_nav li > a:hover::before,
.widget_electro_products_filter .widget_layered_nav li > a:focus::before,
.widget_electro_products_filter .widget_product_categories li > a:hover::before,
.widget_electro_products_filter .widget_product_categories li > a:focus::before,
.widget_electro_products_filter .widget_layered_nav li.chosen > a::before,
.widget_electro_products_filter .widget_product_categories li.current-cat > a::before,
.features-list .media-left i,
p.stars a {
  color: #065F8C; }

.header-logo svg ellipse,
.footer-logo svg ellipse {
  fill: #065F8C; }

.primary-nav .nav-inline > .menu-item .dropdown-menu,
.navbar-primary .navbar-nav > .menu-item .dropdown-menu,
.vertical-menu .menu-item-has-children > .dropdown-menu,
.departments-menu .menu-item-has-children:hover > .dropdown-menu,
.top-bar .nav-inline > .menu-item .dropdown-menu {
  border-top-color: #065F8C; }

.columns-6-1 > ul.products > li.product .thumbnails > a:hover,
.primary-nav .nav-inline .yamm-fw.open > a::before {
  border-bottom-color: #065F8C; }

.navbar-primary,
.footer-newsletter,
.button:hover::before,
li.product:hover .button::before,
li.product:hover .button,
li.product:hover .added_to_cart::before,
.owl-item .product:hover .button::before,
.owl-item .product:hover .button,
.owl-item .product:hover .added_to_cart::before,
.widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-pagination ul.page-numbers > li a.current,
.woocommerce-pagination ul.page-numbers > li span.current,
.pagination ul.page-numbers > li a.current,
.pagination ul.page-numbers > li span.current,
.owl-dots .owl-dot.active,
.products-carousel-tabs .nav-link.active::before,
.deal-progress .progress-bar,
.products-2-1-2 .nav-link.active::before,
.ad .ad-action > a::after,
.header-v1 .navbar-search .input-group .btn,
.header-v3 .navbar-search .input-group .btn,
.vertical-menu > li:first-child,
.widget.widget_tag_cloud .tagcloud a:hover,
.widget.widget_tag_cloud .tagcloud a:focus,
.navbar-mini-cart .cart-items-count,
.wc-tabs > li.active a::before,
.ec-tabs > li.active a::before,
.electro-nav-tabs > li.nav-item a.active::before,
.woocommerce-info,
.woocommerce-noreviews,
p.no-comments,
.products-2-1-2 .nav-link:hover::before,
.single_add_to_cart_button,
.wpb-accordion .vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a:not(.collapsed):before,
ul.products > li.product.list-view:not(.list-view-small) .button:hover,
ul.products > li.product.list-view:not(.list-view-small) .button:focus,
ul.products > li.product.list-view:not(.list-view-small) .button:active,
ul.products > li.product.list-view.list-view-small .button:hover::after,
ul.products > li.product.list-view.list-view-small .button:focus::after,
ul.products > li.product.list-view.list-view-small .button:active::after,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-prev:hover,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-next:hover,
.full-color-background .header-v3,
.full-color-background .top-bar,
.pace .pace-progress {
  background-color: #065F8C; }

.hero-action-btn:hover {
  background-color: #0770A5 !important; }

.hero-action-btn {
  background-color: #065F8C !important; }

.departments-menu .departments-menu-dropdown,
.departments-menu .menu-item-has-children > .dropdown-menu,
.widget_price_filter .ui-slider .ui-slider-handle:last-child,
section header h1::after,
section header .h1::after,
.products-carousel-tabs .nav-link.active::after,
section.section-product-cards-carousel header ul.nav .active .nav-link,
section.section-onsale-product,
section.section-onsale-product-carousel .onsale-product-carousel,
.products-2-1-2 .nav-link.active::after,
.products-6-1 header ul.nav .active .nav-link,
.header-v1 .navbar-search .input-group .form-control,
.header-v1 .navbar-search .input-group .input-group-addon,
.header-v1 .navbar-search .input-group .btn,
.header-v3 .navbar-search .input-group .form-control,
.header-v3 .navbar-search .input-group .input-group-addon,
.header-v3 .navbar-search .input-group .btn,
.widget.widget_tag_cloud .tagcloud a:hover,
.widget.widget_tag_cloud .tagcloud a:focus,
.navbar-primary .navbar-mini-cart .dropdown-menu-mini-cart,
.woocommerce-checkout h3::after,
#customer_login h2::after,
.customer-login-form h2::after,
.navbar-primary .navbar-mini-cart .dropdown-menu-mini-cart,
.woocommerce-edit-address form h3::after,
.edit-account legend::after,
.woocommerce-account h2::after,
.address header.title h3::after,
.addresses header.title h3::after,
.woocommerce-order-received h2::after,
.track-order h2::after,
.wc-tabs > li.active a::after,
.ec-tabs > li.active a::after,
.electro-nav-tabs > li.nav-item a.active::after,
.comments-title::after,
.comment-reply-title::after,
.pings-title::after,
#reviews #comments > h2::after,
.single-product .woocommerce-tabs ~ div.products > h2::after,
.single-product .electro-tabs ~ div.products > h2::after,
.cart-collaterals h2::after,
.footer-widgets .widget-title:after,
.sidebar .widget-title::after,
.sidebar-blog .widget-title::after,
.contact-page-title::after,
#reviews:not(.electro-advanced-reviews) #comments > h2::after,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-prev:hover,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-next:hover,
.wpb-accordion .vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a:not(.collapsed):before {
  border-color: #065F8C; }

.widget_price_filter .price_slider_amount .button,
.dropdown-menu-mini-cart .wc-forward.checkout,
table.cart .actions .checkout-button,
.customer-login-form .button,
.btn-primary,
input[type="submit"] {
  color: #333e48;
  background-color: #065F8C;
  border-color: #065F8C; }
  .widget_price_filter .price_slider_amount .button:hover,
  .dropdown-menu-mini-cart .wc-forward.checkout:hover,
  table.cart .actions .checkout-button:hover,
  .customer-login-form .button:hover,
  .btn-primary:hover,
  input[type="submit"]:hover {
    color: #fff;
    background-color: black;
    border-color: black; }
  .widget_price_filter .price_slider_amount .button:focus, .widget_price_filter .price_slider_amount .button.focus,
  .dropdown-menu-mini-cart .wc-forward.checkout:focus,
  .dropdown-menu-mini-cart .wc-forward.checkout.focus,
  table.cart .actions .checkout-button:focus,
  table.cart .actions .checkout-button.focus,
  .customer-login-form .button:focus,
  .customer-login-form .button.focus,
  .btn-primary:focus,
  .btn-primary.focus,
  input[type="submit"]:focus,
  input[type="submit"].focus {
    color: #fff;
    background-color: black;
    border-color: black; }
  .widget_price_filter .price_slider_amount .button:active, .widget_price_filter .price_slider_amount .button.active,
  .open > .widget_price_filter .price_slider_amount .button.dropdown-toggle,
  .dropdown-menu-mini-cart .wc-forward.checkout:active,
  .dropdown-menu-mini-cart .wc-forward.checkout.active,
  .open >
  .dropdown-menu-mini-cart .wc-forward.checkout.dropdown-toggle,
  table.cart .actions .checkout-button:active,
  table.cart .actions .checkout-button.active,
  .open >
  table.cart .actions .checkout-button.dropdown-toggle,
  .customer-login-form .button:active,
  .customer-login-form .button.active,
  .open >
  .customer-login-form .button.dropdown-toggle,
  .btn-primary:active,
  .btn-primary.active,
  .open >
  .btn-primary.dropdown-toggle,
  input[type="submit"]:active,
  input[type="submit"].active,
  .open >
  input[type="submit"].dropdown-toggle {
    color: #333e48;
    background-color: black;
    border-color: black;
    background-image: none; }
    .widget_price_filter .price_slider_amount .button:active:hover, .widget_price_filter .price_slider_amount .button:active:focus, .widget_price_filter .price_slider_amount .button:active.focus, .widget_price_filter .price_slider_amount .button.active:hover, .widget_price_filter .price_slider_amount .button.active:focus, .widget_price_filter .price_slider_amount .button.active.focus,
    .open > .widget_price_filter .price_slider_amount .button.dropdown-toggle:hover,
    .open > .widget_price_filter .price_slider_amount .button.dropdown-toggle:focus,
    .open > .widget_price_filter .price_slider_amount .button.dropdown-toggle.focus,
    .dropdown-menu-mini-cart .wc-forward.checkout:active:hover,
    .dropdown-menu-mini-cart .wc-forward.checkout:active:focus,
    .dropdown-menu-mini-cart .wc-forward.checkout:active.focus,
    .dropdown-menu-mini-cart .wc-forward.checkout.active:hover,
    .dropdown-menu-mini-cart .wc-forward.checkout.active:focus,
    .dropdown-menu-mini-cart .wc-forward.checkout.active.focus,
    .open >
    .dropdown-menu-mini-cart .wc-forward.checkout.dropdown-toggle:hover,
    .open >
    .dropdown-menu-mini-cart .wc-forward.checkout.dropdown-toggle:focus,
    .open >
    .dropdown-menu-mini-cart .wc-forward.checkout.dropdown-toggle.focus,
    table.cart .actions .checkout-button:active:hover,
    table.cart .actions .checkout-button:active:focus,
    table.cart .actions .checkout-button:active.focus,
    table.cart .actions .checkout-button.active:hover,
    table.cart .actions .checkout-button.active:focus,
    table.cart .actions .checkout-button.active.focus,
    .open >
    table.cart .actions .checkout-button.dropdown-toggle:hover,
    .open >
    table.cart .actions .checkout-button.dropdown-toggle:focus,
    .open >
    table.cart .actions .checkout-button.dropdown-toggle.focus,
    .customer-login-form .button:active:hover,
    .customer-login-form .button:active:focus,
    .customer-login-form .button:active.focus,
    .customer-login-form .button.active:hover,
    .customer-login-form .button.active:focus,
    .customer-login-form .button.active.focus,
    .open >
    .customer-login-form .button.dropdown-toggle:hover,
    .open >
    .customer-login-form .button.dropdown-toggle:focus,
    .open >
    .customer-login-form .button.dropdown-toggle.focus,
    .btn-primary:active:hover,
    .btn-primary:active:focus,
    .btn-primary:active.focus,
    .btn-primary.active:hover,
    .btn-primary.active:focus,
    .btn-primary.active.focus,
    .open >
    .btn-primary.dropdown-toggle:hover,
    .open >
    .btn-primary.dropdown-toggle:focus,
    .open >
    .btn-primary.dropdown-toggle.focus,
    input[type="submit"]:active:hover,
    input[type="submit"]:active:focus,
    input[type="submit"]:active.focus,
    input[type="submit"].active:hover,
    input[type="submit"].active:focus,
    input[type="submit"].active.focus,
    .open >
    input[type="submit"].dropdown-toggle:hover,
    .open >
    input[type="submit"].dropdown-toggle:focus,
    .open >
    input[type="submit"].dropdown-toggle.focus {
      color: #333e48;
      background-color: #6e8d20;
      border-color: #546c18; }
  .widget_price_filter .price_slider_amount .button.disabled:focus, .widget_price_filter .price_slider_amount .button.disabled.focus, .widget_price_filter .price_slider_amount .button:disabled:focus, .widget_price_filter .price_slider_amount .button:disabled.focus,
  .dropdown-menu-mini-cart .wc-forward.checkout.disabled:focus,
  .dropdown-menu-mini-cart .wc-forward.checkout.disabled.focus,
  .dropdown-menu-mini-cart .wc-forward.checkout:disabled:focus,
  .dropdown-menu-mini-cart .wc-forward.checkout:disabled.focus,
  table.cart .actions .checkout-button.disabled:focus,
  table.cart .actions .checkout-button.disabled.focus,
  table.cart .actions .checkout-button:disabled:focus,
  table.cart .actions .checkout-button:disabled.focus,
  .customer-login-form .button.disabled:focus,
  .customer-login-form .button.disabled.focus,
  .customer-login-form .button:disabled:focus,
  .customer-login-form .button:disabled.focus,
  .btn-primary.disabled:focus,
  .btn-primary.disabled.focus,
  .btn-primary:disabled:focus,
  .btn-primary:disabled.focus,
  input[type="submit"].disabled:focus,
  input[type="submit"].disabled.focus,
  input[type="submit"]:disabled:focus,
  input[type="submit"]:disabled.focus {
    background-color: #065F8C;
    border-color: #065F8C; }
  .widget_price_filter .price_slider_amount .button.disabled:hover, .widget_price_filter .price_slider_amount .button:disabled:hover,
  .dropdown-menu-mini-cart .wc-forward.checkout.disabled:hover,
  .dropdown-menu-mini-cart .wc-forward.checkout:disabled:hover,
  table.cart .actions .checkout-button.disabled:hover,
  table.cart .actions .checkout-button:disabled:hover,
  .customer-login-form .button.disabled:hover,
  .customer-login-form .button:disabled:hover,
  .btn-primary.disabled:hover,
  .btn-primary:disabled:hover,
  input[type="submit"].disabled:hover,
  input[type="submit"]:disabled:hover {
    background-color: #065F8C;
    border-color: #065F8C; }

.navbar-primary .navbar-nav > .menu-item > a:hover,
.navbar-primary .navbar-nav > .menu-item > a:focus {
  background-color: #0A5073; }

.navbar-primary .navbar-nav > .menu-item > a {
  border-color: #0A5073; }

.full-color-background .navbar-primary {
  border-top-color: #0A5073; }

.full-color-background .top-bar .nav-inline .menu-item + .menu-item:before {
  color: #0A5073; }

.single-product div.thumbnails-all .synced a,
.products-2-1-2 .nav-link:hover::after,
.section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-thumbnails .images .thumbnails a.current {
  border-bottom-color: #065F8C; }

#scrollUp {
  background-color: #065F8C; }

.custom .tp-bullet.selected {
  background-color: #065F8C !important; }

.home-v1-slider .btn-primary,
.home-v2-slider .btn-primary,
.home-v3-slider .btn-primary {
  background-color: #065F8C !important; }
  .home-v1-slider .btn-primary:hover,
  .home-v2-slider .btn-primary:hover,
  .home-v3-slider .btn-primary:hover {
    background-color: #0770A5 !important; }

/*===================================================================================*/
/*  Light Color
/*===================================================================================*/
.header-v1 .navbar-search .input-group .btn,
.header-v1 .navbar-search .input-group .hero-action-btn,
.header-v3 .navbar-search .input-group .btn,
.header-v3 .navbar-search .input-group .hero-action-btn,
.navbar-mini-cart .cart-items-count,
.navbar-primary a[data-toggle=dropdown]::after,
.navbar-primary .navbar-nav .nav-link,
.vertical-menu > li.list-group-item > a,
.vertical-menu > li.list-group-item > span,
.departments-menu > .nav-item .nav-link,
.customer-login-form .button,
.dropdown-menu-mini-cart .wc-forward.checkout,
.widget_price_filter .price_slider_amount .button,
input[type=submit],
table.cart .actions .checkout-button,
.pagination ul.page-numbers > li a.current,
.pagination ul.page-numbers > li span.current,
.woocommerce-pagination ul.page-numbers > li a.current,
.woocommerce-pagination ul.page-numbers > li span.current,
.footer-newsletter .newsletter-title::before,
.footer-newsletter .newsletter-marketing-text,
.footer-newsletter .newsletter-title,
.full-color-background .top-bar .nav-inline .menu-item > a,
.full-color-background .top-bar .nav-inline .menu-item + .menu-item:before,
.full-color-background .header-v1 .navbar-nav .nav-link,
.full-color-background .header-v3 .navbar-nav .nav-link,
.full-color-background .navbar-primary .navbar-nav > .menu-item > a,
.full-color-background .navbar-primary .navbar-nav > .menu-item > a:focus,
.full-color-background .navbar-primary .navbar-nav > .menu-item > a:hover,
.woocommerce-info,
.woocommerce-noreviews,
p.no-comments,
.woocommerce-info a,
.woocommerce-info button,
.woocommerce-noreviews a,
.woocommerce-noreviews button,
p.no-comments a,
p.no-comments button,
.hero-action-btn a,
.header-v3 + .navbar-primary .navbar-nav > .menu-item > a {
  color: #fff; }

.woocommerce-info a:focus,
.woocommerce-info a:hover,
.woocommerce-info button:focus,
.woocommerce-info button:hover,
.woocommerce-noreviews a:focus,
.woocommerce-noreviews a:hover,
.woocommerce-noreviews button:focus,
.woocommerce-noreviews button:hover,
p.no-comments a:focus,
p.no-comments a:hover,
p.no-comments button:focus,
p.no-comments button:hover {
  color: #fafafa; }

.full-color-background .header-logo path {
  fill: #fff; }

.home-v1-slider .btn-primary,
.home-v2-slider .btn-primary,
.home-v3-slider .btn-primary {
  color: #fff !important; }
  .home-v1-slider .btn-primary:hover,
  .home-v2-slider .btn-primary:hover,
  .home-v3-slider .btn-primary:hover {
    color: #fff !important; }
