 This file is just for some custom styles */

.content-message {
	color: #fff;
	position: absolute;
	top: 10%;
	z-index: 1000;
	right: 1%;
}

.message-success {
	background: rgba(0, 168, 81, 0.83);
}

.message-danger {
	background: rgba(168, 0, 0, 0.83);
}

.message-warning {
	background: rgba(224, 206, 0, 0.83);
}

/*Original style custom */
.shop-control-bar-bottom {
	padding: 1.714em 65px;
}

/* Shake efect */
.shake {
	position: relative;
	-webkit-animation-name: shake_wishlist;
  -webkit-animation-duration: 0.4s;
  animation-name: shake_wishlist;
  animation-duration: 0.4s;
}

@keyframes shake_wishlist {
	0%, 100% {
		left: 0px;
	}
	20%, 80% {
		left: -9px;
	}
	40%, 60% {
		left: 9px;
	}
}
@-webkit-keyframes shake_wishlist {
	0%, 100% {
		left: 0px;
	}
	20%, 80% {
		left: -9px;
	}
	40%, 60% {
		left: 9px;
	}
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}

.modal_content {
	width: 600px;
	height: auto;
	background: #ffffff;
	margin: 10% auto;	
}

.modal_header {
	text-align: center;
	background: #333333;
	padding: 15px 15px;
	color: #ffffff;
}

.modal_header button.close {
	padding: 2px 7px;
}

.modal_header button.close:hover {
	background-color: rgba(0, 0, 0, .5);
}

.modal_body, .modal_footer {
	padding: 20px;
}

.modal_footer {
	border-top: 1px solid #dee2e6;
}

.action-buttons a {
	cursor: pointer;
}

.modal-mask .modal_content .modal_footer button.btn-primary{
	float: right;
	color: #ffffff;
}

.dropdown-menu.dropdown-menu-mini-cart {
	max-height: 405px;
	overflow: auto;
}
/* width */
.dropdown-menu.dropdown-menu-mini-cart::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/*.dropdown-menu.dropdown-menu-mini-cart::-webkit-scrollbar-track {
  margin-right: 5px;
}*/
 
/* Handle */
.dropdown-menu.dropdown-menu-mini-cart::-webkit-scrollbar-thumb {
  background: #616060; 
  border-radius: 10px;
}

/* Handle on hover */
.dropdown-menu.dropdown-menu-mini-cart::-webkit-scrollbar-thumb:hover {
 	background: rgb(0,0,0,0.8);
}

select.select-check-option {
	border: #dddddd solid 1px;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.container_success {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;	
	height: 100%;
	background: #fff;
}

.container_message {
	background: #F1F1F1;
	margin: 5% auto;
	width: 900px;	
	text-align: center;
	border: 1px solid #606060;
	border-radius: 3px;
	-webkit-box-shadow: 6px 15px 34px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 15px 34px -16px rgba(0,0,0,0.75);
	box-shadow: 6px 15px 34px -16px rgba(0,0,0,0.75);
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container_message .col-md-6:nth-child(1) {
	padding: 20px 20px;
}

.logo {
	text-align: left;
	margin-bottom: 80px;
}

.logo img {
	width: 237px;
}

.container_message .col-md-6:nth-child(1) h1 {
	color: #593b30;
	font-family: henriette, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 45px;
	margin-bottom: 30px;
}

.container_message .col-md-6:nth-child(2) {
	padding: 45px 20px;
}

.container_message .col-md-6:nth-child(2) h1 {
	color: #593b30;
	font-family: henriette, sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-bottom: 60px;
}

.container_message .col-md-6:nth-child(2) table {
	background: #C1C1C1;
}

.btn-return {
	background: #f2470A;
	color: #fff;
	width: 65%;
}

#card-errors {
	margin-top: 10px;	
}
/* NAvbar owl style*/
.navbar-item {
	border-right: 1px solid #0A5073;
	text-align: center;
	padding: 19px 0px;
	color: #ffffff;
}

.navbar-item:hover {
	background-color: #0A5073;
}

#owl-carousel .owl-item {
	margin-right: 0 !important;
}

.navbar-item a {
	text-decoration: none;
	font-size: 1.143em;
	color: #ffffff;
}

.owl-carousel .owl-nav {
	color: #ffffff;
	font-size: 25px;
}

.owl-carousel .owl-nav .owl-prev {
	position: absolute;
	left: -70px;
	top: 12px;
	background-color: rgb(0,0,0,0.5);
	padding: 7px 12px;
	border-radius: 50%;
}

.owl-carousel .owl-nav .owl-next {
	position: absolute;
	right: -70px;
	top: 12px;
	background-color: rgb(0,0,0,0.5);
	padding: 7px 12px;
	border-radius: 50%;
}

#mediaIndex .media-body.media-middle {
	padding-right: 12px;
}

.img-responsive.media-object.wp-post-image {
	width: 229px;
	height: 166px;
}

#default-header {
	text-align: center;
}