@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pfvxpz');
  src:  url('../fonts/icomoon.eot?pfvxpz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pfvxpz') format('truetype'),
    url('../fonts/icomoon.woff?pfvxpz') format('woff'),
    url('../fonts/icomoon.svg?pfvxpz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart1:before {
  content: "\e900";
}
.icon-cloud1:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-tv1:before {
  content: "\e903";
}
.icon-sound:before {
  content: "\e904";
}
.icon-video:before {
  content: "\e905";
}
.icon-trash:before {
  content: "\e906";
}
.icon-user1:before {
  content: "\e907";
}
.icon-key1:before {
  content: "\e908";
}
.icon-search1:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e90a";
}
.icon-camera1:before {
  content: "\e90b";
}
.icon-tag:before {
  content: "\e90c";
}
.icon-lock1:before {
  content: "\e90d";
}
.icon-bulb:before {
  content: "\e90e";
}
.icon-pen1:before {
  content: "\e90f";
}
.icon-diamond:before {
  content: "\e910";
}
.icon-display1:before {
  content: "\e911";
}
.icon-location1:before {
  content: "\e912";
}
.icon-eye1:before {
  content: "\e913";
}
.icon-bubble1:before {
  content: "\e914";
}
.icon-stack1:before {
  content: "\e915";
}
.icon-cup:before {
  content: "\e916";
}
.icon-phone1:before {
  content: "\e917";
}
.icon-news:before {
  content: "\e918";
}
.icon-mail1:before {
  content: "\e919";
}
.icon-like:before {
  content: "\e91a";
}
.icon-photo:before {
  content: "\e91b";
}
.icon-note:before {
  content: "\e91c";
}
.icon-clock1:before {
  content: "\e91d";
}
.icon-paperplane:before {
  content: "\e91e";
}
.icon-params:before {
  content: "\e91f";
}
.icon-banknote:before {
  content: "\e920";
}
.icon-data:before {
  content: "\e921";
}
.icon-music1:before {
  content: "\e922";
}
.icon-megaphone:before {
  content: "\e923";
}
.icon-study:before {
  content: "\e924";
}
.icon-lab1:before {
  content: "\e925";
}
.icon-food:before {
  content: "\e926";
}
.icon-t-shirt:before {
  content: "\e927";
}
.icon-fire1:before {
  content: "\e928";
}
.icon-clip:before {
  content: "\e929";
}
.icon-shop:before {
  content: "\e92a";
}
.icon-calendar1:before {
  content: "\e92b";
}
.icon-wallet:before {
  content: "\e92c";
}
.icon-vynil:before {
  content: "\e92d";
}
.icon-truck1:before {
  content: "\e92e";
}
.icon-world:before {
  content: "\e92f";
}
.icon-amazon1:before {
  content: "\e930";
  color: #f90;
}
.icon-amazonaws:before {
  content: "\e931";
}
.icon-amd:before {
  content: "\e932";
  color: #ed1c24;
}
.icon-americanexpress:before {
  content: "\e933";
  color: #2e77bc;
}
.icon-android1:before {
  content: "\e934";
  color: #a4c639;
}
.icon-angellist:before {
  content: "\e935";
}
.icon-angular:before {
  content: "\e936";
  color: #dd0031;
}
.icon-angularuniversal:before {
  content: "\e937";
  color: #00acc1;
}
.icon-apache:before {
  content: "\e938";
  color: #d22128;
}
.icon-apple:before {
  content: "\e939";
  color: #999;
}
.icon-applemusic:before {
  content: "\e93a";
}
.icon-applepay:before {
  content: "\e93b";
}
.icon-appveyor:before {
  content: "\e93c";
  color: #00b3e0;
}
.icon-archiveofourown:before {
  content: "\e93d";
  color: #900;
}
.icon-archlinux:before {
  content: "\e93e";
  color: #1793d1;
}
.icon-arduino:before {
  content: "\e93f";
  color: #00979d;
}
.icon-artstation:before {
  content: "\e940";
  color: #13aff0;
}
.icon-asana:before {
  content: "\e941";
}
.icon-at-and-t:before {
  content: "\e942";
  color: #00a8e0;
}
.icon-atlassian:before {
  content: "\e943";
  color: #0052cc;
}
.icon-atom:before {
  content: "\e944";
  color: #66595c;
}
.icon-audible:before {
  content: "\e945";
  color: #f8991c;
}
.icon-aurelia:before {
  content: "\e946";
  color: #ed2b88;
}
.icon-auth0:before {
  content: "\e947";
  color: #eb5424;
}
.icon-automatic:before {
  content: "\e948";
  color: #7d8084;
}
.icon-autotask:before {
  content: "\e949";
  color: #e51937;
}
.icon-aventrix:before {
  content: "\e94a";
  color: #09d;
}
.icon-azuredevops:before {
  content: "\e94b";
  color: #0078d7;
}
.icon-azurepipelines:before {
  content: "\e94c";
  color: #2560e0;
}
.icon-baidu:before {
  content: "\e94d";
  color: #2319dc;
}
.icon-bamboo:before {
  content: "\e94e";
  color: #0052cc;
}
.icon-bandcamp:before {
  content: "\e94f";
  color: #408294;
}
.icon-basecamp1:before {
  content: "\e950";
  color: #5ecc62;
}
.icon-bathasu:before {
  content: "\e951";
  color: #00a3e0;
}
.icon-beats:before {
  content: "\e952";
  color: #005571;
}
.icon-behance1:before {
  content: "\e953";
  color: #1769ff;
}
.icon-bigcartel:before {
  content: "\e954";
}
.icon-bing:before {
  content: "\e955";
  color: #008373;
}
.icon-bit:before {
  content: "\e956";
  color: #73398d;
}
.icon-bitbucket:before {
  content: "\e957";
  color: #0052cc;
}
.icon-bitcoin:before {
  content: "\e958";
  color: #f7931a;
}
.icon-bitdefender:before {
  content: "\e959";
  color: #ed1c24;
}
.icon-bitly:before {
  content: "\e95a";
  color: #ee6123;
}
.icon-blender:before {
  content: "\e95b";
  color: #f5792a;
}
.icon-blogger1:before {
  content: "\e95c";
  color: #ff5722;
}
.icon-boost:before {
  content: "\e95d";
  color: #f69220;
}
.icon-bootstrap:before {
  content: "\e95e";
  color: #563d7c;
}
.icon-bower:before {
  content: "\e95f";
  color: #ef5734;
}
.icon-brand-dot-ai:before {
  content: "\e960";
  color: #0aa0ff;
}
.icon-buddy:before {
  content: "\e961";
  color: #1a86fd;
}
.icon-buffer:before {
  content: "\e962";
  color: #168eea;
}
.icon-buymeacoffee:before {
  content: "\e963";
  color: #ff813f;
}
.icon-buzzfeed:before {
  content: "\e964";
  color: #e32;
}
.icon-cakephp:before {
  content: "\e965";
  color: #d33c43;
}
.icon-campaignmonitor:before {
  content: "\e966";
  color: #509cf6;
}
.icon-cashapp:before {
  content: "\e967";
  color: #00c244;
}
.icon-castorama:before {
  content: "\e968";
  color: #0078d7;
}
.icon-castro:before {
  content: "\e969";
  color: #00b265;
}
.icon-cevo:before {
  content: "\e96a";
  color: #1eabe2;
}
.icon-chase:before {
  content: "\e96b";
  color: #117aca;
}
.icon-circle:before {
  content: "\e96c";
  color: #8669ae;
}
.icon-circleci:before {
  content: "\e96d";
}
.icon-civicrm:before {
  content: "\e96e";
  color: #81c459;
}
.icon-clockify:before {
  content: "\e96f";
  color: #03a9f4;
}
.icon-clojure:before {
  content: "\e970";
  color: #5881d8;
}
.icon-cloudflare:before {
  content: "\e971";
  color: #f38020;
}
.icon-cmake:before {
  content: "\e972";
  color: #064f8c;
}
.icon-co-op:before {
  content: "\e973";
  color: #00b1e7;
}
.icon-codacy:before {
  content: "\e974";
}
.icon-codecademy:before {
  content: "\e975";
  color: #1f4056;
}
.icon-codeclimate:before {
  content: "\e976";
}
.icon-codecov:before {
  content: "\e977";
  color: #f01f7a;
}
.icon-codeforces:before {
  content: "\e978";
  color: #1f8acb;
}
.icon-codeigniter:before {
  content: "\e979";
  color: #ee4623;
}
.icon-codepen1:before {
  content: "\e97a";
}
.icon-coderwall:before {
  content: "\e97b";
  color: #3e8dcc;
}
.icon-codesandbox:before {
  content: "\e97c";
}
.icon-codeship:before {
  content: "\e97d";
  color: #3c4858;
}
.icon-codewars:before {
  content: "\e97e";
  color: #ad2c27;
}
.icon-codio:before {
  content: "\e97f";
  color: #4574e0;
}
.icon-coffeescript:before {
  content: "\e980";
}
.icon-commonworkflowlanguage:before {
  content: "\e981";
  color: #b5314c;
}
.icon-compropago:before {
  content: "\e982";
  color: #00aaef;
}
.icon-conda-forge:before {
  content: "\e983";
}
.icon-conekta:before {
  content: "\e984";
  color: #414959;
}
.icon-confluence:before {
  content: "\e985";
}
.icon-coursera:before {
  content: "\e986";
  color: #2a73cc;
}
.icon-cplusplus:before {
  content: "\e987";
  color: #00599c;
}
.icon-creativecommons:before {
  content: "\e988";
  color: #ef9421;
}
.icon-crunchbase:before {
  content: "\e989";
  color: #0288d1;
}
.icon-css31:before {
  content: "\e98a";
  color: #1572b6;
}
.icon-csswizardry:before {
  content: "\e98b";
  color: #f43059;
}
.icon-d3-dot-js:before {
  content: "\e98c";
  color: #f9a03c;
}
.icon-dailymotion:before {
  content: "\e98d";
  color: #0066dc;
}
.icon-dazn:before {
  content: "\e98e";
  color: #f8f8f5;
}
.icon-dblp:before {
  content: "\e98f";
  color: #004f9f;
}
.icon-debian:before {
  content: "\e990";
  color: #a81d33;
}
.icon-deezer:before {
  content: "\e991";
  color: #00c7f2;
}
.icon-delicious1:before {
  content: "\e992";
  color: #39f;
}
.icon-dell:before {
  content: "\e993";
  color: #007db8;
}
.icon-deno:before {
  content: "\e994";
}
.icon-dependabot:before {
  content: "\e995";
  color: #025e8c;
}
.icon-designernews:before {
  content: "\e996";
  color: #2d72d9;
}
.icon-dev-dot-to:before {
  content: "\e997";
}
.icon-deviantart1:before {
  content: "\e998";
  color: #05cc47;
}
.icon-devrant:before {
  content: "\e999";
  color: #f99a66;
}
.icon-diaspora:before {
  content: "\e99a";
}
.icon-digg:before {
  content: "\e99b";
}
.icon-digitalocean:before {
  content: "\e99c";
  color: #0080ff;
}
.icon-discord:before {
  content: "\e99d";
  color: #7289da;
}
.icon-discourse:before {
  content: "\e99e";
}
.icon-discover:before {
  content: "\e99f";
  color: #ff6000;
}
.icon-disqus:before {
  content: "\e9a0";
  color: #2e9fff;
}
.icon-disroot:before {
  content: "\e9a1";
  color: #50162d;
}
.icon-django:before {
  content: "\e9a2";
}
.icon-docker:before {
  content: "\e9a3";
  color: #1488c6;
}
.icon-docusign:before {
  content: "\e9a4";
  color: #fc2;
}
.icon-dot-net:before {
  content: "\e9a5";
  color: #5c2d91;
}
.icon-draugiem-dot-lv:before {
  content: "\e9a6";
  color: #f60;
}
.icon-dribbble1:before {
  content: "\e9a7";
  color: #ea4c89;
}
.icon-drone:before {
  content: "\e9a8";
}
.icon-dropbox1:before {
  content: "\e9a9";
  color: #0061ff;
}
.icon-drupal:before {
  content: "\e9aa";
  color: #0678be;
}
.icon-dtube:before {
  content: "\e9ab";
  color: #f00;
}
.icon-duckduckgo:before {
  content: "\e9ac";
  color: #de5833;
}
.icon-ebay:before {
  content: "\e9ad";
  color: #e53238;
}
.icon-eclipseide:before {
  content: "\e9ae";
  color: #2c2255;
}
.icon-elastic:before {
  content: "\e9af";
  color: #005571;
}
.icon-elasticcloud:before {
  content: "\e9b0";
  color: #005571;
}
.icon-elasticsearch:before {
  content: "\e9b1";
  color: #005571;
}
.icon-elasticstack:before {
  content: "\e9b2";
  color: #005571;
}
.icon-electron:before {
  content: "\e9b3";
  color: #47848f;
}
.icon-elementary:before {
  content: "\e9b4";
  color: #64baff;
}
.icon-ello1:before {
  content: "\e9b5";
}
.icon-empirekred:before {
  content: "\e9b6";
  color: #72be50;
}
.icon-envato:before {
  content: "\e9b7";
  color: #81b441;
}
.icon-esea:before {
  content: "\e9b8";
  color: #0e9648;
}
.icon-eslint:before {
  content: "\e9b9";
  color: #4b32c3;
}
.icon-ethereum:before {
  content: "\e9ba";
}
.icon-etsy:before {
  content: "\e9bb";
  color: #f16521;
}
.icon-eventbrite:before {
  content: "\e9bc";
  color: #f05537;
}
.icon-eventstore:before {
  content: "\e9bd";
  color: #5ab552;
}
.icon-evernote:before {
  content: "\e9be";
  color: #00a82d;
}
.icon-everplaces:before {
  content: "\e9bf";
  color: #fa4b32;
}
.icon-evry:before {
  content: "\e9c0";
  color: #063a54;
}
.icon-expertsexchange:before {
  content: "\e9c1";
  color: #00aae7;
}
.icon-f-secure:before {
  content: "\e9c2";
  color: #00baff;
}
.icon-facebook1:before {
  content: "\e9c3";
  color: #4172b8;
}
.icon-faceit:before {
  content: "\e9c4";
  color: #f50;
}
.icon-fandango:before {
  content: "\e9c5";
  color: #ff7300;
}
.icon-favro:before {
  content: "\e9c6";
  color: #512da8;
}
.icon-feathub:before {
  content: "\e9c7";
  color: #9b9b9b;
}
.icon-fedora:before {
  content: "\e9c8";
  color: #294172;
}
.icon-feedly:before {
  content: "\e9c9";
  color: #2bb24c;
}
.icon-fidoalliance:before {
  content: "\e9ca";
  color: #ffbf3b;
}
.icon-figma:before {
  content: "\e9cb";
  color: #f24e1e;
}
.icon-filezilla:before {
  content: "\e9cc";
  color: #bf0000;
}
.icon-firebase:before {
  content: "\e9cd";
  color: #ffca28;
}
.icon-fitbit:before {
  content: "\e9ce";
  color: #00b0b9;
}
.icon-flask:before {
  content: "\e9cf";
}
.icon-flattr1:before {
  content: "\e9d0";
}
.icon-flickr1:before {
  content: "\e9d1";
  color: #0063dc;
}
.icon-flipboard:before {
  content: "\e9d2";
  color: #e12828;
}
.icon-flutter:before {
  content: "\e9d3";
  color: #02569b;
}
.icon-fnac:before {
  content: "\e9d4";
  color: #e1a925;
}
.icon-foursquare1:before {
  content: "\e9d5";
  color: #f94877;
}
.icon-framer:before {
  content: "\e9d6";
  color: #05f;
}
.icon-freebsd:before {
  content: "\e9d7";
  color: #ab2b28;
}
.icon-freecodecamp:before {
  content: "\e9d8";
  color: #006400;
}
.icon-furaffinity:before {
  content: "\e9d9";
  color: #faaf3a;
}
.icon-furrynetwork:before {
  content: "\e9da";
  color: #2e75b4;
}
.icon-garmin:before {
  content: "\e9db";
  color: #007cc3;
}
.icon-gatsby:before {
  content: "\e9dc";
  color: #639;
}
.icon-gauges:before {
  content: "\e9dd";
  color: #2fa66a;
}
.icon-geocaching:before {
  content: "\e9de";
  color: #00874d;
}
.icon-gerrit:before {
  content: "\e9df";
  color: #eee;
}
.icon-ghost:before {
  content: "\e9e0";
  color: #738a94;
}
.icon-git1:before {
  content: "\e9e1";
  color: #f05032;
}
.icon-github1:before {
  content: "\e9e2";
}
.icon-gitlab:before {
  content: "\e9e3";
  color: #e24329;
}
.icon-gitter:before {
  content: "\e9e4";
  color: #ed1965;
}
.icon-glassdoor:before {
  content: "\e9e5";
  color: #0caa41;
}
.icon-gmail:before {
  content: "\e9e6";
  color: #d14836;
}
.icon-gnu:before {
  content: "\e9e7";
  color: #a42e2b;
}
.icon-gnusocial:before {
  content: "\e9e8";
  color: #a22430;
}
.icon-go:before {
  content: "\e9e9";
  color: #76e1fe;
}
.icon-gog-dot-com:before {
  content: "\e9ea";
  color: #86328a;
}
.icon-goldenline:before {
  content: "\e9eb";
  color: #f1b92b;
}
.icon-goodreads:before {
  content: "\e9ec";
  color: #630;
}
.icon-google1:before {
  content: "\e9ed";
  color: #4285f4;
}
.icon-googleallo:before {
  content: "\e9ee";
  color: #ecb842;
}
.icon-googleanalytics:before {
  content: "\e9ef";
  color: #ffc107;
}
.icon-googlechrome:before {
  content: "\e9f0";
  color: #4285f4;
}
.icon-googledrive:before {
  content: "\e9f1";
  color: #4285f4;
}
.icon-googlehangouts:before {
  content: "\e9f2";
  color: #0c9d58;
}
.icon-googlehangoutschat:before {
  content: "\e9f3";
  color: #00897b;
}
.icon-googlekeep:before {
  content: "\e9f4";
  color: #fb0;
}
.icon-googlepay:before {
  content: "\e9f5";
  color: #5f6368;
}
.icon-googleplay:before {
  content: "\e9f6";
  color: #607d8b;
}
.icon-googleplus:before {
  content: "\e9f7";
  color: #dc4e41;
}
.icon-googlepodcasts:before {
  content: "\e9f8";
  color: #4285f4;
}
.icon-gov-dot-uk:before {
  content: "\e9f9";
  color: #005ea5;
}
.icon-grafana:before {
  content: "\e9fa";
  color: #f46800;
}
.icon-graphcool:before {
  content: "\e9fb";
  color: #27ae60;
}
.icon-graphql:before {
  content: "\e9fc";
  color: #e10098;
}
.icon-grav:before {
  content: "\e9fd";
}
.icon-gravatar:before {
  content: "\e9fe";
  color: #1e8cbe;
}
.icon-greenkeeper:before {
  content: "\e9ff";
  color: #00c775;
}
.icon-groupon:before {
  content: "\ea00";
  color: #53a318;
}
.icon-gulp:before {
  content: "\ea01";
  color: #da4648;
}
.icon-gumroad:before {
  content: "\ea02";
  color: #36a9ae;
}
.icon-gumtree:before {
  content: "\ea03";
  color: #72ef36;
}
.icon-hackaday:before {
  content: "\ea04";
}
.icon-hackerearth:before {
  content: "\ea05";
  color: #323754;
}
.icon-hackerrank:before {
  content: "\ea06";
  color: #2ec866;
}
.icon-hackhands:before {
  content: "\ea07";
  color: #00acbd;
}
.icon-hackster:before {
  content: "\ea08";
  color: #1bacf7;
}
.icon-hashnode:before {
  content: "\ea09";
  color: #2962ff;
}
.icon-haskell:before {
  content: "\ea0a";
  color: #5d4f85;
}
.icon-hatenabookmark:before {
  content: "\ea0b";
  color: #00a4de;
}
.icon-here:before {
  content: "\ea0c";
  color: #48dad0;
}
.icon-heroku:before {
  content: "\ea0d";
  color: #430098;
}
.icon-hexo:before {
  content: "\ea0e";
  color: #0e83cd;
}
.icon-highly:before {
  content: "\ea0f";
  color: #ff3c00;
}
.icon-hipchat:before {
  content: "\ea10";
  color: #0052cc;
}
.icon-hockeyapp:before {
  content: "\ea11";
  color: #009ee1;
}
.icon-homify:before {
  content: "\ea12";
  color: #7dcda3;
}
.icon-hootsuite:before {
  content: "\ea13";
}
.icon-houzz:before {
  content: "\ea14";
  color: #7ac142;
}
.icon-html5:before {
  content: "\ea15";
  color: #e34f26;
}
.icon-huawei:before {
  content: "\ea16";
  color: #f00;
}
.icon-hubspot:before {
  content: "\ea17";
  color: #ff7a59;
}
.icon-hulu:before {
  content: "\ea18";
  color: #3dbb3d;
}
.icon-humblebundle:before {
  content: "\ea19";
  color: #cc2929;
}
.icon-icloud:before {
  content: "\ea1a";
  color: #3693f3;
}
.icon-iconjar:before {
  content: "\ea1b";
  color: #16a5f3;
}
.icon-icq:before {
  content: "\ea1c";
  color: #7ebd00;
}
.icon-ifixit:before {
  content: "\ea1d";
  color: #0071ce;
}
.icon-imdb:before {
  content: "\ea1e";
  color: #e6b91e;
}
.icon-inkscape:before {
  content: "\ea1f";
}
.icon-instacart:before {
  content: "\ea20";
  color: #43b02a;
}
.icon-instagram1:before {
  content: "\ea21";
  color: #e4405f;
}
.icon-instapaper:before {
  content: "\ea22";
}
.icon-intel:before {
  content: "\ea23";
  color: #0071c5;
}
.icon-intercom:before {
  content: "\ea24";
  color: #1f8ded;
}
.icon-internetexplorer:before {
  content: "\ea25";
  color: #0076d6;
}
.icon-invision:before {
  content: "\ea26";
  color: #f36;
}
.icon-ionic:before {
  content: "\ea27";
  color: #3880ff;
}
.icon-itch-dot-io:before {
  content: "\ea28";
  color: #fa5c5c;
}
.icon-jabber:before {
  content: "\ea29";
  color: #c00;
}
.icon-java:before {
  content: "\ea2a";
  color: #007396;
}
.icon-javascript:before {
  content: "\ea2b";
  color: #f7df1e;
}
.icon-jekyll:before {
  content: "\ea2c";
  color: #c00;
}
.icon-jenkins:before {
  content: "\ea2d";
  color: #d24939;
}
.icon-jest:before {
  content: "\ea2e";
  color: #c21325;
}
.icon-jira:before {
  content: "\ea2f";
}
.icon-joomla1:before {
  content: "\ea30";
  color: #5091cd;
}
.icon-jquery:before {
  content: "\ea31";
  color: #0769ad;
}
.icon-jsdelivr:before {
  content: "\ea32";
  color: #e84d3d;
}
.icon-jsfiddle:before {
  content: "\ea33";
  color: #4679a4;
}
.icon-json:before {
  content: "\ea34";
}
.icon-jupyter:before {
  content: "\ea35";
  color: #f37626;
}
.icon-justgiving:before {
  content: "\ea36";
  color: #ad29b6;
}
.icon-kaggle:before {
  content: "\ea37";
  color: #20beff;
}
.icon-kaios:before {
  content: "\ea38";
  color: #6f02b5;
}
.icon-kentico:before {
  content: "\ea39";
  color: #f05a22;
}
.icon-keybase:before {
  content: "\ea3a";
  color: #33a0ff;
}
.icon-keycdn:before {
  content: "\ea3b";
  color: #3686be;
}
.icon-khanacademy:before {
  content: "\ea3c";
  color: #9db63b;
}
.icon-kibana:before {
  content: "\ea3d";
  color: #005571;
}
.icon-kickstarter:before {
  content: "\ea3e";
  color: #2bde73;
}
.icon-kik:before {
  content: "\ea3f";
  color: #82bc23;
}
.icon-kirby:before {
  content: "\ea40";
  color: #ff0100;
}
.icon-klout:before {
  content: "\ea41";
  color: #e44600;
}
.icon-known:before {
  content: "\ea42";
}
.icon-ko-fi:before {
  content: "\ea43";
  color: #f16061;
}
.icon-koding:before {
  content: "\ea44";
  color: #00b057;
}
.icon-kotlin:before {
  content: "\ea45";
  color: #0095d5;
}
.icon-kubernetes:before {
  content: "\ea46";
  color: #326ce5;
}
.icon-lanyrd1:before {
  content: "\ea47";
  color: #3c80ca;
}
.icon-laravel:before {
  content: "\ea48";
  color: #e74430;
}
.icon-laravelhorizon:before {
  content: "\ea49";
  color: #405263;
}
.icon-last-dot-fm:before {
  content: "\ea4a";
  color: #d51007;
}
.icon-launchpad:before {
  content: "\ea4b";
  color: #f8c300;
}
.icon-leetcode:before {
  content: "\ea4c";
  color: #f89f1b;
}
.icon-letsencrypt:before {
  content: "\ea4d";
  color: #003a70;
}
.icon-letterboxd:before {
  content: "\ea4e";
  color: #00d735;
}
.icon-lgtm:before {
  content: "\ea4f";
  color: #fff;
}
.icon-liberapay:before {
  content: "\ea50";
  color: #f6c915;
}
.icon-librarything:before {
  content: "\ea51";
}
.icon-line:before {
  content: "\ea52";
  color: #00c300;
}
.icon-linewebtoon:before {
  content: "\ea53";
  color: #00d564;
}
.icon-linkedin1:before {
  content: "\ea54";
  color: #0077b5;
}
.icon-linux:before {
  content: "\ea55";
  color: #fcc624;
}
.icon-linuxfoundation:before {
  content: "\ea56";
  color: #009bee;
}
.icon-linuxmint:before {
  content: "\ea57";
  color: #87cf3e;
}
.icon-livejournal:before {
  content: "\ea58";
  color: #00b0ea;
}
.icon-livestream:before {
  content: "\ea59";
  color: #cf202e;
}
.icon-logstash:before {
  content: "\ea5a";
  color: #005571;
}
.icon-lua:before {
  content: "\ea5b";
  color: #2c2d72;
}
.icon-macys:before {
  content: "\ea5c";
  color: #e21a2c;
}
.icon-magento:before {
  content: "\ea5d";
  color: #ee672f;
}
.icon-magisk:before {
  content: "\ea5e";
  color: #00af9c;
}
.icon-mail-dot-ru:before {
  content: "\ea5f";
  color: #168de2;
}
.icon-mailchimp:before {
  content: "\ea60";
  color: #ffe01b;
}
.icon-makerbot:before {
  content: "\ea61";
  color: #ff1e0d;
}
.icon-manjaro:before {
  content: "\ea62";
  color: #35bf5c;
}
.icon-markdown:before {
  content: "\ea63";
}
.icon-marketo:before {
  content: "\ea64";
  color: #5c4c9f;
}
.icon-mastercard:before {
  content: "\ea65";
  color: #eb001b;
}
.icon-mastodon:before {
  content: "\ea66";
  color: #3088d4;
}
.icon-materialdesign:before {
  content: "\ea67";
  color: #757575;
}
.icon-mathworks:before {
  content: "\ea68";
  color: #0076a8;
}
.icon-matrix:before {
  content: "\ea69";
}
.icon-matternet:before {
  content: "\ea6a";
}
.icon-mediafire:before {
  content: "\ea6b";
  color: #1299f3;
}
.icon-mediatemple:before {
  content: "\ea6c";
}
.icon-medium:before {
  content: "\ea6d";
}
.icon-meetup:before {
  content: "\ea6e";
  color: #ed1c40;
}
.icon-mega:before {
  content: "\ea6f";
  color: #d9272e;
}
.icon-messenger:before {
  content: "\ea70";
  color: #00b2ff;
}
.icon-meteor:before {
  content: "\ea71";
  color: #de4f4f;
}
.icon-micro-dot-blog:before {
  content: "\ea72";
  color: #fd8308;
}
.icon-microgenetics:before {
  content: "\ea73";
  color: #f00;
}
.icon-microsoft:before {
  content: "\ea74";
  color: #666;
}
.icon-microsoftaccess:before {
  content: "\ea75";
  color: #ba141a;
}
.icon-microsoftazure:before {
  content: "\ea76";
  color: #0089d6;
}
.icon-microsoftedge:before {
  content: "\ea77";
  color: #0078d7;
}
.icon-microsoftexcel:before {
  content: "\ea78";
  color: #217346;
}
.icon-microsoftonedrive:before {
  content: "\ea79";
  color: #094ab2;
}
.icon-microsoftonenote:before {
  content: "\ea7a";
  color: #80397b;
}
.icon-microsoftoutlook:before {
  content: "\ea7b";
  color: #0072c6;
}
.icon-microsoftpowerpoint:before {
  content: "\ea7c";
  color: #d24726;
}
.icon-microsoftword:before {
  content: "\ea7d";
  color: #2b579a;
}
.icon-minutemailer:before {
  content: "\ea7e";
  color: #3abfe6;
}
.icon-mix:before {
  content: "\ea7f";
  color: #ff8126;
}
.icon-mixcloud:before {
  content: "\ea80";
  color: #314359;
}
.icon-mixer:before {
  content: "\ea81";
  color: #002050;
}
.icon-monero:before {
  content: "\ea82";
  color: #f60;
}
.icon-mongodb:before {
  content: "\ea83";
  color: #47a248;
}
.icon-monkeytie:before {
  content: "\ea84";
  color: #ffc619;
}
.icon-monogram:before {
  content: "\ea85";
  color: #fdb22a;
}
.icon-monzo:before {
  content: "\ea86";
}
.icon-moo:before {
  content: "\ea87";
  color: #00945e;
}
.icon-mozilla:before {
  content: "\ea88";
}
.icon-mozillafirefox:before {
  content: "\ea89";
  color: #ff9400;
}
.icon-mxlinux:before {
  content: "\ea8a";
}
.icon-myspace:before {
  content: "\ea8b";
}
.icon-mysql:before {
  content: "\ea8c";
  color: #4479a1;
}
.icon-nativescript:before {
  content: "\ea8d";
  color: #3655ff;
}
.icon-neo4j:before {
  content: "\ea8e";
  color: #008cc1;
}
.icon-netflix:before {
  content: "\ea8f";
  color: #e50914;
}
.icon-netlify:before {
  content: "\ea90";
  color: #00c7b7;
}
.icon-next-dot-js:before {
  content: "\ea91";
}
.icon-nextcloud:before {
  content: "\ea92";
  color: #0082c9;
}
.icon-nextdoor:before {
  content: "\ea93";
  color: #00b246;
}
.icon-nginx:before {
  content: "\ea94";
  color: #269539;
}
.icon-nintendo:before {
  content: "\ea95";
  color: #8f8f8f;
}
.icon-nintendogamecube:before {
  content: "\ea96";
  color: #6a5fbb;
}
.icon-nintendoswitch:before {
  content: "\ea97";
  color: #e60012;
}
.icon-node-dot-js:before {
  content: "\ea98";
  color: #393;
}
.icon-nodemon:before {
  content: "\ea99";
  color: #76d04b;
}
.icon-npm1:before {
  content: "\ea9a";
  color: #cb3837;
}
.icon-nucleo:before {
  content: "\ea9b";
  color: #766dcc;
}
.icon-nuget:before {
  content: "\ea9c";
  color: #004880;
}
.icon-nuxt-dot-js:before {
  content: "\ea9d";
  color: #00c58e;
}
.icon-nvidia:before {
  content: "\ea9e";
  color: #76b900;
}
.icon-octopusdeploy:before {
  content: "\ea9f";
  color: #2f93e0;
}
.icon-oculus:before {
  content: "\eaa0";
}
.icon-odnoklassniki:before {
  content: "\eaa1";
  color: #f4731c;
}
.icon-openaccess:before {
  content: "\eaa2";
  color: #f68212;
}
.icon-openstreetmap:before {
  content: "\eaa3";
  color: #7ebc6f;
}
.icon-opensuse:before {
  content: "\eaa4";
  color: #73ba25;
}
.icon-opera1:before {
  content: "\eaa5";
  color: #ff1b2d;
}
.icon-opsgenie:before {
  content: "\eaa6";
}
.icon-oracle:before {
  content: "\eaa7";
  color: #f80000;
}
.icon-origin:before {
  content: "\eaa8";
  color: #f56c2d;
}
.icon-osmc:before {
  content: "\eaa9";
}
.icon-overcast:before {
  content: "\eaaa";
  color: #fc7e0f;
}
.icon-ovh:before {
  content: "\eaab";
  color: #123f6d;
}
.icon-pagekit:before {
  content: "\eaac";
}
.icon-pandora:before {
  content: "\eaad";
  color: #005483;
}
.icon-patreon:before {
  content: "\eaae";
  color: #f96854;
}
.icon-paypal1:before {
  content: "\eaaf";
  color: #00457c;
}
.icon-periscope:before {
  content: "\eab0";
  color: #40a4c4;
}
.icon-php:before {
  content: "\eab1";
  color: #777bb4;
}
.icon-picarto-dot-tv:before {
  content: "\eab2";
  color: #1da456;
}
.icon-pinboard:before {
  content: "\eab3";
  color: #00f;
}
.icon-pingdom:before {
  content: "\eab4";
  color: #fff000;
}
.icon-pingup:before {
  content: "\eab5";
  color: #00b1ab;
}
.icon-pinterest1:before {
  content: "\eab6";
  color: #bd081c;
}
.icon-pivotaltracker:before {
  content: "\eab7";
  color: #517a9e;
}
.icon-plangrid:before {
  content: "\eab8";
  color: #0085de;
}
.icon-player-dot-me:before {
  content: "\eab9";
  color: #c0379a;
}
.icon-playstation:before {
  content: "\eaba";
  color: #003791;
}
.icon-playstation3:before {
  content: "\eabb";
  color: #003791;
}
.icon-playstation4:before {
  content: "\eabc";
  color: #003791;
}
.icon-plex:before {
  content: "\eabd";
  color: #e5a00d;
}
.icon-pluralsight:before {
  content: "\eabe";
  color: #f15b2a;
}
.icon-plurk:before {
  content: "\eabf";
  color: #ff574d;
}
.icon-pocket:before {
  content: "\eac0";
  color: #ef3f56;
}
.icon-podcasts:before {
  content: "\eac1";
  color: #93c;
}
.icon-postgresql:before {
  content: "\eac2";
  color: #336791;
}
.icon-postman:before {
  content: "\eac3";
  color: #ff6c37;
}
.icon-powershell:before {
  content: "\eac4";
  color: #5391fe;
}
.icon-prismic:before {
  content: "\eac5";
  color: #484a7a;
}
.icon-probot:before {
  content: "\eac6";
  color: #00b0d8;
}
.icon-processwire:before {
  content: "\eac7";
  color: #ef145f;
}
.icon-producthunt:before {
  content: "\eac8";
  color: #da552f;
}
.icon-proto-dot-io:before {
  content: "\eac9";
  color: #34a7c1;
}
.icon-protonmail:before {
  content: "\eaca";
  color: #8b89cc;
}
.icon-proxmox:before {
  content: "\eacb";
  color: #e57000;
}
.icon-pypi:before {
  content: "\eacc";
  color: #3775a9;
}
.icon-python:before {
  content: "\eacd";
  color: #3776ab;
}
.icon-qiita:before {
  content: "\eace";
  color: #55c500;
}
.icon-qualcomm:before {
  content: "\eacf";
  color: #3253dc;
}
.icon-quantcast:before {
  content: "\ead0";
}
.icon-quantopian:before {
  content: "\ead1";
  color: #c50000;
}
.icon-quora:before {
  content: "\ead2";
  color: #b92b27;
}
.icon-qwiklabs:before {
  content: "\ead3";
  color: #f5cd0e;
}
.icon-qzone:before {
  content: "\ead4";
  color: #fece00;
}
.icon-r:before {
  content: "\ead5";
  color: #276dc3;
}
.icon-rails:before {
  content: "\ead6";
  color: #c00;
}
.icon-raspberrypi:before {
  content: "\ead7";
  color: #c51a4a;
}
.icon-react:before {
  content: "\ead8";
  color: #61dafb;
}
.icon-readthedocs:before {
  content: "\ead9";
  color: #8ca1af;
}
.icon-reason:before {
  content: "\eada";
  color: #dd4b39;
}
.icon-redbubble:before {
  content: "\eadb";
  color: #e41321;
}
.icon-reddit1:before {
  content: "\eadc";
  color: #ff4500;
}
.icon-redhat:before {
  content: "\eadd";
  color: #e00;
}
.icon-redis:before {
  content: "\eade";
  color: #d82c20;
}
.icon-redux:before {
  content: "\eadf";
  color: #764abc;
}
.icon-renren1:before {
  content: "\eae0";
  color: #217dc6;
}
.icon-reverbnation:before {
  content: "\eae1";
  color: #e43526;
}
.icon-riot:before {
  content: "\eae2";
  color: #368bd6;
}
.icon-riseup:before {
  content: "\eae3";
  color: #5e9ee3;
}
.icon-rollup-dot-js:before {
  content: "\eae4";
  color: #ec4a3f;
}
.icon-roots:before {
  content: "\eae5";
  color: #525ddc;
}
.icon-rss1:before {
  content: "\eae6";
  color: #ffa500;
}
.icon-ruby:before {
  content: "\eae7";
  color: #cc342d;
}
.icon-rubygems:before {
  content: "\eae8";
  color: #e9573f;
}
.icon-runkeeper:before {
  content: "\eae9";
  color: #2dc9d7;
}
.icon-rust:before {
  content: "\eaea";
}
.icon-safari1:before {
  content: "\eaeb";
}
.icon-salesforce:before {
  content: "\eaec";
  color: #00a1e0;
}
.icon-samsung:before {
  content: "\eaed";
  color: #1428a0;
}
.icon-samsungpay:before {
  content: "\eaee";
  color: #1428a0;
}
.icon-sap:before {
  content: "\eaef";
  color: #008fd3;
}
.icon-sass:before {
  content: "\eaf0";
  color: #c69;
}
.icon-saucelabs:before {
  content: "\eaf1";
  color: #e2231a;
}
.icon-scala:before {
  content: "\eaf2";
  color: #dc322f;
}
.icon-scaleway:before {
  content: "\eaf3";
  color: #4f0599;
}
.icon-scribd:before {
  content: "\eaf4";
  color: #1a7bba;
}
.icon-scrutinizerci:before {
  content: "\eaf5";
  color: #8a9296;
}
.icon-sega:before {
  content: "\eaf6";
  color: #0089cf;
}
.icon-sellfy:before {
  content: "\eaf7";
  color: #21b352;
}
.icon-sensu:before {
  content: "\eaf8";
  color: #89c967;
}
.icon-sentry:before {
  content: "\eaf9";
  color: #fb4226;
}
.icon-serverfault:before {
  content: "\eafa";
  color: #e7282d;
}
.icon-shazam:before {
  content: "\eafb";
  color: #08f;
}
.icon-shopify:before {
  content: "\eafc";
  color: #7ab55c;
}
.icon-signal:before {
  content: "\eafd";
  color: #2592e9;
}
.icon-simpleicons:before {
  content: "\eafe";
}
.icon-sinaweibo:before {
  content: "\eaff";
  color: #e6162d;
}
.icon-sitepoint:before {
  content: "\eb00";
  color: #258aaf;
}
.icon-skyliner:before {
  content: "\eb01";
  color: #2fcea0;
}
.icon-skype1:before {
  content: "\eb02";
  color: #00aff0;
}
.icon-slack:before {
  content: "\eb03";
  color: #4a154b;
}
.icon-slashdot:before {
  content: "\eb04";
  color: #026664;
}
.icon-slickpic:before {
  content: "\eb05";
  color: #ff880f;
}
.icon-slides:before {
  content: "\eb06";
  color: #e4637c;
}
.icon-smashingmagazine:before {
  content: "\eb07";
  color: #e85c33;
}
.icon-snapchat:before {
  content: "\eb08";
  color: #fffc00;
}
.icon-snapcraft:before {
  content: "\eb09";
  color: #82bea0;
}
.icon-snyk:before {
  content: "\eb0a";
  color: #4c4a73;
}
.icon-society6:before {
  content: "\eb0b";
}
.icon-sogou:before {
  content: "\eb0c";
  color: #fb6022;
}
.icon-songkick:before {
  content: "\eb0d";
  color: #f80046;
}
.icon-soundcloud1:before {
  content: "\eb0e";
  color: #f30;
}
.icon-sourceforge:before {
  content: "\eb0f";
  color: #535353;
}
.icon-sourcegraph:before {
  content: "\eb10";
  color: #00b4f2;
}
.icon-spacemacs:before {
  content: "\eb11";
  color: #9266cc;
}
.icon-sparkfun:before {
  content: "\eb12";
  color: #e53525;
}
.icon-sparkpost:before {
  content: "\eb13";
  color: #fa6423;
}
.icon-spdx:before {
  content: "\eb14";
  color: #4398cc;
}
.icon-speakerdeck:before {
  content: "\eb15";
  color: #396;
}
.icon-spotify1:before {
  content: "\eb16";
  color: #1ed760;
}
.icon-spotlight:before {
  content: "\eb17";
  color: #352a71;
}
.icon-spreaker:before {
  content: "\eb18";
  color: #f5c300;
}
.icon-sprint:before {
  content: "\eb19";
  color: #ffce0a;
}
.icon-squarespace:before {
  content: "\eb1a";
}
.icon-stackexchange:before {
  content: "\eb1b";
  color: #1e5397;
}
.icon-stackoverflow1:before {
  content: "\eb1c";
  color: #fe7a16;
}
.icon-stackshare:before {
  content: "\eb1d";
  color: #0690fa;
}
.icon-stadia:before {
  content: "\eb1e";
  color: #cd2640;
}
.icon-statamic:before {
  content: "\eb1f";
}
.icon-staticman:before {
  content: "\eb20";
}
.icon-statuspage:before {
  content: "\eb21";
}
.icon-steam1:before {
  content: "\eb22";
}
.icon-steem:before {
  content: "\eb23";
  color: #4ba2f2;
}
.icon-steemit:before {
  content: "\eb24";
  color: #06d6a9;
}
.icon-stitcher:before {
  content: "\eb25";
}
.icon-storify:before {
  content: "\eb26";
  color: #3a98d9;
}
.icon-strava:before {
  content: "\eb27";
  color: #fc4c02;
}
.icon-stripe:before {
  content: "\eb28";
  color: #008cdd;
}
.icon-stubhub:before {
  content: "\eb29";
  color: #003168;
}
.icon-styleshare:before {
  content: "\eb2a";
}
.icon-stylus:before {
  content: "\eb2b";
}
.icon-sublimetext:before {
  content: "\eb2c";
}
.icon-subversion:before {
  content: "\eb2d";
  color: #809cc9;
}
.icon-superuser:before {
  content: "\eb2e";
  color: #2eace3;
}
.icon-swarm:before {
  content: "\eb2f";
  color: #ffa633;
}
.icon-swift:before {
  content: "\eb30";
  color: #fa7343;
}
.icon-symfony:before {
  content: "\eb31";
}
.icon-synology:before {
  content: "\eb32";
  color: #b6b5b6;
}
.icon-t-mobile:before {
  content: "\eb33";
  color: #e20074;
}
.icon-tails:before {
  content: "\eb34";
  color: #56347c;
}
.icon-tapas:before {
  content: "\eb35";
  color: #ffce00;
}
.icon-teamviewer:before {
  content: "\eb36";
  color: #0e8ee9;
}
.icon-ted:before {
  content: "\eb37";
  color: #e62b1e;
}
.icon-teespring:before {
  content: "\eb38";
  color: #39ace6;
}
.icon-telegram1:before {
  content: "\eb39";
  color: #2ca5e0;
}
.icon-tencentqq:before {
  content: "\eb3a";
  color: #eb1923;
}
.icon-tencentweibo:before {
  content: "\eb3b";
  color: #20b8e5;
}
.icon-tesla:before {
  content: "\eb3c";
  color: #c00;
}
.icon-themighty:before {
  content: "\eb3d";
  color: #d0072a;
}
.icon-themoviedatabase:before {
  content: "\eb3e";
  color: #01d277;
}
.icon-tidal:before {
  content: "\eb3f";
}
.icon-tiktok:before {
  content: "\eb40";
}
.icon-tinder:before {
  content: "\eb41";
  color: #ff6b6b;
}
.icon-todoist:before {
  content: "\eb42";
  color: #e44332;
}
.icon-toggl:before {
  content: "\eb43";
  color: #e01b22;
}
.icon-topcoder:before {
  content: "\eb44";
  color: #29a8e0;
}
.icon-toptal:before {
  content: "\eb45";
  color: #3863a0;
}
.icon-tor:before {
  content: "\eb46";
  color: #7e4798;
}
.icon-trainerroad:before {
  content: "\eb47";
  color: #e12726;
}
.icon-trakt:before {
  content: "\eb48";
  color: #ed1c24;
}
.icon-travisci:before {
  content: "\eb49";
  color: #3eaaaf;
}
.icon-treehouse:before {
  content: "\eb4a";
  color: #5fcf80;
}
.icon-trello1:before {
  content: "\eb4b";
  color: #0079bf;
}
.icon-tripadvisor:before {
  content: "\eb4c";
  color: #00af87;
}
.icon-trulia:before {
  content: "\eb4d";
  color: #53b50a;
}
.icon-tumblr1:before {
  content: "\eb4e";
  color: #36465d;
}
.icon-twilio:before {
  content: "\eb4f";
  color: #f22f46;
}
.icon-twitch1:before {
  content: "\eb50";
  color: #6441a4;
}
.icon-twitter1:before {
  content: "\eb51";
  color: #1da1f2;
}
.icon-twoo:before {
  content: "\eb52";
  color: #ff7102;
}
.icon-typescript:before {
  content: "\eb53";
  color: #007acc;
}
.icon-typo3:before {
  content: "\eb54";
  color: #ff8700;
}
.icon-uber:before {
  content: "\eb55";
}
.icon-ubisoft:before {
  content: "\eb56";
}
.icon-ubuntu:before {
  content: "\eb57";
  color: #e95420;
}
.icon-udacity:before {
  content: "\eb58";
  color: #01b3e3;
}
.icon-udemy:before {
  content: "\eb59";
  color: #ec5252;
}
.icon-uikit:before {
  content: "\eb5a";
  color: #2396f3;
}
.icon-umbraco:before {
  content: "\eb5b";
  color: #00bec1;
}
.icon-unity:before {
  content: "\eb5c";
}
.icon-unsplash:before {
  content: "\eb5d";
}
.icon-untappd:before {
  content: "\eb5e";
  color: #ffc000;
}
.icon-upwork:before {
  content: "\eb5f";
  color: #6fda44;
}
.icon-v8:before {
  content: "\eb60";
  color: #4b8bf5;
}
.icon-vagrant:before {
  content: "\eb61";
  color: #1563ff;
}
.icon-venmo:before {
  content: "\eb62";
  color: #3d95ce;
}
.icon-verizon:before {
  content: "\eb63";
  color: #cd040b;
}
.icon-viadeo:before {
  content: "\eb64";
  color: #f88d2d;
}
.icon-viber:before {
  content: "\eb65";
  color: #665cac;
}
.icon-vim:before {
  content: "\eb66";
  color: #019733;
}
.icon-vimeo1:before {
  content: "\eb67";
  color: #1ab7ea;
}
.icon-vine1:before {
  content: "\eb68";
  color: #11b48a;
}
.icon-virb:before {
  content: "\eb69";
  color: #0093da;
}
.icon-visa:before {
  content: "\eb6a";
  color: #142787;
}
.icon-visualstudiocode:before {
  content: "\eb6b";
  color: #007acc;
}
.icon-vk1:before {
  content: "\eb6c";
  color: #6383a8;
}
.icon-vlcmediaplayer:before {
  content: "\eb6d";
  color: #f80;
}
.icon-vsco:before {
  content: "\eb6e";
}
.icon-vue-dot-js:before {
  content: "\eb6f";
  color: #4fc08d;
}
.icon-wattpad:before {
  content: "\eb70";
  color: #f68d12;
}
.icon-weasyl:before {
  content: "\eb71";
  color: #900;
}
.icon-webcomponents-dot-org:before {
  content: "\eb72";
  color: #29abe2;
}
.icon-webpack:before {
  content: "\eb73";
  color: #8dd6f9;
}
.icon-webstorm:before {
  content: "\eb74";
  color: #00cdd7;
}
.icon-wechat:before {
  content: "\eb75";
  color: #7bb32e;
}
.icon-whatsapp1:before {
  content: "\eb76";
  color: #25d366;
}
.icon-wheniwork:before {
  content: "\eb77";
  color: #51a33d;
}
.icon-wii:before {
  content: "\eb78";
  color: #8b8b8b;
}
.icon-wiiu:before {
  content: "\eb79";
  color: #8b8b8b;
}
.icon-wikipedia1:before {
  content: "\eb7a";
}
.icon-windows1:before {
  content: "\eb7b";
  color: #0078d6;
}
.icon-wire:before {
  content: "\eb7c";
}
.icon-wix:before {
  content: "\eb7d";
  color: #faad4d;
}
.icon-wolfram:before {
  content: "\eb7e";
  color: #d10;
}
.icon-wolframlanguage:before {
  content: "\eb7f";
  color: #d10;
}
.icon-wolframmathematica:before {
  content: "\eb80";
  color: #d10;
}
.icon-wordpress1:before {
  content: "\eb81";
  color: #21759b;
}
.icon-wpengine:before {
  content: "\eb82";
  color: #40bac8;
}
.icon-x-pack:before {
  content: "\eb83";
  color: #005571;
}
.icon-xbox:before {
  content: "\eb84";
  color: #107c10;
}
.icon-xcode:before {
  content: "\eb85";
  color: #1575f9;
}
.icon-xero:before {
  content: "\eb86";
  color: #13b5ea;
}
.icon-xing1:before {
  content: "\eb87";
  color: #006567;
}
.icon-xsplit:before {
  content: "\eb88";
  color: #0095de;
}
.icon-yahoo1:before {
  content: "\eb89";
  color: #409;
}
.icon-yammer:before {
  content: "\eb8a";
  color: #0072c6;
}
.icon-yandex:before {
  content: "\eb8b";
  color: #f00;
}
.icon-yarn:before {
  content: "\eb8c";
  color: #2c8ebb;
}
.icon-ycombinator:before {
  content: "\eb8d";
  color: #f0652f;
}
.icon-yelp1:before {
  content: "\eb8e";
  color: #d32323;
}
.icon-youtube1:before {
  content: "\eb8f";
  color: #f00;
}
.icon-zapier:before {
  content: "\eb90";
  color: #ff4a00;
}
.icon-zeit:before {
  content: "\eb91";
}
.icon-zendesk:before {
  content: "\eb92";
}
.icon-zerply:before {
  content: "\eb93";
  color: #9dbc7a;
}
.icon-zillow:before {
  content: "\eb94";
  color: #0074e4;
}
.icon-zorin:before {
  content: "\eb95";
  color: #0cc1f3;
}
.icon-home:before {
  content: "\eb96";
}
.icon-home2:before {
  content: "\eb97";
}
.icon-home3:before {
  content: "\eb98";
}
.icon-office:before {
  content: "\eb99";
}
.icon-newspaper:before {
  content: "\eb9a";
}
.icon-pencil:before {
  content: "\eb9b";
}
.icon-pencil2:before {
  content: "\eb9c";
}
.icon-quill:before {
  content: "\eb9d";
}
.icon-pen:before {
  content: "\eb9e";
}
.icon-blog:before {
  content: "\eb9f";
}
.icon-eyedropper:before {
  content: "\eba0";
}
.icon-droplet:before {
  content: "\eba1";
}
.icon-paint-format:before {
  content: "\eba2";
}
.icon-image:before {
  content: "\eba3";
}
.icon-images:before {
  content: "\eba4";
}
.icon-camera:before {
  content: "\eba5";
}
.icon-headphones:before {
  content: "\eba6";
}
.icon-music:before {
  content: "\eba7";
}
.icon-play:before {
  content: "\eba8";
}
.icon-film:before {
  content: "\eba9";
}
.icon-video-camera:before {
  content: "\ebaa";
}
.icon-dice:before {
  content: "\ebab";
}
.icon-pacman:before {
  content: "\ebac";
}
.icon-spades:before {
  content: "\ebad";
}
.icon-clubs:before {
  content: "\ebae";
}
.icon-diamonds:before {
  content: "\ebaf";
}
.icon-bullhorn:before {
  content: "\ebb0";
}
.icon-connection:before {
  content: "\ebb1";
}
.icon-podcast:before {
  content: "\ebb2";
}
.icon-feed:before {
  content: "\ebb3";
}
.icon-mic:before {
  content: "\ebb4";
}
.icon-book:before {
  content: "\ebb5";
}
.icon-books:before {
  content: "\ebb6";
}
.icon-library:before {
  content: "\ebb7";
}
.icon-file-text:before {
  content: "\ebb8";
}
.icon-profile:before {
  content: "\ebb9";
}
.icon-file-empty:before {
  content: "\ebba";
}
.icon-files-empty:before {
  content: "\ebbb";
}
.icon-file-text2:before {
  content: "\ebbc";
}
.icon-file-picture:before {
  content: "\ebbd";
}
.icon-file-music:before {
  content: "\ebbe";
}
.icon-file-play:before {
  content: "\ebbf";
}
.icon-file-video:before {
  content: "\ebc0";
}
.icon-file-zip:before {
  content: "\ebc1";
}
.icon-copy:before {
  content: "\ebc2";
}
.icon-paste:before {
  content: "\ebc3";
}
.icon-stack:before {
  content: "\ebc4";
}
.icon-folder:before {
  content: "\ebc5";
}
.icon-folder-open:before {
  content: "\ebc6";
}
.icon-folder-plus:before {
  content: "\ebc7";
}
.icon-folder-minus:before {
  content: "\ebc8";
}
.icon-folder-download:before {
  content: "\ebc9";
}
.icon-folder-upload:before {
  content: "\ebca";
}
.icon-price-tag:before {
  content: "\ebcb";
}
.icon-price-tags:before {
  content: "\ebcc";
}
.icon-barcode:before {
  content: "\ebcd";
}
.icon-qrcode:before {
  content: "\ebce";
}
.icon-ticket:before {
  content: "\ebcf";
}
.icon-cart:before {
  content: "\ebd0";
}
.icon-coin-dollar:before {
  content: "\ebd1";
}
.icon-coin-euro:before {
  content: "\ebd2";
}
.icon-coin-pound:before {
  content: "\ebd3";
}
.icon-coin-yen:before {
  content: "\ebd4";
}
.icon-credit-card:before {
  content: "\ebd5";
}
.icon-calculator:before {
  content: "\ebd6";
}
.icon-lifebuoy:before {
  content: "\ebd7";
}
.icon-phone:before {
  content: "\ebd8";
}
.icon-phone-hang-up:before {
  content: "\ebd9";
}
.icon-address-book:before {
  content: "\ebda";
}
.icon-envelop:before {
  content: "\ebdb";
}
.icon-pushpin:before {
  content: "\ebdc";
}
.icon-location:before {
  content: "\ebdd";
}
.icon-location2:before {
  content: "\ebde";
}
.icon-compass:before {
  content: "\ebdf";
}
.icon-compass2:before {
  content: "\ebe0";
}
.icon-map:before {
  content: "\ebe1";
}
.icon-map2:before {
  content: "\ebe2";
}
.icon-history:before {
  content: "\ebe3";
}
.icon-clock:before {
  content: "\ebe4";
}
.icon-clock2:before {
  content: "\ebe5";
}
.icon-alarm:before {
  content: "\ebe6";
}
.icon-bell:before {
  content: "\ebe7";
}
.icon-stopwatch:before {
  content: "\ebe8";
}
.icon-calendar:before {
  content: "\ebe9";
}
.icon-printer:before {
  content: "\ebea";
}
.icon-keyboard:before {
  content: "\ebeb";
}
.icon-display:before {
  content: "\ebec";
}
.icon-laptop:before {
  content: "\ebed";
}
.icon-mobile:before {
  content: "\ebee";
}
.icon-mobile2:before {
  content: "\ebef";
}
.icon-tablet:before {
  content: "\ebf0";
}
.icon-tv:before {
  content: "\ebf1";
}
.icon-drawer:before {
  content: "\ebf2";
}
.icon-drawer2:before {
  content: "\ebf3";
}
.icon-box-add:before {
  content: "\ebf4";
}
.icon-box-remove:before {
  content: "\ebf5";
}
.icon-download:before {
  content: "\ebf6";
}
.icon-upload:before {
  content: "\ebf7";
}
.icon-floppy-disk:before {
  content: "\ebf8";
}
.icon-drive:before {
  content: "\ebf9";
}
.icon-database:before {
  content: "\ebfa";
}
.icon-undo:before {
  content: "\ebfb";
}
.icon-redo:before {
  content: "\ebfc";
}
.icon-undo2:before {
  content: "\ebfd";
}
.icon-redo2:before {
  content: "\ebfe";
}
.icon-forward:before {
  content: "\ebff";
}
.icon-reply:before {
  content: "\ec00";
}
.icon-bubble:before {
  content: "\ec01";
}
.icon-bubbles:before {
  content: "\ec02";
}
.icon-bubbles2:before {
  content: "\ec03";
}
.icon-bubble2:before {
  content: "\ec04";
}
.icon-bubbles3:before {
  content: "\ec05";
}
.icon-bubbles4:before {
  content: "\ec06";
}
.icon-user:before {
  content: "\ec07";
}
.icon-users:before {
  content: "\ec08";
}
.icon-user-plus:before {
  content: "\ec09";
}
.icon-user-minus:before {
  content: "\ec0a";
}
.icon-user-check:before {
  content: "\ec0b";
}
.icon-user-tie:before {
  content: "\ec0c";
}
.icon-quotes-left:before {
  content: "\ec0d";
}
.icon-quotes-right:before {
  content: "\ec0e";
}
.icon-hour-glass:before {
  content: "\ec0f";
}
.icon-spinner:before {
  content: "\ec10";
}
.icon-spinner2:before {
  content: "\ec11";
}
.icon-spinner3:before {
  content: "\ec12";
}
.icon-spinner4:before {
  content: "\ec13";
}
.icon-spinner5:before {
  content: "\ec14";
}
.icon-spinner6:before {
  content: "\ec15";
}
.icon-spinner7:before {
  content: "\ec16";
}
.icon-spinner8:before {
  content: "\ec17";
}
.icon-spinner9:before {
  content: "\ec18";
}
.icon-spinner10:before {
  content: "\ec19";
}
.icon-spinner11:before {
  content: "\ec1a";
}
.icon-binoculars:before {
  content: "\ec1b";
}
.icon-search:before {
  content: "\ec1c";
}
.icon-zoom-in:before {
  content: "\ec1d";
}
.icon-zoom-out:before {
  content: "\ec1e";
}
.icon-enlarge:before {
  content: "\ec1f";
}
.icon-shrink:before {
  content: "\ec20";
}
.icon-enlarge2:before {
  content: "\ec21";
}
.icon-shrink2:before {
  content: "\ec22";
}
.icon-key:before {
  content: "\ec23";
}
.icon-key2:before {
  content: "\ec24";
}
.icon-lock:before {
  content: "\ec25";
}
.icon-unlocked:before {
  content: "\ec26";
}
.icon-wrench:before {
  content: "\ec27";
}
.icon-equalizer:before {
  content: "\ec28";
}
.icon-equalizer2:before {
  content: "\ec29";
}
.icon-cog:before {
  content: "\ec2a";
}
.icon-cogs:before {
  content: "\ec2b";
}
.icon-hammer:before {
  content: "\ec2c";
}
.icon-magic-wand:before {
  content: "\ec2d";
}
.icon-aid-kit:before {
  content: "\ec2e";
}
.icon-bug:before {
  content: "\ec2f";
}
.icon-pie-chart:before {
  content: "\ec30";
}
.icon-stats-dots:before {
  content: "\ec31";
}
.icon-stats-bars:before {
  content: "\ec32";
}
.icon-stats-bars2:before {
  content: "\ec33";
}
.icon-trophy:before {
  content: "\ec34";
}
.icon-gift:before {
  content: "\ec35";
}
.icon-glass:before {
  content: "\ec36";
}
.icon-glass2:before {
  content: "\ec37";
}
.icon-mug:before {
  content: "\ec38";
}
.icon-spoon-knife:before {
  content: "\ec39";
}
.icon-leaf:before {
  content: "\ec3a";
}
.icon-rocket:before {
  content: "\ec3b";
}
.icon-meter:before {
  content: "\ec3c";
}
.icon-meter2:before {
  content: "\ec3d";
}
.icon-hammer2:before {
  content: "\ec3e";
}
.icon-fire:before {
  content: "\ec3f";
}
.icon-lab:before {
  content: "\ec40";
}
.icon-magnet:before {
  content: "\ec41";
}
.icon-bin:before {
  content: "\ec42";
}
.icon-bin2:before {
  content: "\ec43";
}
.icon-briefcase:before {
  content: "\ec44";
}
.icon-airplane:before {
  content: "\ec45";
}
.icon-truck:before {
  content: "\ec46";
}
.icon-road:before {
  content: "\ec47";
}
.icon-accessibility:before {
  content: "\ec48";
}
.icon-target:before {
  content: "\ec49";
}
.icon-shield:before {
  content: "\ec4a";
}
.icon-power:before {
  content: "\ec4b";
}
.icon-switch:before {
  content: "\ec4c";
}
.icon-power-cord:before {
  content: "\ec4d";
}
.icon-clipboard:before {
  content: "\ec4e";
}
.icon-list-numbered:before {
  content: "\ec4f";
}
.icon-list:before {
  content: "\ec50";
}
.icon-list2:before {
  content: "\ec51";
}
.icon-tree:before {
  content: "\ec52";
}
.icon-menu:before {
  content: "\ec53";
}
.icon-menu2:before {
  content: "\ec54";
}
.icon-menu3:before {
  content: "\ec55";
}
.icon-menu4:before {
  content: "\ec56";
}
.icon-cloud:before {
  content: "\ec57";
}
.icon-cloud-download:before {
  content: "\ec58";
}
.icon-cloud-upload:before {
  content: "\ec59";
}
.icon-cloud-check:before {
  content: "\ec5a";
}
.icon-download2:before {
  content: "\ec5b";
}
.icon-upload2:before {
  content: "\ec5c";
}
.icon-download3:before {
  content: "\ec5d";
}
.icon-upload3:before {
  content: "\ec5e";
}
.icon-sphere:before {
  content: "\ec5f";
}
.icon-earth:before {
  content: "\ec60";
}
.icon-link:before {
  content: "\ec61";
}
.icon-flag:before {
  content: "\ec62";
}
.icon-attachment:before {
  content: "\ec63";
}
.icon-eye:before {
  content: "\ec64";
}
.icon-eye-plus:before {
  content: "\ec65";
}
.icon-eye-minus:before {
  content: "\ec66";
}
.icon-eye-blocked:before {
  content: "\ec67";
}
.icon-bookmark:before {
  content: "\ec68";
}
.icon-bookmarks:before {
  content: "\ec69";
}
.icon-sun:before {
  content: "\ec6a";
}
.icon-contrast:before {
  content: "\ec6b";
}
.icon-brightness-contrast:before {
  content: "\ec6c";
}
.icon-star-empty:before {
  content: "\ec6d";
}
.icon-star-half:before {
  content: "\ec6e";
}
.icon-star-full:before {
  content: "\ec6f";
}
.icon-heart:before {
  content: "\ec70";
}
.icon-heart-broken:before {
  content: "\ec71";
}
.icon-man:before {
  content: "\ec72";
}
.icon-woman:before {
  content: "\ec73";
}
.icon-man-woman:before {
  content: "\ec74";
}
.icon-happy:before {
  content: "\ec75";
}
.icon-happy2:before {
  content: "\ec76";
}
.icon-smile:before {
  content: "\ec77";
}
.icon-smile2:before {
  content: "\ec78";
}
.icon-tongue:before {
  content: "\ec79";
}
.icon-tongue2:before {
  content: "\ec7a";
}
.icon-sad:before {
  content: "\ec7b";
}
.icon-sad2:before {
  content: "\ec7c";
}
.icon-wink:before {
  content: "\ec7d";
}
.icon-wink2:before {
  content: "\ec7e";
}
.icon-grin:before {
  content: "\ec7f";
}
.icon-grin2:before {
  content: "\ec80";
}
.icon-cool:before {
  content: "\ec81";
}
.icon-cool2:before {
  content: "\ec82";
}
.icon-angry:before {
  content: "\ec83";
}
.icon-angry2:before {
  content: "\ec84";
}
.icon-evil:before {
  content: "\ec85";
}
.icon-evil2:before {
  content: "\ec86";
}
.icon-shocked:before {
  content: "\ec87";
}
.icon-shocked2:before {
  content: "\ec88";
}
.icon-baffled:before {
  content: "\ec89";
}
.icon-baffled2:before {
  content: "\ec8a";
}
.icon-confused:before {
  content: "\ec8b";
}
.icon-confused2:before {
  content: "\ec8c";
}
.icon-neutral:before {
  content: "\ec8d";
}
.icon-neutral2:before {
  content: "\ec8e";
}
.icon-hipster:before {
  content: "\ec8f";
}
.icon-hipster2:before {
  content: "\ec90";
}
.icon-wondering:before {
  content: "\ec91";
}
.icon-wondering2:before {
  content: "\ec92";
}
.icon-sleepy:before {
  content: "\ec93";
}
.icon-sleepy2:before {
  content: "\ec94";
}
.icon-frustrated:before {
  content: "\ec95";
}
.icon-frustrated2:before {
  content: "\ec96";
}
.icon-crying:before {
  content: "\ec97";
}
.icon-crying2:before {
  content: "\ec98";
}
.icon-point-up:before {
  content: "\ec99";
}
.icon-point-right:before {
  content: "\ec9a";
}
.icon-point-down:before {
  content: "\ec9b";
}
.icon-point-left:before {
  content: "\ec9c";
}
.icon-warning:before {
  content: "\ec9d";
}
.icon-notification:before {
  content: "\ec9e";
}
.icon-question:before {
  content: "\ec9f";
}
.icon-plus:before {
  content: "\eca0";
}
.icon-minus:before {
  content: "\eca1";
}
.icon-info:before {
  content: "\eca2";
}
.icon-cancel-circle:before {
  content: "\eca3";
}
.icon-blocked:before {
  content: "\eca4";
}
.icon-cross:before {
  content: "\eca5";
}
.icon-checkmark:before {
  content: "\eca6";
}
.icon-checkmark2:before {
  content: "\eca7";
}
.icon-spell-check:before {
  content: "\eca8";
}
.icon-enter:before {
  content: "\eca9";
}
.icon-exit:before {
  content: "\ecaa";
}
.icon-play2:before {
  content: "\ecab";
}
.icon-pause:before {
  content: "\ecac";
}
.icon-stop:before {
  content: "\ecad";
}
.icon-previous:before {
  content: "\ecae";
}
.icon-next:before {
  content: "\ecaf";
}
.icon-backward:before {
  content: "\ecb0";
}
.icon-forward2:before {
  content: "\ecb1";
}
.icon-play3:before {
  content: "\ecb2";
}
.icon-pause2:before {
  content: "\ecb3";
}
.icon-stop2:before {
  content: "\ecb4";
}
.icon-backward2:before {
  content: "\ecb5";
}
.icon-forward3:before {
  content: "\ecb6";
}
.icon-first:before {
  content: "\ecb7";
}
.icon-last:before {
  content: "\ecb8";
}
.icon-previous2:before {
  content: "\ecb9";
}
.icon-next2:before {
  content: "\ecba";
}
.icon-eject:before {
  content: "\ecbb";
}
.icon-volume-high:before {
  content: "\ecbc";
}
.icon-volume-medium:before {
  content: "\ecbd";
}
.icon-volume-low:before {
  content: "\ecbe";
}
.icon-volume-mute:before {
  content: "\ecbf";
}
.icon-volume-mute2:before {
  content: "\ecc0";
}
.icon-volume-increase:before {
  content: "\ecc1";
}
.icon-volume-decrease:before {
  content: "\ecc2";
}
.icon-loop:before {
  content: "\ecc3";
}
.icon-loop2:before {
  content: "\ecc4";
}
.icon-infinite:before {
  content: "\ecc5";
}
.icon-shuffle:before {
  content: "\ecc6";
}
.icon-arrow-up-left:before {
  content: "\ecc7";
}
.icon-arrow-up:before {
  content: "\ecc8";
}
.icon-arrow-up-right:before {
  content: "\ecc9";
}
.icon-arrow-right:before {
  content: "\ecca";
}
.icon-arrow-down-right:before {
  content: "\eccb";
}
.icon-arrow-down:before {
  content: "\eccc";
}
.icon-arrow-down-left:before {
  content: "\eccd";
}
.icon-arrow-left:before {
  content: "\ecce";
}
.icon-arrow-up-left2:before {
  content: "\eccf";
}
.icon-arrow-up2:before {
  content: "\ecd0";
}
.icon-arrow-up-right2:before {
  content: "\ecd1";
}
.icon-arrow-right2:before {
  content: "\ecd2";
}
.icon-arrow-down-right2:before {
  content: "\ecd3";
}
.icon-arrow-down2:before {
  content: "\ecd4";
}
.icon-arrow-down-left2:before {
  content: "\ecd5";
}
.icon-arrow-left2:before {
  content: "\ecd6";
}
.icon-circle-up:before {
  content: "\ecd7";
}
.icon-circle-right:before {
  content: "\ecd8";
}
.icon-circle-down:before {
  content: "\ecd9";
}
.icon-circle-left:before {
  content: "\ecda";
}
.icon-tab:before {
  content: "\ecdb";
}
.icon-move-up:before {
  content: "\ecdc";
}
.icon-move-down:before {
  content: "\ecdd";
}
.icon-sort-alpha-asc:before {
  content: "\ecde";
}
.icon-sort-alpha-desc:before {
  content: "\ecdf";
}
.icon-sort-numeric-asc:before {
  content: "\ece0";
}
.icon-sort-numberic-desc:before {
  content: "\ece1";
}
.icon-sort-amount-asc:before {
  content: "\ece2";
}
.icon-sort-amount-desc:before {
  content: "\ece3";
}
.icon-command:before {
  content: "\ece4";
}
.icon-shift:before {
  content: "\ece5";
}
.icon-ctrl:before {
  content: "\ece6";
}
.icon-opt:before {
  content: "\ece7";
}
.icon-checkbox-checked:before {
  content: "\ece8";
}
.icon-checkbox-unchecked:before {
  content: "\ece9";
}
.icon-radio-checked:before {
  content: "\ecea";
}
.icon-radio-checked2:before {
  content: "\eceb";
}
.icon-radio-unchecked:before {
  content: "\ecec";
}
.icon-crop:before {
  content: "\eced";
}
.icon-make-group:before {
  content: "\ecee";
}
.icon-ungroup:before {
  content: "\ecef";
}
.icon-scissors:before {
  content: "\ecf0";
}
.icon-filter:before {
  content: "\ecf1";
}
.icon-font:before {
  content: "\ecf2";
}
.icon-ligature:before {
  content: "\ecf3";
}
.icon-ligature2:before {
  content: "\ecf4";
}
.icon-text-height:before {
  content: "\ecf5";
}
.icon-text-width:before {
  content: "\ecf6";
}
.icon-font-size:before {
  content: "\ecf7";
}
.icon-bold:before {
  content: "\ecf8";
}
.icon-underline:before {
  content: "\ecf9";
}
.icon-italic:before {
  content: "\ecfa";
}
.icon-strikethrough:before {
  content: "\ecfb";
}
.icon-omega:before {
  content: "\ecfc";
}
.icon-sigma:before {
  content: "\ecfd";
}
.icon-page-break:before {
  content: "\ecfe";
}
.icon-superscript:before {
  content: "\ecff";
}
.icon-subscript:before {
  content: "\ed00";
}
.icon-superscript2:before {
  content: "\ed01";
}
.icon-subscript2:before {
  content: "\ed02";
}
.icon-text-color:before {
  content: "\ed03";
}
.icon-pagebreak:before {
  content: "\ed04";
}
.icon-clear-formatting:before {
  content: "\ed05";
}
.icon-table:before {
  content: "\ed06";
}
.icon-table2:before {
  content: "\ed07";
}
.icon-insert-template:before {
  content: "\ed08";
}
.icon-pilcrow:before {
  content: "\ed09";
}
.icon-ltr:before {
  content: "\ed0a";
}
.icon-rtl:before {
  content: "\ed0b";
}
.icon-section:before {
  content: "\ed0c";
}
.icon-paragraph-left:before {
  content: "\ed0d";
}
.icon-paragraph-center:before {
  content: "\ed0e";
}
.icon-paragraph-right:before {
  content: "\ed0f";
}
.icon-paragraph-justify:before {
  content: "\ed10";
}
.icon-indent-increase:before {
  content: "\ed11";
}
.icon-indent-decrease:before {
  content: "\ed12";
}
.icon-share:before {
  content: "\ed13";
}
.icon-new-tab:before {
  content: "\ed14";
}
.icon-embed:before {
  content: "\ed15";
}
.icon-embed2:before {
  content: "\ed16";
}
.icon-terminal:before {
  content: "\ed17";
}
.icon-share2:before {
  content: "\ed18";
}
.icon-mail:before {
  content: "\ed19";
}
.icon-mail2:before {
  content: "\ed1a";
}
.icon-mail3:before {
  content: "\ed1b";
}
.icon-mail4:before {
  content: "\ed1c";
}
.icon-amazon:before {
  content: "\ed1d";
}
.icon-google:before {
  content: "\ed1e";
}
.icon-google2:before {
  content: "\ed1f";
}
.icon-google3:before {
  content: "\ed20";
}
.icon-google-plus:before {
  content: "\ed21";
}
.icon-google-plus2:before {
  content: "\ed22";
}
.icon-google-plus3:before {
  content: "\ed23";
}
.icon-hangouts:before {
  content: "\ed24";
}
.icon-google-drive:before {
  content: "\ed25";
}
.icon-facebook:before {
  content: "\ed26";
}
.icon-facebook2:before {
  content: "\ed27";
}
.icon-instagram:before {
  content: "\ed28";
}
.icon-whatsapp:before {
  content: "\ed29";
}
.icon-spotify:before {
  content: "\ed2a";
}
.icon-telegram:before {
  content: "\ed2b";
}
.icon-twitter:before {
  content: "\ed2c";
}
.icon-vine:before {
  content: "\ed2d";
}
.icon-vk:before {
  content: "\ed2e";
}
.icon-renren:before {
  content: "\ed2f";
}
.icon-sina-weibo:before {
  content: "\ed30";
}
.icon-rss:before {
  content: "\ed31";
}
.icon-rss2:before {
  content: "\ed32";
}
.icon-youtube:before {
  content: "\ed33";
}
.icon-youtube2:before {
  content: "\ed34";
}
.icon-twitch:before {
  content: "\ed35";
}
.icon-vimeo:before {
  content: "\ed36";
}
.icon-vimeo2:before {
  content: "\ed37";
}
.icon-lanyrd:before {
  content: "\ed38";
}
.icon-flickr:before {
  content: "\ed39";
}
.icon-flickr2:before {
  content: "\ed3a";
}
.icon-flickr3:before {
  content: "\ed3b";
}
.icon-flickr4:before {
  content: "\ed3c";
}
.icon-dribbble:before {
  content: "\ed3d";
}
.icon-behance:before {
  content: "\ed3e";
}
.icon-behance2:before {
  content: "\ed3f";
}
.icon-deviantart:before {
  content: "\ed40";
}
.icon-500px:before {
  content: "\ed41";
}
.icon-steam:before {
  content: "\ed42";
}
.icon-steam2:before {
  content: "\ed43";
}
.icon-dropbox:before {
  content: "\ed44";
}
.icon-onedrive:before {
  content: "\ed45";
}
.icon-github:before {
  content: "\ed46";
}
.icon-npm:before {
  content: "\ed47";
}
.icon-basecamp:before {
  content: "\ed48";
}
.icon-trello:before {
  content: "\ed49";
}
.icon-wordpress:before {
  content: "\ed4a";
}
.icon-joomla:before {
  content: "\ed4b";
}
.icon-ello:before {
  content: "\ed4c";
}
.icon-blogger:before {
  content: "\ed4d";
}
.icon-blogger2:before {
  content: "\ed4e";
}
.icon-tumblr:before {
  content: "\ed4f";
}
.icon-tumblr2:before {
  content: "\ed50";
}
.icon-yahoo:before {
  content: "\ed51";
}
.icon-yahoo2:before {
  content: "\ed52";
}
.icon-tux:before {
  content: "\ed53";
}
.icon-appleinc:before {
  content: "\ed54";
}
.icon-finder:before {
  content: "\ed55";
}
.icon-android:before {
  content: "\ed56";
}
.icon-windows:before {
  content: "\ed57";
}
.icon-windows8:before {
  content: "\ed58";
}
.icon-soundcloud:before {
  content: "\ed59";
}
.icon-soundcloud2:before {
  content: "\ed5a";
}
.icon-skype:before {
  content: "\ed5b";
}
.icon-reddit:before {
  content: "\ed5c";
}
.icon-hackernews:before {
  content: "\ed5d";
}
.icon-wikipedia:before {
  content: "\ed5e";
}
.icon-linkedin:before {
  content: "\ed5f";
}
.icon-linkedin2:before {
  content: "\ed60";
}
.icon-lastfm:before {
  content: "\ed61";
}
.icon-lastfm2:before {
  content: "\ed62";
}
.icon-delicious:before {
  content: "\ed63";
}
.icon-stumbleupon:before {
  content: "\ed64";
}
.icon-stumbleupon2:before {
  content: "\ed65";
}
.icon-stackoverflow:before {
  content: "\ed66";
}
.icon-pinterest:before {
  content: "\ed67";
}
.icon-pinterest2:before {
  content: "\ed68";
}
.icon-xing:before {
  content: "\ed69";
}
.icon-xing2:before {
  content: "\ed6a";
}
.icon-flattr:before {
  content: "\ed6b";
}
.icon-foursquare:before {
  content: "\ed6c";
}
.icon-yelp:before {
  content: "\ed6d";
}
.icon-paypal:before {
  content: "\ed6e";
}
.icon-chrome:before {
  content: "\ed6f";
}
.icon-firefox:before {
  content: "\ed70";
}
.icon-IE:before {
  content: "\ed71";
}
.icon-edge:before {
  content: "\ed72";
}
.icon-safari:before {
  content: "\ed73";
}
.icon-opera:before {
  content: "\ed74";
}
.icon-file-pdf:before {
  content: "\ed75";
}
.icon-file-openoffice:before {
  content: "\ed76";
}
.icon-file-word:before {
  content: "\ed77";
}
.icon-file-excel:before {
  content: "\ed78";
}
.icon-libreoffice:before {
  content: "\ed79";
}
.icon-html-five:before {
  content: "\ed7a";
}
.icon-html-five2:before {
  content: "\ed7b";
}
.icon-css3:before {
  content: "\ed7c";
}
.icon-git:before {
  content: "\ed7d";
}
.icon-codepen:before {
  content: "\ed7e";
}
.icon-svg:before {
  content: "\ed7f";
}
.icon-IcoMoon:before {
  content: "\ed80";
}
