{% macro render_field(field, labelPosition = "up") %}
    {% if labelPosition == "up" %}
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class="errors">
            {% for error in field.errors %}
                <li>{{error}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% elif labelPosition == "down" %}
        {{ field(**kwargs)|safe }}
            {% if field.errors %}
                <ul class="errors">
                {% for error in field.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {{ field.label }}
    {% elif labelPosition == None %}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class="errors">
            {% for error in field.errors %}
                <li>{{error}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro navbar_stile(style, categories, departments) %}
    {% if style == 1 %}
    <header id="masthead" class="site-header header-v3">
            <div class="container hidden-md-down" id="global-container">
                <div class="row">
                    <!-- ============================================================= Header Logo ============================================================= -->
                    <div class="header-logo">
                        <a href="{{ url_for('index') }}" class="header-logo-link">
                            <img src="{{ url_for('static', filename = 'img/RealmFly/Vertical Realm Logo.png') }}" alt="">
                        </a>
                    </div>
                    <!-- ============================================================= Header Logo : End============================================================= -->
                    <form class="navbar-search" method="get" action="/">
                        <label class="sr-only screen-reader-text" for="search">Search for:</label>
                        <div class="input-group">
                            <input type="text" id="search" class="form-control search-field" dir="ltr" value="" name="s" placeholder="Search for products" />
                            <div class="input-group-addon search-categories">
                                <select name='product_cat' id='product_cat' class='postform resizeselect'>
                                    <option value='0' selected='selected'>All Categories</option>
                                    {% for category in categories %}
                                        <option class="level-0" value="{{ category.name}}">{{ category.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group-btn">
                                <input type="hidden" id="search-param" name="post_type" value="product" />
                                <button type="submit" class="btn btn-secondary"><i class="ec ec-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip" id="navbar-content">
                        <li class="nav-item dropdown">
                            <a href="cart.html" class="nav-link" data-toggle="dropdown" id="shopping-bag">
                                <i class="ec ec-shopping-bag"></i>
                                <span class="cart-items-count count">[[ itemsCart ]]</span>
                                <span class="cart-items-total-price total-price">$<span class="amount">[[ (totalCartPrice).toFixed(2) ]]</span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-mini-cart">
                                <li>
                                    <div class="widget_shopping_cart_content">
                                        <ul class="cart_list product_list_widget" id="mini_cart_dropdown_list">
                                            <li v-for="miniItem of miniCartInfo" class="mini_cart_item" :key="miniItem[0]">
                                                <a title="Remove this item" class="remove" @click.prevent="deleteItemCart(miniItem[0])">×</a>
                                                <a :href="/Details/ + miniItem[0]" >
                                                    <img :src="/static/ + miniItem[3]" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
                                                    [[ miniItem[1] ]]&nbsp;
                                                </a>
                                                <span class="quantity">
                                                    <span class="amount">[[ miniItem[2] ]] × [[ miniItem[4] ]]</span>
                                                </span>
                                            </li>
                                        </ul><!-- end product list -->
                                        {# <p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p> #}
                                        <p class="buttons">
                                            <a class="" href="{{url_for('cart')}}">
                                                <button class="button wc-forward">View Cart</button>
                                            </a>
                                            {# <a href="{{url_for('checkout')}}">
                                                <button :disabled="cartBag.length == 0" class="button checkout wc-forward">Checkout</button>
                                            </a> #}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-wishlist nav navbar-nav pull-right flip">
                        <li class="nav-item">
                            <a href="{{url_for('wishlist')}}" class="nav-link"><i class="ec ec-favorites"></i></a>
                        </li>
                    </ul>
                    <ul class="navbar-compare nav navbar-nav pull-right flip">
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="tmp">{# <i class="ec ec-compare"></i> #}</a>
                        </li>
                    </ul>
                </div><!-- /.row -->
            </div>
            <div class="container hidden-lg-up">
                <div class="handheld-header">
                    <!-- ============================================================= Header Logo ============================================================= -->
                    <div class="header-logo">
                        <a href="{{ url_for('index') }}" class="header-logo-link">
                            <img src="{{ url_for('static', filename = 'img/RealmFly/Vertical Realm Logo.png') }}" alt="">
                        </a>
                    </div>
                    <!-- ============================================================= Header Logo : End============================================================= -->
                    <div class="handheld-navigation-wrapper">
                        <div class="handheld-navbar-toggle-buttons clearfix">
                            <button class="navbar-toggler navbar-toggle-hamburger hidden-lg-up pull-right flip" type="button">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <button class="navbar-toggler navbar-toggle-close hidden-lg-up pull-right flip" type="button">
                                <i class="ec ec-close-remove"></i>
                            </button>
                        </div>
                        <div class="handheld-navigation hidden-lg-up" id="default-hh-header">
                            <span class="ehm-close">Close</span>
                            <ul id="menu-all-departments-menu-1" class="nav nav-inline yamm">
                                <li class="highlight menu-item animate-dropdown ">
                                    <a title="Value of the Day" href="home-v2.html">Value of the Day</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown ">
                                    <a title="Top 100 Offers" href="home-v3.html">Top 100 Offers</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown ">
                                    <a title="New Arrivals" href="home-v3-full-color.html">New Arrivals</a>
                                </li>
                                {% for department in departments %}                                    
                                    <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown">
                                        <a title="Computers &amp; Accessories" href="product-category.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{department.name}}</a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item animate-dropdown ">
                                                <div class="yamm-content">
                                                    <div class="col-sm-6">
                                                        <ul>
                                                            {% for category in categories %}
                                                                {% if department.id == category.department_id %}
                                                                    <li><a href="{{url_for('products', filterBy = category.name)}}">{{category.name}}</a></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                                <a href="#">
                                                                    <span class="nav-text">{{department.name}}</span>
                                                                    <span class="nav-subtext">Discover more products</span>
                                                                </a>                                                            
                                                        </ul>
                                                    </div>
                                                    {# <div class="col-sm-6">
                                                        <ul>
                                                            <li class="nav-title">Office &amp; Stationery</li>
                                                            <li><a href="#">All Office &amp; Stationery</a></li>
                                                            <li><a href="#">Pens &amp; Writing</a></li>
                                                        </ul>
                                                    </div> #}
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- #masthead -->
        <nav class="navbar navbar-primary navbar-full yamm hidden-md-down" id="main-navbar">            
            <div class="container" id="navbar-container">
                <div class="clearfix">
                    <button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data-toggle="collapse" data-target="#header-v3">
                        &#9776;
                    </button>
                </div>                                
                <div class="collapse navbar-toggleable-xs" id="header-v3">
                    <div class="owl-carousel owl-theme" id="owl-carousel">
                        {% for department in departments %}
                            <a title="{{ department.name}}" href="{{ url_for('products', filterBy = department.name)}}"><div class="navbar-item">{{ department.name}}</div></a>
                        {% endfor %}
                    </div>
                    {# <ul class="nav navbar-nav">                        
                        {% for department in departments %}
                            <li class="menu-item"><a title="{{ department.name}}" href="{{ url_for('products', department = department.name)}}">{{ department.name}}</a></li>
                        {% endfor %}
                    </ul> #}
                </div><!-- /.collpase -->                
            </div><!-- /.-container -->            
        </nav><!-- /.navbar -->
    {% elif style == 2 %}
        <header id="masthead" class="site-header header-v2">
            <div class="container hidden-md-down" id="global-container">
                <div class="row">
                    <!-- ============================================================= Header Logo ============================================================= -->
                    <div class="header-logo">
                        <a href="{{ url_for('index') }}" class="header-logo-link">
                            <img src="{{ url_for('static', filename = 'img/RealmFly/Vertical Realm Logo.png') }}" alt="">
                        </a>
                    </div>
                    <!-- ============================================================= Header Logo : End============================================================= -->
                    <div class="primary-nav animate-dropdown">
                        <div class="clearfix">
                            <button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data-toggle="collapse" data-target="#default-header">
                                &#9776;
                            </button>
                        </div>
                        <div class="collapse navbar-toggleable-xs" id="default-header">
                            <nav>
                                <ul id="menu-main-menu" class="nav nav-inline yamm">
                                    <li class="menu-item"><a title="About Us" href="{{url_for('aboutus')}}">About Us</a></li>
                                    <li class="menu-item"><a title="FAQs" href="#">FAQs</a></li>
                                    <li class="menu-item"><a title="Contact Us" href="{{url_for('contact')}}">Contact Us</a></li>                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-support-info">
                        <div class="media">
                            <span class="media-left support-icon media-middle"><i class="ec ec-support"></i></span>
                            <div class="media-body">
                                <span class="support-number"><strong>Support</strong> (+801) 674 8239</span><br />
                                <span class="support-email">Email: Info@allstore.com</span>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div>
            <div class="container hidden-lg-up">
                <div class="handheld-header">
                    <!-- ============================================================= Header Logo ============================================================= -->
                    <div class="header-logo">
                        <a href="{{ url_for('index') }}" class="header-logo-link">
                            <img src="{{ url_for('static', filename = 'img/RealmFly/Vertical Realm Logo.png') }}" alt="">
                        </a>
                    </div>
                    <!-- ============================================================= Header Logo : End============================================================= -->
                    <div class="handheld-navigation-wrapper">
                        <div class="handheld-navbar-toggle-buttons clearfix">
                            <button class="navbar-toggler navbar-toggle-hamburger hidden-lg-up pull-right flip" type="button">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <button class="navbar-toggler navbar-toggle-close hidden-lg-up pull-right flip" type="button">
                                <i class="ec ec-close-remove"></i>
                            </button>
                        </div>
                        <div class="handheld-navigation hidden-lg-up" id="default-hh-header">
                            <span class="ehm-close">Close</span>
                            <ul id="menu-all-departments-menu-1" class="nav nav-inline yamm">
                                <li class="highlight menu-item animate-dropdown ">
                                    <a title="Value of the Day" href="home-v2.html">Value of the Day</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown ">
                                    <a title="Top 100 Offers" href="home-v3.html">Top 100 Offers</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown ">
                                    <a title="New Arrivals" href="home-v3-full-color.html">New Arrivals</a>
                                </li>
                                {% for department in departments %}                                    
                                    <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown">
                                        <a title="Computers &amp; Accessories" href="product-category.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{department.name}}</a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item animate-dropdown ">
                                                <div class="yamm-content">
                                                    <div class="col-sm-6">
                                                        <ul>
                                                            {% for category in categories %}
                                                                {% if department.id == category.department_id %}
                                                                    <li><a href="{{url_for('products', filterBy = category.name)}}">{{category.name}}</a></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                                <a href="#">
                                                                    <span class="nav-text">{{department.name}}</span>
                                                                    <span class="nav-subtext">Discover more products</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    {# <div class="col-sm-6">
                                                        <ul>
                                                            <li class="nav-title">Office &amp; Stationery</li>
                                                            <li><a href="#">All Office &amp; Stationery</a></li>
                                                            <li><a href="#">Pens &amp; Writing</a></li>
                                                        </ul>
                                                    </div> #}
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- #masthead -->
        <nav class="navbar navbar-primary navbar-full hidden-md-down">
            <div class="container">
                <ul class="nav navbar-nav departments-menu animate-dropdown">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="departments-menu-toggle">Shop by Department</a>
                        <ul id="menu-vertical-menu" class="dropdown-menu yamm departments-menu-dropdown">
                            <li class="highlight menu-item animate-dropdown active"><a title="Value of the Day" href="product-category.html">Value of the Day</a></li>
                            <li class="highlight menu-item animate-dropdown"><a title="Top 100 Offers" href="home-v3.html">Top 100 Offers</a></li>
                            <li class="highlight menu-item animate-dropdown"><a title="New Arrivals" href="home-v3-full-color-background.html">New Arrivals</a></li>
                            {% for department in departments %}
                                <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown menu-item-2584 dropdown">
                                    <a title="{{ department.name }}" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{ department.name }}</a>                           
                                    <ul role="menu" class=" dropdown-menu">
                                        <li class="menu-item animate-dropdown menu-item-object-static_block">
                                            <div class="yamm-content">
                                                {# <div class="vc_row row wpb_row vc_row-fluid bg-yamm-content bg-yamm-content-bottom bg-yamm-content-right">
                                                    <div class="wpb_column vc_column_container vc_col-sm-12 col-sm-12">
                                                        <div class="vc_column-inner ">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_single_image wpb_content_element vc_align_left">
                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="540" height="460" src="assets/images/megamenu-2.png" class="vc_single_image-img attachment-full" alt="megamenu-2"/></div>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> #}
                                                <div class="vc_row row wpb_row vc_row-fluid">
                                                    <div class="wpb_column vc_column_container vc_col-sm-6 col-sm-6">
                                                        <div class="vc_column-inner ">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_text_column wpb_content_element ">
                                                                    <div class="wpb_wrapper">
                                                                        <ul>
                                                                            {% for category in categories %}
                                                                                {% if category.department_id == department.id %}
                                                                                    <li><a href="{{url_for('products', filterBy = category.name)}}">{{category.name}}</a></li>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                            
                                                </div>
                                            </div>
                                        </li>
                                    </ul>                                        
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search" method="get" action="/">
                    <label class="sr-only screen-reader-text" for="search">Search for:</label>
                    <div class="input-group">
                        <input type="text" id="search" class="form-control search-field" dir="ltr" value="" name="s" placeholder="Search for products" />
                        <div class="input-group-addon search-categories">
                            <select name='product_cat' id='product_cat' class='postform resizeselect'>
                                <option value='0' selected='selected'>All Categories</option>
                                {% for category in categories %}
                                    <option class="level-0" value="{{ category.name}}">{{ category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group-btn">
                            <input type="hidden" id="search-param" name="post_type" value="product" />
                            <button type="submit" class="btn btn-secondary"><i class="ec ec-search"></i></button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip" id="navbar-content">
                    <li class="nav-item dropdown">
                        <a href="cart.html" class="nav-link" data-toggle="dropdown" id="shopping-bag">
                            <i class="ec ec-shopping-bag"></i>
                            <span class="cart-items-count count">[[ itemsCart ]]</span>
                            <span class="cart-items-total-price total-price">$<span class="amount$">[[ (totalCartPrice).toFixed(2) ]]</span></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-mini-cart">
                         <div class="widget_shopping_cart_content">
                                    <ul class="cart_list product_list_widget" id="mini_cart_dropdown_list">
                                        <li v-for="miniItem of miniCartInfo" class="mini_cart_item" :key="miniItem[0]">
                                            <a title="Remove this item" class="remove" href="#" @click.prevent="deleteItemCart(miniItem[0])">×</a>
                                            <a :href="/Details/ + miniItem[0]" >
                                                <img :src="/static/ + miniItem[3]" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
                                                [[ miniItem[1] ]]&nbsp;
                                            </a>
                                            <span class="quantity">
                                                <span class="amount">[[ miniItem[2] ]] × [[ miniItem[4] ]]</span>
                                            </span>
                                        </li>
                                    </ul><!-- end product list -->
                                    {# <p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p> #}
                                    <p class="buttons">
                                            <a class="" href="{{url_for('cart')}}">
                                                <button class="button wc-forward">View Cart</button>
                                            </a>
                                            {# <a href="{{url_for('checkout')}}">
                                                <button :disabled="cartBag.length == 0" class="button checkout wc-forward">Checkout</button>
                                            </a> #}
                                        </p>
                                </div>
                            </li>
                            {# <p class="buttons">
                                <a class="button wc-forward" href="{{url_for('cart')}}">View Cart</a>
                                <a class="button checkout wc-forward" href="checkout.html">Checkout</a>
                            </p> #}
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-wishlist nav navbar-nav pull-right flip">
                    <li class="nav-item">
                        <a href="{{url_for('wishlist')}}" class="nav-link"><i class="ec ec-favorites"></i></a>
                    </li>
                </ul>
                <ul class="navbar-compare nav navbar-nav pull-right flip">
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="tmp">{# <i class="ec ec-compare"></i> #}</a>
                    </li>
                </ul>
            </div>
        </nav>        
    {% endif %}
{% endmacro %}

{% macro breadcrumb(pages) %}
    <nav class="woocommerce-breadcrumb">
        {% for page, url in pages.items() %}
            {% if url != "" %}
                <a href="{{ url }}">{{page}}</a>
                {% if not loop.last %}
                    <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                {% endif %}
            {%else%}
                {{page}}
            {% endif %}
        {% endfor %}
    </nav>
{% endmacro %}