<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        All Store
        {% endif %}
    </title>
    <!-- Css Links -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/jquery-ui.css')}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/font-awesome.min.css')}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/iconmoon-style.css')}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/animate.min.css')}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/font-electro.css')}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/owl-carousel.css')}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css')}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/custom.css')}}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/colors/custom.css')}}" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/RealmFly/shortcut-icon-RealmFly.png') }}">
</head>
{# Global macros #}
{# Call nacbar_style macro #}
{% from '_macro.html.j2' import navbar_stile %}
{# Call breadcrumb macro #}
{% from '_macro.html.j2' import breadcrumb %}
{# Call render fields #}
{% from '_macro.html.j2' import render_field %}

<body class="{{body_style}}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible content-message {{message[0]}}" role="alert">
                <p>
                    <strong>{{message[1]}}</strong>
                    {{ message[2] }}
                </p>
                <p> {{ message[3] }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {%endwith%}
    <div id="page" class="hfeed site">
        <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <div class="top-bar hidden-md-down">
            <div class="container">
                <nav>
                    <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
                        <li class="menu-item animate-dropdown"><a title="Welcome to Worldwide Electronics Store" href="#">Welcome to the place to save money</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
                        <!-- <li class="menu-item animate-dropdown"><a title="Store Locator" href="#"><i class="ec ec-map-pointer"></i>Store Locator</a></li> -->
                        <li class="menu-item animate-dropdown"><a title="Track Your Order" href="track-your-order.html"><i class="ec ec-transport"></i>Track Your Order</a></li>
                        <li class="menu-item animate-dropdown"><a title="Shop" href="{{ url_for('products') }}"><i class="ec ec-shopping-bag"></i>Shop</a></li>
                        <li class="menu-item animate-dropdown"><a title="My Account" href="{{ url_for('myaccount') }}"><i class="ec ec-user"></i>My Account</a></li>
                    </ul>
                </nav>
            </div>
        </div><!-- /.top-bar -->
        {# Nacbar Style #}
        {% block navbar_style %}            
        {{ navbar_stile(navbarstyle, categories, departments)}}
        {% endblock %}
        {# Content Block #}
        <div tabindex="-1" class="site-content" id="content">
            {% block content %}
            {# Content Code here #}
            {% endblock %}
        </div>
        {# ////// ************** MODAL CONTAIN ************* //////// #}
        <div class="modal-mask" :style="{display: showModal}" @click="showModal = 'none'">
            <div class="modal_content">
                <div class="modal_header" v-for="value of modalContent.modalTitle" :class="value.class">
                    <button type="button" @click="showModal = 'none'" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">[[ value.text ]]</h4>
                </div>
                <div class="modal_body" v-html="modalContent.modalBody">                    
                </div>
                <div class="modal_footer row">
                    <div v-for="button of modalContent.modalButton" :class="button.col">
                        <button :class="button.class" @click="call(button.click, button.args)">
                            [[ button.text ]]
                        </button>
                    </div>
                </div>
            </div>
        </div>        
        {# ////// ************** END MODAL CONTAIN ************* //////// #}
        <footer id="colophon" class="site-footer">
            [[getCartInfo]]
            <!-- <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <aside class="widget clearfix">
                            <div class="body">
                                <h4 class="widget-title">Featured Products</h4>
                                <ul class="product_list_widget">
                                    <li>
                                        <a href="single-product.html" title="Tablet Thin EliteBook  Revolve 810 G6">
                                            <img class="wp-post-image" data-echo="assets/images/footer/1.jpg" src="assets/images/blank.gif" alt="">
                                            <span class="product-title">Tablet Thin EliteBook  Revolve 810 G6</span>
                                        </a>
                                        <span class="electro-price"><span class="amount">&#36;1,300.00</span></span>
                                    </li>

                                    <li>
                                        <a href="single-product.html" title="Smartphone 6S 128GB LTE">
                                            <img class="wp-post-image" data-echo="assets/images/footer/2.jpg" src="assets/images/blank.gif" alt=""><span class="product-title">Smartphone 6S 128GB LTE</span>
                                        </a>
                                        <span class="electro-price"><span class="amount">&#36;780.00</span></span>
                                    </li>

                                    <li>
                                        <a href="single-product.html" title="Smartphone 6S 64GB LTE">
                                            <img class="wp-post-image" data-echo="assets/images/footer/3.jpg" src="assets/images/blank.gif" alt="">
                                            <span class="product-title">Smartphone 6S 64GB LTE</span>
                                        </a>
                                        <span class="electro-price"><span class="amount">&#36;1,215.00</span></span>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <aside class="widget clearfix">
                            <div class="body"><h4 class="widget-title">Onsale Products</h4>
                                <ul class="product_list_widget">
                                    <li>
                                        <a href="single-product.html" title="Notebook Black Spire V Nitro  VN7-591G">
                                            <img class="wp-post-image" data-echo="assets/images/footer/3.jpg" src="assets/images/blank.gif" alt="">
                                            <span class="product-title">Notebook Black Spire V Nitro  VN7-591G</span>
                                        </a>
                                        <span class="electro-price"><ins><span class="amount">&#36;1,999.00</span></ins> <del><span class="amount">&#36;2,299.00</span></del></span>
                                    </li>

                                    <li>
                                        <a href="single-product.html" title="Tablet Red EliteBook  Revolve 810 G2">
                                            <img class="wp-post-image" data-echo="assets/images/footer/4.jpg" src="assets/images/blank.gif" alt="">
                                            <span class="product-title">Tablet Red EliteBook  Revolve 810 G2</span>
                                        </a>
                                        <span class="electro-price"><ins><span class="amount">&#36;1,999.00</span></ins> <del><span class="amount">&#36;2,299.00</span></del></span>
                                    </li>

                                    <li>
                                        <a href="single-product.html" title="Widescreen 4K SUHD TV">
                                            <img class="wp-post-image" data-echo="assets/images/footer/5.jpg" src="assets/images/blank.gif" alt="">
                                            <span class="product-title">Widescreen 4K SUHD TV</span>
                                        </a>
                                        <span class="electro-price"><ins><span class="amount">&#36;2,999.00</span></ins> <del><span class="amount">&#36;3,299.00</span></del></span>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <aside class="widget clearfix">
                            <div class="body">
                                <h4 class="widget-title">Top Rated Products</h4>
                                <ul class="product_list_widget">
                                    <li>
                                        <a href="single-product.html" title="Notebook Black Spire V Nitro  VN7-591G">
                                            <img class="wp-post-image" data-echo="assets/images/footer/6.jpg" src="assets/images/blank.gif" alt="">
                                            <span class="product-title">Notebook Black Spire V Nitro  VN7-591G</span>
                                        </a>
                                        <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>      <span class="electro-price"><ins><span class="amount">&#36;1,999.00</span></ins> <del><span class="amount">&#36;2,299.00</span></del></span>
                                    </li>

                                    <li>
                                        <a href="single-product.html" title="Apple MacBook Pro MF841HN/A 13-inch Laptop">
                                            <img class="wp-post-image" data-echo="assets/images/footer/7.jpg" src="assets/images/blank.gif" alt="">
                                            <span class="product-title">Apple MacBook Pro MF841HN/A 13-inch Laptop</span>
                                        </a>
                                        <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>      <span class="electro-price"><span class="amount">&#36;1,800.00</span></span>
                                    </li>

                                    <li>
                                        <a href="single-product.html" title="Tablet White EliteBook Revolve  810 G2">
                                            <img class="wp-post-image" data-echo="assets/images/footer/2.jpg" src="assets/images/blank.gif" alt="">
                                            <span class="product-title">Tablet White EliteBook Revolve  810 G2</span>
                                        </a>
                                        <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>      <span class="electro-price"><span class="amount">&#36;1,999.00</span></span>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div> -->
            <div class="footer-newsletter">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7">
                            <h5 class="newsletter-title">Sign up to Newsletter</h5>
                            <span class="newsletter-marketing-text">...and receive <strong>$20 coupon for first shopping</strong></span>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter your email address">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
                            <div class="columns">
                                <aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
                                    <div class="body">
                                        <h4 class="widget-title">Find It Fast</h4>
                                        <div class="menu-footer-menu-1-container">
                                            <ul id="menu-footer-menu-1" class="menu">
                                                <li class="menu-item"><a href="single-product.html">Laptops &#038; Computers</a></li>
                                                <li class="menu-item"><a href="single-product.html">Cameras &#038; Photography</a></li>
                                                <li class="menu-item"><a href="single-product.html">Smart Phones &#038; Tablets</a></li>
                                                <li class="menu-item"><a href="single-product.html">Video Games &#038; Consoles</a></li>
                                                <li class="menu-item"><a href="single-product.html">TV &#038; Audio</a></li>
                                                <li class="menu-item"><a href="single-product.html">Gadgets</a></li>
                                                <li class="menu-item "><a href="single-product.html">Car Electronic &#038; GPS</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div><!-- /.columns -->
                            <div class="columns">
                                <aside id="nav_menu-3" class="widget clearfix widget_nav_menu">
                                    <div class="body">
                                        <h4 class="widget-title">&nbsp;</h4>
                                        <div class="menu-footer-menu-2-container">
                                            <ul id="menu-footer-menu-2" class="menu">
                                                <li class="menu-item"><a href="single-product.html">Printers &#038; Ink</a></li>
                                                <li class="menu-item "><a href="single-product.html">Software</a></li>
                                                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2742"><a href="single-product.html">Office Supplies</a></li>
                                                <li class="menu-item "><a href="single-product.html">Computer Components</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div><!-- /.columns -->
                            <div class="columns">
                                <aside id="nav_menu-4" class="widget clearfix widget_nav_menu">
                                    <div class="body">
                                        <h4 class="widget-title">Customer Care</h4>
                                        <div class="menu-footer-menu-3-container">
                                            <ul id="menu-footer-menu-3" class="menu">
                                                <li class="menu-item"><a href="single-product.html">My Account</a></li>
                                                <li class="menu-item"><a href="single-product.html">Track your Order</a></li>
                                                <li class="menu-item"><a href="single-product.html">Wishlist</a></li>
                                                <li class="menu-item"><a href="single-product.html">Customer Service</a></li>
                                                <li class="menu-item"><a href="single-product.html">Returns/Exchange</a></li>
                                                <li class="menu-item"><a href="single-product.html">FAQs</a></li>
                                                <li class="menu-item"><a href="hsingle-product.html">Product Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div><!-- /.columns -->
                        </div><!-- /.col -->
                        <div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">
                            <div class="footer-logo">
                                <img src="{{ url_for('static', filename = 'img/RealmFly/Vertical Realm Logo.png') }}" alt="">
                            </div><!-- /.footer-contact -->
                            <div class="footer-call-us">
                                <div class="media">
                                    <span class="media-left call-us-icon media-middle"><i class="ec ec-support"></i></span>
                                    <div class="media-body">
                                        <span class="call-us-text">Got Questions ? Call us 24/7!</span>
                                        <span class="call-us-number">(800) 8001-8588, (0600) 874 548</span>
                                    </div>
                                </div>
                            </div><!-- /.footer-call-us -->
                            <div class="footer-address">
                                <strong class="footer-address-title">Contact Info</strong>
                                <address>17 Princess Road, London, Greater London NW1 8JR, UK</address>
                            </div><!-- /.footer-address -->
                            <div class="footer-social-icons">
                                <ul class="social-icons list-unstyled">
                                    <li><a class="fa fa-facebook" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                                    <li><a class="fa fa-twitter" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                                    <li><a class="fa fa-pinterest" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                                    <li><a class="fa fa-linkedin" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                                    <li><a class="fa fa-google-plus" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                                    <li><a class="fa fa-tumblr" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                                    <li><a class="fa fa-instagram" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                                    <li><a class="fa fa-youtube" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                                    <li><a class="fa fa-rss" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-bar">
                <div class="container">
                    <div class="pull-left flip copyright">&copy; <a href="http://demo2.transvelo.in/html/electro/">All Store</a> - All Rights Reserved</div>
                    <div class="pull-right flip payment">
                        <div class="footer-payment-logo">
                            <ul class="cash-card card-inline">
                                <span class="icon-google1"></span>
                                <li class="card-item"><img src="{{url_for('static', filename = 'img/payments/2.png')}}" alt="" width="52"></li>
                                <li class="card-item"><img src="{{url_for('static', filename = 'img/payments/3.png')}}" alt="" width="52"></li>
                                <li class="card-item"><img src="{{url_for('static', filename = 'img/payments/5.png')}}" alt="" width="52"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JS Links -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/vue.js') }}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/functions.js') }}"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-hover-dropdown.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/echo.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/wow.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/electro.js') }}"></script>
</body>

</html>