{% extends "base.html.j2" %}
{% block content %}
<div class="container" id="cart">
    {{ breadcrumb( {"Home" : url_for('index'), "Cart" : ""} ) }}
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <article class="page type-page status-publish hentry">
                <header class="entry-header">
                    <h1 itemprop="name" class="entry-title">Cart</h1>
                </header><!-- .entry-header -->
                <table class="shop_table shop_table_responsive cart">
                    <thead>
                        <tr>
                            <th class="product-remove">&nbsp;</th>
                            <th class="product-thumbnail">&nbsp;</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart_item" v-for="item, index in response">
                            <td class="product-remove">
                                <a @click.prevent="deleteItemCart(item[0])" class="remove" href="#" id="remove_item_cart">×</a>
                            </td>
                            <td class="product-thumbnail">
                                <a href="single-product.html">
                                    <img width="180" height="180" :src="/static/ + item[3]" alt="">
                                </a>
                            </td>
                            <td data-title="Product" class="product-name">
                                <a :href="/Details/ + item[0]"> [[ item[1] ]] </a>
                            </td>
                            <td data-title="Price" class="product-price">
                                $<span class="amount"> [[ item[2] ]] </span>
                            </td>
                            <td data-title="Quantity" class="product-quantity">
                                <div class="quantity buttons_added">
                                    <input type="button" class="minus" value="-" @click="updateCart(item[0], '-')">
                                    <label>Quantity:</label>
                                    <input type="number" size="4" class="input-text qty text" title="Qty" v-model.number="item[4]" max="29" min="0" step="1">
                                    <input type="button" class="plus" value="+" @click="updateCart(item[0], '+')">
                                </div>
                            </td>
                            <td data-title="Total" class="product-subtotal">
                                $<span class="amount"> [[ (item[2] * item[4]).toFixed(2) ]]</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="actions" colspan="6">
                                <div class="cart-collaterals">
                                    [[loadCartPage]]
                                    <div class="cart_totals ">
                                        <h2>Cart Totals</h2>
                                        <table class="shop_table shop_table_responsive">
                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td data-title="Subtotal">
                                                        $<span class="amount">[[ (totalCartPrice).toFixed(2) ]]</span>
                                                    </td>
                                                </tr>
                                                <tr class="shipping">
                                                    <th>Shipping</th>
                                                    <td data-title="Shipping">Flat Rate: <span class="amount">$[[ countryPrice ]]</span> 
                                                        <p><a data-toggle="collapse" aria-controls="calculator" href="#calculator" aria-expanded="false" class="shipping-calculator-button">Calculate Shipping</a></p>
                                                        <div id="calculator" class="shipping-calculator-form collapse">
                                                            <p id="calc_shipping_country_field" class="form-row form-row-wide">
                                                                {{render_field(form.Country, None, class="country_to_state", **{'v-model' : 'countryCode'})}}  
                                                            </p>
                                                            <p id="calc_shipping_postcode_field" class="form-row form-row-wide validate-required">
                                                                {{render_field(form.ZipCode, None, class="input-text", placeholder="Postcode / ZIP", **{'v-model' : 'countryZip','@keydown':'inputMask'})}}
                                                                <p class="text-danger" id="zipError"></p>
                                                            </p>
                                                            <button class="button" value="1" name="calc_shipping" type="submit" @click="calculate_shipping">Update Totals</button></p>
                                                            <input type="hidden" value="1eafc42c5e" name="_wpnonce"><input type="hidden" value="/electro/cart/" name="_wp_http_referer">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td data-title="Total"><strong v-if="countryPrice != undefined">$<span class="amount"></span>
                                                    [[ (totalCartPrice + countryPrice).toFixed(2) ]]</strong> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="actions" colspan="6">
                                <div class="coupon">
                                    <label for="coupon_code">Coupon:</label> <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code"> <input type="button" value="Apply Coupon" name="apply_coupon" class="button">
                                </div>
                                {# <input type="submit" value="Update Cart" name="update_cart" class="button"> #}
                                <div class="wc-proceed-to-checkout">
                                    <a :href="'/checkout/' + countryCode + '/' + countryZip">
                                        <button class="checkout-button button" 
                                        :disabled="countryCode == undefined || countryZip == undefined || countryPrice == undefined || countryZip.length < 5" :title="[(countryCode == undefined || countryZip == undefined || countryPrice == undefined) ? 'Calculate Shipping First' : '']">
                                            Proceed to Checkout
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {# <div class="cart-collaterals">
                    [[loadCartPage]]
                    <div class="cart_totals ">
                        <h2>Cart Totals</h2>
                        <table class="shop_table shop_table_responsive">
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th>Subtotal</th>
                                    <td data-title="Subtotal">
                                        $<span class="amount">[[ totalCartPrice ]]</span>
                                    </td>
                                </tr>
                                <tr class="shipping">
                                    <th>Shipping</th>
                                    <td data-title="Shipping">Flat Rate: <span class="amount">$[[ countryPrice ]]</span> <input type="hidden" class="shipping_method" value="international_delivery" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                        <p><a data-toggle="collapse" aria-controls="calculator" href="#calculator" aria-expanded="false" class="shipping-calculator-button">Calculate Shipping</a></p>
                                        <div id="calculator" class="shipping-calculator-form collapse">
                                            <p id="calc_shipping_country_field" class="form-row form-row-wide">
                                                <select rel="calc_shipping_state" class="country_to_state" name="calc_shipping_country" v-model="countryUpdate">
                                                    <option selected="selected" disabled value="none">Please select one</option>
                                                    <option v-for="country in countries" v-bind:value="country.value">
                                                        [[country.text]]
                                                    </option>

                                                </select>
                                            </p>
                                            <p id="calc_shipping_postcode_field" class="form-row form-row-wide validate-required">
                                                <input type="text" id="calc_shipping_postcode" name="calc_shipping_postcode" placeholder="Postcode / ZIP" value="" class="input-text">
                                            </p>
                                            <button class="button" value="1" name="calc_shipping" type="submit" @click="calculate_distance">Update Totals</button></p>
                                            <input type="hidden" value="1eafc42c5e" name="_wpnonce"><input type="hidden" value="/electro/cart/" name="_wp_http_referer">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td data-title="Total"><strong>$<span class="amount"></span>[[ totalCartPrice + countryPrice ]]</strong> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> #}
            </article>
        </main>
    </div>
</div>
{% endblock %}