{% extends "base.html.j2" %}
{% block content %}
<div class="container">
    {{ breadcrumb( {"Home" : url_for('index'), "Checkout" : ""} ) }}
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <form action="/checkoutProccess" method="post" id="payment-form" @submit.prevent="sendCheckout">
                <article class="page type-page status-publish hentry">
                    [[loadCheckoutPage]]
                    <header class="entry-header">
                        <h1 itemprop="name" class="entry-title">Checkout</h1>
                    </header><!-- .entry-header -->
                    <div id="customer_details" class="col2-set">
                        <div class="col-1">
                            <div class="woocommerce-billing-fields">
                                <h3>Billing Details</h3>
                                <p id="billing_first_name_field" class="form-row form-row form-row-first validate-required">
                                    {{render_field(form.FirstName, class="form-control", **{'v-model' : 'checkoutFields.customerName'})}}
                                </p>
                                <p id="billing_last_name_field" class="form-row form-row form-row-last validate-required">
                                    {{render_field(form.LastName,class="form-control", **{'v-model' : 'checkoutFields.customerLast'})}}
                                </p>
                                <div class="clear"></div>
                                <p id="billing_email_field" class="form-row form-row form-row-first validate-required validate-email">
                                    {{render_field(form.Email,class="form-control", **{'v-model' : 'checkoutFields.customerEmail'})}}
                                </p>
                                <p id="billing_phone_field" class="form-row form-row form-row-last validate-required validate-phone">
                                    {{render_field(form.PhoneNumber,class="form-control", **{'v-model' : 'checkoutFields.customerPhone'})}}
                                </p>
                                <div class="clear"></div>
                                <p id="billing_address_1_field" class="form-row form-row form-row-wide address-field validate-required">
                                    {{render_field(form.Address,class="form-control", placeholder="Street address" , **{'v-model' : 'checkoutFields.customerAddress'})}}
                                </p>
                                <p id="billing_address_2_field" class="form-row form-row form-row-wide address-field">
                                    {{render_field(form.AddressDescription, None,class="form-control", placeholder="Apartment, suite, unit etc. (optional)", **{'v-model' : 'checkoutFields.customerAddressDes'})}}
                                </p>
                                <p id="billing_address_country" class="form-row form-row form-row-wide address-field">
                                    {{render_field(form.Country,class="form-control select-check-option", disabled="disabled")}}
                                </p>
                                <p id="billing_city_field" class="form-row form-row form-row-first address-field validate-required" data-o_class="form-row form-row form-row-wide address-field validate-required">
                                    {{render_field(form.City,class="form-control", **{'v-model' : 'checkoutFields.customerCity'}) }}
                                </p>
                                <p id="billing_state_field" class="form-row form-row form-row-last validate-required">
                                    {{render_field(form.State,class="form-control select-check-option", disabled="disabled", **{'v-model' : 'checkoutFields.customerState'})}}
                                </p>
                                <div class="clear"></div>
                                <p class="form-row form-row-wide create-account">
                                    {{render_field(form.HaveAccount, "down", class="input-checkbox")}}
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <h3>Shipping Details</h3>
                            <div class="woocommerce-shipping-fields">
                                <h3 id="ship-to-different-address">
                                    {{render_field(form.ZipDiffeAddress, "down", class="input-checkbox")}}
                                </h3>
                                <p id="order_comments_field" class="form-row form-row notes">
                                    {{render_field(form.OrderNotes, class="input-text",placeholder="Notes about your order, e.g. special notes for delivery.", cols="5", rows="2")}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <h3 id="order_review_heading">Your order</h3>
                    <div class="woocommerce-checkout-review-order" id="order_review">
                        <table class="shop_table woocommerce-checkout-review-order-table">
                            <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart_item" v-for="item of response">
                                    <td class="product-name">
                                        [[ item[1] ]]&nbsp;
                                        <strong class="product-quantity">× [[ item[4] ]]</strong>
                                    </td>
                                    <td class="product-total">
                                        <span class="amount">$[[ item[2] * item[4] ]]</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Subtotal</th>
                                    <td><span class="amount">$[[ totalCartPrice ]]</span></td>
                                </tr>
                                <tr class="shipping">
                                    <th>Shipping</th>
                                    <td data-title="Shipping">Flat Rate: <span class="amount">$[[ (countryPrice).toFixed(2) ]]</span> <input type="hidden" class="shipping_method" value="international_delivery" id="shipping_method_0" data-index="0" name="shipping_method[0]"></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td><strong><span class="amount">$[[ (totalCartPrice + countryPrice).toFixed(2) ]]</span></strong> </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="woocommerce-checkout-payment" id="payment">
                                <ul class="wc_payment_methods payment_methods methods">
                                    <li class="wc_payment_method payment_method_card">
                                        <input type="radio" v-model="paymentMethod" value="card" name="payment_method" class="input-radio" id="payment_method_card" @click="createCheckoutForm">
                                        <label for="payment_method_cheque">Credit or Debit Card</label>
                                        <div :style="[paymentMethod == 'card' ? {display: 'block'} : {display: 'none'}]" class="payment_box payment_method_card">
                                            <div id="card-element">
                                              <!-- A Stripe Element will be inserted here. -->
                                            </div>
                                            <!-- Used to display form errors. -->
                                            <div id="card-errors" class="text-danger" role="alert"></div>
                                        </div>
                                    </li>
                                    <li class="wc_payment_method payment_method_paypal">
                                        <input type="radio" v-model="paymentMethod" data-order_button_text="Proceed to PayPal" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal">
                                        <label for="payment_method_paypal">PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg">
                                            <a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/us/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/us/webapps/mpp/paypal-popup">What is PayPal?</a>
                                        </label>
                                        <div :style="[paymentMethod == 'paypal' ? {display: 'block'} : {display: 'none'}]" class="payment_box">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure sed sapiente omnis, dicta at. Dolore labore voluptas nam maxime atque, architecto. Nisi ab atque molestias modi fuga accusantium officiis facilis saepe magni. Eligendi minima doloremque voluptatibus itaque optio repellat sit consectetur molestias eveniet dolorum iure repellendus atque debitis assumenda unde distinctio, illum vero pariatur commodi sequi animi, dolor architecto soluta fuga quae. Excepturi et quos pariatur qui atque possimus ut incidunt blanditiis ex necessitatibus voluptas quam veniam deserunt, esse magnam. Sunt sequi cumque tempore, odit! Nam distinctio modi vero omnis laboriosam labore harum assumenda eos? Dignissimos placeat fugit, illo voluptatum deleniti soluta aspernatur vitae, magni commodi modi. Nulla reprehenderit quibusdam perferendis tenetur, id doloribus provident explicabo culpa nihil repellendus iure saepe nisi quisquam dolorum velit quod officiis sequi fugiat rem ratione repudiandae doloremque laboriosam blanditiis in sit! Reprehenderit doloremque tempore molestias, aut laboriosam a nihil quaerat, recusandae illo odit eos?</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="form-row place-order">
                                    <p class="form-row terms wc-terms-and-conditions">
                                        <input type="checkbox" :disabled="paymentMethod == false" v-model="termsCondition" id="terms" name="terms" class="input-checkbox">
                                        <label class="checkbox" for="terms">I’ve read and accept the <a target="_blank" href="terms-and-conditions.html">terms &amp; conditions</a> <span class="required">*</span></label>
                                        <input type="hidden" value="1" name="terms-field">
                                    </p>
                                    <input :disabled="termsCondition == false" type="submit" data-value="Place order" value="Place order" class="button alt">
                                </div>
                        </div>
                    </div>
                </article>
            </form>
        </main>
    </div>
</div>
{% endblock %}