{% extends "base.html.j2" %}
{% block content %}
{% if product %}
{% for detail in product %}
<div class="container">
    {{ breadcrumb( {"Home" : url_for('index'), detail[8] : url_for('products', category = detail[8]) } ) }}
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="product" id="Product_{{detail[0]}}">
                <div class="single-product-wrapper">
                    <div class="product-images-wrapper">
                        {# <span class="onsale">Sale!</span> #}
                        <div class="images electro-gallery">
                            {% if product_images %}
                            <div class="thumbnails-single owl-carousel">
                                <a href="{{url_for('static', filename = detail.cover_image) }}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]">
                                    <img src="{{url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = detail.cover_image)}}" class="wp-post-image" alt="">
                                </a>
                                {# Here we are showing all the product's picture #}
                                {% for image in product_images %}
                                <a href="{{url_for('static', filename = image)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]">
                                    <img src="{{url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = image)}}" class="wp-post-image" alt="">
                                </a>
                                {% endfor %}
                            </div>
                            <div class="thumbnails-all columns-5 owl-carousel">
                                <a href="{{url_for('static', filename = detail.cover_image)}}" class="first" title="">
                                    <img src="{{url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = detail.cover_image)}}" class="wp-post-image" alt="">
                                </a>
                                {# Here we are showing all the product's picture #}
                                {% for image in product_images %}
                                <a href="{{url_for('static', filename = image)}}" class="" title="">
                                    <img src="{{url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = image)}}" class="wp-post-image" alt="">
                                </a>
                                {%endfor%}
                            </div>
                            {% else %}
                            <div class="thumbnails-single owl-carousel">
                                <a href="{{url_for('static', filename = detail.cover_image)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]">
                                    <img src="{{url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = detail.cover_image)}}" class="wp-post-image" alt="">
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="summary entry-summary">
                        <span class="loop-product-categories">
                            <a href="product-category.html" rel="tag">{{detail[8]}}</a>
                        </span><!-- /.loop-product-categories -->
                        <h1 itemprop="name" class="product_title entry-title">{{detail[1]}}</h1>
                        <div class="woocommerce-product-rating">
                            <div class="star-rating" title="Rated {{detail[7]}} out of 5">
                                <span style="width: {{detail[7]}}%">
                                    <strong itemprop="ratingValue" class="rating">{{detail[7]}}</strong>
                                    out of <span itemprop="bestRating">5</span> based on
                                    <span itemprop="ratingCount" class="rating">3</span>
                                    customer ratings
                                </span>
                            </div>
                            <a href="#reviews" class="woocommerce-review-link">(<span itemprop="reviewCount" class="count">3</span> customer reviews)</a>
                        </div>
                        {# <div class="brand">
                            <a href="product-category.html">
                                <img src="{{url_for('static', filename = 'img/single-pr')}}oduct/brand.png" alt="Gionee" />
                            </a>
                        </div><!-- .brand --> #}
                        {# <div class="availability in-stock">Availablity: <span>In stock</span></div> #}
                        <hr class="single-product-title-divider" />
                        <div class="action-buttons">
                            <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{detail[0]}})">
                                <span :class="{favorite_added: wishList.includes({{detail[0]}}) }" id="favorite_icon"></span>
                                Wishlist
                            </a>
                            {# <a href="#" class="add-to-compare-link" data-product_id="2452">Compare</a> #}
                        </div><!-- .action-buttons -->
                        <div itemprop="description">
                            {% if description_list %}
                            <ul>
                                <li>4.5 inch HD Touch Screen (1280 x 720)</li>
                                <li>Android 4.4 KitKat OS</li>
                                <li>1.4 GHz Quad Core™ Processor</li>
                                <li>20 MP front and 28 megapixel CMOS rear camera</li>
                            </ul>
                            {% endif %}
                            <p>{{detail.description}}</p>
                            {# <p><strong>SKU</strong>: FW511948218</p> #}
                        </div><!-- .description -->
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <p class="price">
                                <span class="electro-price">
                                    <ins>&#36;<span class="amount">{{detail.price}}</span></ins>
                                    {% if detail.discount_price %}
                                        <del><span class="amount">&#36;2,299.00</span></del>
                                    {% endif %}
                                </span>
                            </p>
                            <meta itemprop="price" content="1215" />
                            <meta itemprop="priceCurrency" content="USD" />
                            <link itemprop="availability" href="http://schema.org/InStock" />
                        </div><!-- /itemprop -->
                        <form class="variations_form cart" method="post">
                            {% if product_variants %}
                            <table class="variations">
                                <tbody>
                                    <tr>
                                        {% for variant in product_variants %}
                                        <td class="label"><label>{{ variant }}</label></td>
                                        <td class="value">
                                            <select class="" name="attribute_pa_color" @change="calculateVariant" id="variantSelect">
                                                <option value="{{detail.price}}">Choose an option</option>
                                                {% for x in product_variants[variant] %}
                                                    <option value="{{ x[1] }}">{{ x[0] }}</option>
                                                {% endfor %}
                                            </select>
                                            {% endfor %}
                                            <a class="reset_variations" href="#" @click.prevent="ClearVariant">Clear</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endif %}
                            <div class="single_variation_wrap">
                                <div class="woocommerce-variation single_variation"></div>
                                <div class="woocommerce-variation-add-to-cart variations_button">
                                    <div class="quantity">
                                        <label>Quantity:</label>
                                        <input type="number" name="quantity" @change="AddQty" v-model="qtyAdd" title="Qty" class="input-text qty text" />
                                    </div>
                                    <button @click="addToCart({{detail[0]}})" type="button" class="single_add_to_cart_button button">Add to cart</button>
                                    <input type="hidden" name="add-to-cart" value="2452" />
                                    <input type="hidden" name="product_id" value="2452" />
                                    <input type="hidden" name="variation_id" class="variation_id" value="0" />
                                </div>
                            </div>
                        </form>
                    </div><!-- .summary -->
                </div>
            </div>
        </main>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}