{% extends "base.html.j2" %}
{% block content %}
	<div class="container">
	    <div id="primary" class="content-area">
	        <main id="main" class="site-main">
	        	{% if data %}
	        		{% for sections in data %}
	        			{% for index, items in sections.items() %}
	        				{% if index == "Owl Carousel" %}
	        					<div class="home-v3-slider">
	                				<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
				        				{% for x in items %}
					        				<div class="item" style="background-image: url( {{ url_for('static', filename = x[3]) }} );">
						                        <div class="container">
						                            <div class="row">
						                                <div class="col-md-8">
						                                    <div class="caption vertical-center text-left">
						                                        <div class="hero-subtitle-v2 fadeInDown-1">
						                                            {{x[1]}}
						                                        </div>
						                                        <div class="hero-2 fadeInDown-2">
						                                            {{x[0]}}<strong>{{x[2]}}</strong>
						                                        </div>
						                                        <div class="hero-action-btn fadeInDown-3">
						                                            <a href="{{url_for(x[4])}}" class="big le-button ">{{x[5]}}</a>
						                                        </div>
						                                    </div>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
				        				{% endfor %}
	                				</div>
	                			</div>
							{% elif index == 'Service Polices' %}							
								<div class="home-v3-features-block animate-in-view fadeIn animated" data-animation="fadeIn">
		                            <div class="features-list columns-5">
		                            {% for x in items %}
										<div class="feature">
											<div class="media">
											    <div class="media-left media-middle feature-icon">
											        <i class="ec {{x[2]}}"></i>
											    </div>
											    <div class="media-body media-middle feature-text">
											    	<strong>{{x[1]}}</strong>{{x[0]}}
											    </div>
											</div>
										</div>  
		                            {% endfor %}
		                            </div>
		                        </div>
							{% elif index == 'Mini Promo' %}
								<div class="home-v3-ads-block animate-in-view fadeIn animated" data-animation=" animated fadeIn" id="mediaIndex">
									<div class="ads-block row">
										{% for x in items %}
											<div class="ad {{x[3]}}">
		                                        <div class="media">
		                                            <div class="media-left media-middle">
		                                                <img data-echo="{{ url_for('static', filename = x[2])}}" src="{{ url_for('static', filename = 'img/blank.gif')}}" alt="">
		                                            </div>
		                                            <div class="media-body media-middle">
		                                                <div class="ad-text">
		                                            		{{x[0]}} <strong>{{x[1]}}</strong>
		                                                </div>
		                                                <div class="ad-action">
		                                                    <a href="{{x[4]}}">{{x[5]}}</a>
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
										{% endfor %}
									</div>
								</div>
							{% elif index == 'Carousel Product' %}
								<section class="products-carousel-tabs animate-in-view fadeIn animated" data-animation="fadeIn">
	                                <h2 class="sr-only">Product Carousel Tabs</h2>
	                                <ul class="nav nav-inline text-xs-left">
	                                    {% for tabs in items %}
	                                        {% if loop.first %}
	                                            <li class="nav-item">
	                                                <a class="nav-link active" href="#tab-products-{{loop.index0}}" data-toggle="tab">{{tabs}}</a>
	                                            </li>
	                                        {% else %}
	                                            <li class="nav-item">
	                                                <a class="nav-link" href="#tab-products-{{loop.index0}}" data-toggle="tab">{{tabs}}</a>
	                                            </li>
	                                        {% endif %}
	                                    {% endfor %}
	                                </ul>
	                                <div class="tab-content">
	                                	{% for values in items %}
											{% if loop.first %}
	                                			<div class="tab-pane active" id="tab-products-{{loop.index0}}" role="tabpanel">
											{% else %}
	                                			<div class="tab-pane" id="tab-products-{{loop.index0}}" role="tabpanel">
											{% endif %}
			                                    <section class="section-products-carousel" >
			                                        <div class="home-v3-owl-carousel-tabs">
			                                            <div class="woocommerce columns-4">
			                                                <div class="products owl-carousel home-carousel-tabs products-carousel columns-4">
																{% if items[values] is iterable and items[values][0] is iterable %}
				                                                	{% for product in items[values] %}
				                                                		{% if loop.first %}
																			<div class="product first">
				                                                		{% else %}
																			<div class="product">
				                                                		{% endif %}
	                                                                        <div class="product-outer">
	                                                                            <div class="product-inner">
	                                                                                <span class="loop-product-categories"><a href="{{url_for('products', filterBy = product[4])}}" rel="tag">{{product[4]}}</a></span>
	                                                                                <a href="{{url_for('details', product_id = product[0])}}">
	                                                                                    <h3>{{product[1]}}</h3>
	                                                                                    <div class="product-thumbnail">
	                                                                                        <img src="{{url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = product[3])}}" class="img-responsive" alt="">
	                                                                                    </div>
	                                                                                </a>
	                                                                                <div class="price-add-to-cart">
	                                                                                    <span class="price">
	                                                                                        <span class="electro-price">
	                                                                                            <ins><span class="amount">$ {{product[2]}}</span></ins>
	                                                                                            {% if product[3] %}
	                                                                                            	<del><span class="amount">{{product[3]}}</span></del>
	                                                                                            {% endif %}
	                                                                                            <span class="amount"> </span>
	                                                                                        </span>
	                                                                                    </span>
	                                                                                    <a @click="addToCart({{product[0]}})" rel="nofollow" class="button add_to_cart_button">Add to cart</a>
	                                                                                </div>
	                                                                                <div class="hover-area">
	                                                                                    <div class="action-buttons">
	                                                                                        <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{product[0]}})">
												                                                <span :class="{favorite_added: wishList.includes({{product[0]}}) }" id="favorite_icon"></span>
												                                                Wishlist
												                                            </a>
	                                                                                        {# <a href="compare.html" class="add-to-compare-link"> Compare</a> #}
	                                                                                    </div>
	                                                                                </div>
	                                                                            </div>
	                                                                        </div>
	                                                                    </div>
				                                                	{% endfor %}		                                                		
	                                                            {% else %}
		                                                            <div class="product first">
			                                                        	<div class="product-outer">
		                                                                    <div class="product-inner">
		                                                                        <span class="loop-product-categories"><a href="{{url_for('products', filterBy = items[values][4])}}" rel="tag">{{ items[values][4] }}</a></span>
		                                                                        <a href="{{url_for('details', product_id = items[values][0])}}">
		                                                                            <h3>{{items[values][1]}}</h3>
		                                                                            <div class="product-thumbnail">
		                                                                                <img src="{{url_for('static', filename = 'img/blank.gif')}}" data-echo="{{ url_for('static', filename = items[values][3]) }}" class="img-responsive" alt="">
		                                                                            </div>
		                                                                        </a>

		                                                                        <div class="price-add-to-cart">
		                                                                            <span class="price">
		                                                                                <span class="electro-price">
		                                                                                    <ins><span class="amount">&#36;{{ items[values][2] }}</span></ins>
		                                                                                    {% if items[values][3] %}
		                                                                                    	<del><span class="amount">&#36;{{ items[values][3] }}</span></del>
		                                                                                    {% endif %}
		                                                                                    <span class="amount"></span>
		                                                                                </span>
		                                                                            </span>
		                                                                            <a @click="addToCart({{items[values][0]}})" rel="nofollow" class="button add_to_cart_button">Add to cart</a>
		                                                                        </div><!-- /.price-add-to-cart -->

		                                                                        <div class="hover-area">
		                                                                            <div class="action-buttons">

		                                                                                <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{ items[values][0] }})">
											                                                <span :class="{favorite_added: wishList.includes({{ items[values][0] }}) }" id="favorite_icon"></span>
											                                                Wishlist
											                                            </a>

		                                                                                {# <a href="compare.html" class="add-to-compare-link"> Compare</a> #}
		                                                                            </div>
		                                                                        </div>
		                                                                    </div>
		                                                                </div>
		                                                            </div>											
																{% endif %}
			                                                </div>
			                                            </div>
			                                        </div>
			                                    </section>
			                                </div>
	                                	{% endfor %}
	                                </div>
	                            </section>
	                        {% elif index == "Big Carousel" %}
								{% for carousel in items %}
									<section class="products-carousel-with-image animate-in-view fadeIn animated" style="background-size: cover; background-position: center center; background-image: url({{url_for('static', filename = 'img/Banner/home-v3-bg.jpg')}});" data-animation="fadeIn">
	                                <h2 class="sr-only">Products Carousel</h2>
	                                <div class="container">
	                                    <div class="row">
	                                        <div class="image-block col-xs-12 col-sm-6">
	                                            <img data-echo="{{url_for('static', filename = carousel[1])}}" src="{{ url_for('static', filename = 'img/blank.gif')}}" alt="">
	                                        </div>
	                                        <div class="products-carousel-block col-xs-12 col-sm-6">
	                                        	<section class="home-v2-categories-products-carousel section-products-carousel" >
	                                        		<header>
	                                                    <h2 class="h1">{{carousel[0]}}</h2>
	                                                    <div class="owl-nav">
	                                                        <a href="#products-carousel-prev" data-target="#products-carousel-with-umage" class="slider-prev"><i class="fa fa-angle-left"></i></a>
	                                                        <a href="#products-carousel-next" data-target="#products-carousel-with-umage" class="slider-next"><i class="fa fa-angle-right"></i></a>
	                                                    </div>
	                                                </header>
	                                                <div id="products-carousel-with-umage">
	                                                    <div class="woocommerce columns-4">
	                                                    	<div class="products owl-carousel home-carousel-tabs products-carousel columns-4">
	                                                    		{% for products in carousel[2] %}
		                                                    		<div class="product " id="product_{{products[0]}}">
		                                                                <div class="product-outer">
		                                                                    <div class="product-inner">
		                                                                        <span class="loop-product-categories"><a href="{{ url_for('products', filterBy = products[4]) }}" rel="tag">{{products[4]}}</a></span>
		                                                                        <a href="{{ url_for('details', product_id = products[0]) }}">
		                                                                            <h3>{{products[1]}}</h3>
		                                                                            <div class="product-thumbnail">
		                                                                                <img src="{{ url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = products[3])}}" class="img-responsive" alt="">
		                                                                            </div>
		                                                                        </a>
		                                                                        <div class="price-add-to-cart">
		                                                                            <span class="price">
		                                                                                <span class="electro-price">
		                                                                                    <ins><span class="amount"> &#36;{{products[2]}}</span></ins>
		                                                                                    {% if products[3] %}
		                                                                                    	<del><span class="amount">&#36;{{products[3]}}</span></del>
		                                                                                    {% endif %}
		                                                                                    <span class="amount"> </span>
		                                                                                </span>
		                                                                            </span>
		                                                                            <a @click="addToCart({{ products[0] }})" class="button add_to_cart_button">Add to cart</a>
		                                                                        </div>
		                                                                        <div class="hover-area">
		                                                                            <div class="action-buttons">
		                                                                                <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{ products[0] }})">
											                                                <span :class="{favorite_added: wishList.includes({{ products[0] }}) }" id="favorite_icon"></span>
											                                                Wishlist
											                                            </a>
		                                                                                {# <a href="compare.html" class="add-to-compare-link"> Compare</a> #}
		                                                                            </div>
		                                                                        </div>
		                                                                    </div>
		                                                                </div>
		                                                            </div>                                                    			
	                                                    		{% endfor %}
	                                                    	</div>
	                                                    </div>
	                                                </div>
	                                        	</section>
	                                        </div>
	                                    </div>
	                                </div>
	                            </section>
								{% endfor %}
							{% elif index == 'Category Carousel' %}							
	                            {% for name in items %}							
									<section class="section-product-cards-carousel animate-in-view fadeIn animated" data-animation="fadeIn">
										<header>
										    <h2 class="h1">{{name}}</h2>
										    <div class="owl-nav">
										        <a href="#products-cards-carousel-prev" data-target="#homev3-products-cards-carousel" class="slider-prev"><i class="fa fa-angle-left"></i></a>
										        <a href="#products-cards-carousel-next" data-target="#homev3-products-cards-carousel" class="slider-next"><i class="fa fa-angle-right"></i></a>
										    </div>
										</header><!-- /header-->
										<div id="homev3-products-cards-carousel">
										    <div class="woocommerce home-v3 columns-2 product-cards-carousel owl-carousel">
												{% for groups in items[name] %}
													<ul class="products columns-2">
														{% for products in items[name][groups] %}
															<li class="product product-card {{products[4]}}" id="product_{{products[0]}}">
								                                <div class="product-outer">
								                                    <div class="media product-inner">
								                                        <a class="media-left" href="{{ url_for('details', product_id = products[0]) }}" title="{{products[1]}}">
								                                            <img class="img-responsive media-object wp-post-image" src="{{ url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = products[3])}}" alt="">
								                                        </a>
								                                        <div class="media-body">
								                                            <span class="loop-product-categories">
								                                                <a href="{{ url_for('products', filterBy = name) }}" rel="tag">{{name}}</a>
								                                            </span>
								                                            <a href="{{ url_for('details', product_id = products[0]) }}">
								                                                <h3>{{products[1]}}</h3>
								                                            </a>
								                                            <div class="price-add-to-cart">
								                                                <span class="price">
								                                                    <span class="electro-price">
								                                                        <ins><span class="amount"> </span></ins>
								                                                        <span class="amount">${{products[2]}}</span>
								                                                    </span>
								                                                </span>
								                                                <a @click="addToCart({{ products[0] }})" class="button add_to_cart_button">Add to cart</a>
								                                            </div><!-- /.price-add-to-cart -->
								                                            <div class="hover-area">
								                                                <div class="action-buttons">
								                                                    <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{ products[0] }})">
										                                                <span :class="{favorite_added: wishList.includes({{ products[0] }}) }" id="favorite_icon"></span>
										                                                Wishlist
										                                            </a>
								                                                    {# <a href="#" class="add-to-compare-link">Compare</a> #}
								                                                </div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                </div>
								                            </li>
														{% endfor %}
													</ul>
												{% endfor %}
										    </div>
										</div>
									</section>
								{% endfor %}
							{% elif index == 'Trending' %}
								<section class="section-product-cards-carousel animate-in-view fadeIn animated" data-animation="fadeIn">
	                                <header>
	                                    <h2 class="h1">Trending Products</h2>
	                                    <div class="owl-nav">
	                                        <a href="#products-cards-carousel-prev" data-target="#homev3-products-cards-carousel" class="slider-prev"><i class="fa fa-angle-left"></i></a>
	                                        <a href="#products-cards-carousel-next" data-target="#homev3-products-cards-carousel" class="slider-next"><i class="fa fa-angle-right"></i></a>
	                                    </div>
	                                </header>
	                                <div id="homev3-products-cards-carousel">
	                                    <div class="woocommerce home-v3 columns-2 product-cards-carousel owl-carousel">
											{% for item in items %}
												<ul class="products columns-2">
													{% for products in items[item] %}													
														<li class="product product-card {{products[6]}}" id="product_{{products[0]}}">
			                                                <div class="product-outer">
			                                                    <div class="media product-inner">
			                                                        <a class="media-left" href="{{url_for('details', product_id = products[0]) }}" title="{{products[1]}}">
			                                                            <img class="img-responsive media-object wp-post-image" src="{{ url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = products[3])}}" alt="">
			                                                        </a>
			                                                        <div class="media-body">
			                                                            <span class="loop-product-categories">
			                                                                <a href="{{url_for('products', filterBy = products[4]) }}" rel="tag">{{products[4]}}</a>
			                                                            </span>
			                                                            <a href="{{url_for('details', product_id = products[0]) }}">
			                                                                <h3>{{products[1]}}</h3>
			                                                            </a>
			                                                            <div class="price-add-to-cart">
			                                                                <span class="price">
			                                                                    <span class="electro-price">
			                                                                        <ins><span class="amount"> </span></ins>
			                                                                        <span class="amount">${{products[2]}}</span>
			                                                                    </span>
			                                                                </span>
			                                                                <a @click="addToCart({{ products[0] }})" class="button add_to_cart_button">Add to cart</a>
			                                                            </div>
			                                                            <div class="hover-area">
			                                                                <div class="action-buttons">
			                                                                    <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{ products[0] }})">
									                                                <span :class="{favorite_added: wishList.includes({{ products[0] }}) }" id="favorite_icon"></span>
									                                                Wishlist
									                                            </a>
			                                                                    {# <a href="#" class="add-to-compare-link">Compare</a> #}
			                                                                </div>
			                                                            </div>
			                                                        </div>
			                                                    </div>
			                                                </div>
			                                            </li>
													{% endfor %}
												</ul>
											{% endfor %}
	                                    </div>
	                                </div>
	                            </section>
	                        {% elif index == "BestSeller" %}
	                        	<section class="products-6-1 animate-in-view fadeIn animated" data-animation="fadeIn">
                                	<div class="container">
                                		<header>
	                                        <h2 class="h1">Bestsellers</h2>
	                                        <ul class="nav nav-inline">
	                                            {% for tabs in items %}
	                                            	{% if loop.first %}
														<li class="nav-item active" data-toggle="tab">
													{% else %}
														<li class="nav-item" data-toggle="tab">
	                                            	{% endif %}
			                                                {# <span class="nav-link">{{tabs}}</span> #}
															<a class="nav-link" href="#tab-best-{{loop.index0}}" data-toggle="tab">{{tabs}}</a>
			                                            </li>
	                                            {% endfor %}
	                                        </ul>
	                                    </header>
	                                    <div class="tab-content">
											{% for tabs in items %}
												{% if loop.first %}
									 				<div class="columns-6-1 tab-pane active" id="tab-best-{{loop.index0}}">
												{% else %}
									 				<div class="columns-6-1 tab-pane" id="tab-best-{{loop.index0}}">
												{% endif %}
													{% for data in items[tabs] %}
														{% if data == "Products" %}
															<ul class="products exclude-auto-height products-6">
																{% for product in items[tabs][data] %}
																	<li class="product" id="product_{{product[1]}}">
						                                                <div class="product-outer">
						                                                    <div class="product-inner">
						                                                        <span class="loop-product-categories"><a href="{{url_for('products', filterBy = product[6] )}}" rel="tag">{{product[6]}}</a></span>
						                                                        <a href="{{url_for('details', product_id = product[1])}}">
						                                                            <h3>{{product[2]}}</h3>
						                                                            <div class="product-thumbnail">
						                                                                <img data-echo="{{url_for('static', filename = product[5] )}}" src="{{ url_for('static', filename = 'img/blank.gif')}}" alt="">
						                                                            </div>
						                                                        </a>
						                                                        <div class="price-add-to-cart">
						                                                            <span class="price">
						                                                                <span class="electro-price">
						                                                                    <ins><span class="amount">&#036;{{ product[3] }}</span></ins>
						                                                                    {% if product[4] %}
						                                                                    	<del><span class="amount">&#036;{{ product[3] }}</span></del>
						                                                                    {% endif %}
						                                                                </span>
						                                                            </span>
						                                                            <a @click="addToCart({{ product[1] }})" rel="nofollow" class="button add_to_cart_button">Add to cart</a>
						                                                        </div>
						                                                        <div class="hover-area">
						                                                            <div class="action-buttons">
						                                                                <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{ product[1] }})">
											                                                <span :class="{favorite_added: wishList.includes({{ product[1] }}) }" id="favorite_icon"></span>
											                                                Wishlist
											                                            </a>
						                                                                {# <a href="compare.html" class="add-to-compare-link">Compare</a> #}
						                                                            </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </li>
																{% endfor %}
															</ul>
														{% elif data == "Main" %}
															{# {{ items[tabs][data]["Product"] }} #}
															<ul class="products exclude-auto-height product-main-6-1">
																<li class="first product" id="product_{{items[tabs][data]['Product'].id}}">
					                                                <div class="product-outer">
					                                                    <div class="product-inner">
					                                                        <span class="loop-product-categories">
					                                                            <a href="{{url_for('products', filterBy = items[tabs][data]['Product'][5])}}" rel="tag">{{items[tabs][data]['Product'][5]}}</a>
					                                                        </span>
					                                                        <a href="{{url_for('details', product_id = items[tabs][data]['Product'].id)}}">
					                                                            <h3>{{items[tabs][data]['Product'][1]}}</h3>
					                                                            <div class="product-thumbnail">
					                                                                <img src="{{ url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = items[tabs][data]['Product'][4])}}" class="wp-post-image" alt="">
					                                                            </div>
					                                                        </a>
					                                                        <div class="thumbnails columns-3">
					                                                            {% for images in items[tabs][data]["Product_images"] %}
																					{% if loop.first %}
																						<a href="{{url_for('static', filename = images)}}" class="zoom first" title="" data-rel="prettyPhoto[product-gallery]">
																					{% elif loop.last %}
																					 <a href="{{url_for('static', filename = images)}}" class="zoom last" title="" data-rel="prettyPhoto[product-gallery]">
																					{% else %}
																						<a href="{{url_for('static', filename = images)}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]">	
																					{% endif %}
																				            <img src="{{ url_for('static', filename = 'img/blank.gif')}}" data-echo="{{url_for('static', filename = images)}}"  alt="">
																				        </a>																					
																				{% endfor %}
					                                                        </div>
					                                                        <div class="price-add-to-cart">
					                                                            <span class="price">
					                                                                <span class="electro-price">
					                                                                	<ins><span class="amount">&#36;{{ items[tabs][data]['Product'][2] }}</span></ins>
					                                                                	{% if items[tabs][data]['Product'][3] %}
					                                                                		<del><span class="amount">&#36;{{ items[tabs][data]['Product'][3] }}</span></del>
					                                                                	{% endif %}
					                                                                </span>
					                                                            </span>
					                                                            <a @click="addToCart({{ items[tabs][data]['Product'].id }})" rel="nofollow" class="button add_to_cart_button">Add to cart</a>
					                                                        </div>
					                                                        <div class="hover-area">
					                                                            <div class="action-buttons">
					                                                                <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{ items[tabs][data]['Product'].id }})">
										                                                <span :class="{favorite_added: wishList.includes({{ items[tabs][data]['Product'].id }}) }" id="favorite_icon"></span>
										                                                Wishlist
										                                            </a>
					                                                                {# <a href="compare.html" class="add-to-compare-link">Compare</a> #}
					                                                            </div>
					                                                        </div>
					                                                    </div>
					                                                </div>
					                                            </li>
															</ul>
														{% endif %}
													{% endfor %}
												</div>
											{% endfor %}
	                                    </div>
                                	</div>
                                </section>
	                        {% elif index == "TopCategory" %}
	                        	<section class="home-list-categories animate-in-view fadeIn animated" data-animation="fadeIn">
	                                <header>
	                                    <h2 class="h1">Top Categories this Month</h2>
	                                </header>
	                                    <ul class="categories">
		                                    {% for department in items %}
		                                    	<li class="category">
			                                        <div class="media">
			                                            <a class="media-left" href="{{url_for('products', filterBy = department)}}">
			                                                <img data-echo="{{url_for('static', filename = items[department]['Depart_img'])}}" src="{{ url_for('static', filename = 'img/blank.gif')}}" alt="">
			                                            </a>
			                                            <div class="media-body">
			                                                <h4 class="media-heading"><a href="{{url_for('products', filterBy = department)}}">{{department}}</a></h4>
			                                                <ul class="sub-categories list-unstyled">
																{% for category in items[department]['Categories'] %}
																	{% if loop.index0 < 4 %}
																		<li class="cat-item">
					                                                        <a href="{{url_for('products', filterBy = category)}}" >{{category}}</a>
					                                                    </li>																	
																	{% endif %}
																{% endfor %}
			                                                </ul>
			                                            </div>
			                                        </div>
			                                        <a class="see-all" href="#">See all</a>
			                                    </li>			                                    	
		                                    {% endfor %}
	                                    </ul>
	                            </section>	                        	
							{% endif %}
	        			{% endfor %}
	        		{% endfor %}
	        	{% endif %}
	        </main>
	    </div>
	</div>
{% endblock %}