{% extends "base.html.j2" %}
{% block content %}
	<div class="container">
		{{ breadcrumb( {"Home" : url_for('index'), url_pagination : ""} ) }}
		<div id="primary" class="content-area">
            <main id="main" class="site-main">
                <article id="post-8" class="hentry">
                    <div class="entry-content">
                        <div class="woocommerce">
                            <div class="customer-login-form">
                                <span class="or-text">or</span>
                                <div class="col2-set" id="customer_login">
                                    <div class="col-1">
                                        <h2>Login</h2>
                                        <form  method="post" class="login">
                                            <p class="before-login-text">Welcome back! Sign in to your account</p>
                                            <p class="form-row form-row-wide">
												{{ render_field(LoginForm.Username, class = "input-text") }}
                                            </p>
                                            <p class="form-row form-row-wide">
												{{ render_field(LoginForm.Password, class = "input-text") }}
                                            </p>
                                            <p class="form-row">
                                            	<input class="button" type="submit" value="Login" name="login">
												{{ render_field(LoginForm.Remember, "down") }}
                                            </p>
                                            <p class="lost_password"><a href="login-and-register.html">Lost your password?</a></p>
                                        </form>
                                    </div>
                                    <div class="col-2">
                                        <h2>Register</h2>
                                        <form method="post" class="register">
                                            <p class="before-register-text">Create your very own account</p>
                                            <p class="form-row form-row-wide">
												{{ render_field(RegisterForm.Email, class = "input-text") }}
                                            </p>
                                            <p class="form-row"><input type="submit" class="button" name="register" value="Register" /></p>
                                            <div class="register-benefits">
                                                <h3>Sign up today and you will be able to :</h3>
                                                <ul>
                                                    <li>Speed your way through checkout</li>
                                                    <li>Track your orders easily</li>
                                                    <li>Keep a record of all your purchases</li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
	</div>
{% endblock %}