{% extends "base.html.j2" %}
{% block content %}
<div class="container">
    <nav class="woocommerce-breadcrumb">
        <a href="home.html">Home</a>
        <span class="delimiter">
            <i class="fa fa-angle-right"></i>
        </span>Upload Products
    </nav>
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <header>
                <h2 class="h1">Upload Products</h2>
            </header>
            <form method="POST" enctype="multipart/form-data">
                {{ render_field(form.file)}}
                <p class="form-submit">
                    <input type="submit" value="Upload" class="submit">
                </p>
            </form>
        </main>
    </div>
</div>
{% endblock %}