{% extends "base.html.j2" %}
{% block content %}
{% if products %}
<div class="container">
    
    {{ breadcrumb( {"Home" : url_for('index'), url_pagination : url_for('products', category = url_pagination) } ) }}

    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <header class="page-header">
                <h1 class="page-title">{{ url_pagination }}</h1>
                <p class="woocommerce-result-count">Showing {{ products.per_page }} of {{ products.total }} results</p>
            </header>
            <div class="shop-control-bar product-filters-widgets">
                <div class="sidebar">
                    <div id="dropdown-menu" class="row filter-dropdown-menu" style="display: block;">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <aside class="widget widget_price_filter">
                                <h3 class="widget-title">Filter By Price</h3>
                                <form method="post">
                                    <div class="price_slider_wrapper">
                                        <div style="" class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                            <div style="left: -1%; width: 101%;" class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                            <span style="left: 0%; top: 1px;" tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all"></span>
                                            <span style="left: 100%; top: 1px;" tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all"></span>
                                        </div>
                                        <div class="price_slider_amount">
                                            {# <input type="text" style="display: none;" placeholder="Max price" data-max="987" value="" name="max_price" id="max_price"> #}
                                            <button class="button" type="submit">Filter</button>                                            
                                            <div class="price_label">
                                                Price: <label for="amount"></label>
                                                <input type="text" style="border:0;display: ruby-base-container;" name="amount" id="amount">
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </form>
                            </aside>
                        </div>
                        {% if filters_options %}
                            {% for filters in filters_options %}
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <aside class="widget widget_layered_nav">
                                        <h3 class="widget-title">Filter By {{filters}}</h3>
                                        <ul style="list-style: none; padding: 0;">
                                            {% for status in filters_options[filters] %}
                                                {% if status == "show" %}
                                                    {% for options, quantity in filters_options[filters][status].items() %}
                                                        <li><a href="{{url_for('products', filterBy = options)}}">{{options}}</a> <span class="count">({{quantity}})</span></li>        
                                                    {% endfor %}
                                                {% elif status == "hide" %}
                                                    <a href="#" data-toggle="collapse" data-target="#collapseExample_{{filters}}" aria-expanded="false" aria-controls="collapseExample" style="float: right;">See all</a>
                                                    <div class="collapse" id="collapseExample_{{filters}}">
                                                        {% for options, quantity in filters_options[filters][status].items() %}
                                                            <li><a href="{{url_for('products', filterBy = options)}}">{{options}}</a> <span class="count">({{quantity}})</span></li>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </aside>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="shop-control-bar">
                <ul class="shop-view-switcher nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" title="Grid View" href="#grid"><i class="fa fa-th"></i></a></li>
                    <li class="nav-item"><a class="nav-link " data-toggle="tab" title="Grid Extended View" href="#grid-extended"><i class="fa fa-align-justify"></i></a></li>
                    <li class="nav-item"><a class="nav-link " data-toggle="tab" title="List View" href="#list-view"><i class="fa fa-list"></i></a></li>
                    <li class="nav-item"><a class="nav-link " data-toggle="tab" title="List View Small" href="#list-view-small"><i class="fa fa-th-list"></i></a></li>
                </ul>
                <form class="woocommerce-ordering" method="post">
                    <select name="orderby" class="orderby" onchange="this.form.submit()">
                        <option value="menu_order" selected='selected'>Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                    </select>
                </form>
                <form class="form-electro-wc-ppp" method="post">
                    <select name="show" onchange="this.form.submit()" class="electro-wc-wppp-select c-select">
                        <option value="15">Show 15</option>
                        <option value="25">Show 25</option>
                        <option value="35">Show 35</option>
                        <option value="" selected='selected'>Show</option>
                    </select>
                </form>
                <nav class="electro-advanced-pagination">
                    <form method="post" class="form-adv-pagination">
                        {% if url_pagination != 'All' %}
                        <a class="next page-numbers" href="{{ url_for('products', category = url_pagination , page = products.prev_num) }}">&larr;</a>
                        {% else %}
                        <a class="next page-numbers" href="{{ url_for('products', page = products.prev_num) }}">&larr;</a>
                        {% endif %}
                        <input id="goto-page" size="2" min="1" max="2" step="1" type="number" class="form-control" value="{{products.page }}" />
                    </form> of {{products.pages}}
                    {% if url_pagination != 'All' %}
                    <a class="next page-numbers" href="{{ url_for('products', category = url_pagination , page = products.next_num) }}">&rarr;</a>
                    {% else %}
                    <a class="next page-numbers" href="{{ url_for('products', page = products.next_num) }}">&rarr;</a>
                    {% endif %}
                </nav>
            </div>
            <div class="tab-content">
                {# first views option #}
                <div role="tabpanel" class="tab-pane active" id="grid" aria-expanded="true">
                    <ul class="products columns-4">
                        {% for product in products.items %}
                        {# {{ product}} #}
                        <li class="product" id="Product_{{ product.id }}">
                            <div class="product-outer">
                                <div class="product-inner">
                                    <span class="loop-product-categories"><a href="{{url_for('products', filterBy = product[8] )}}" rel="tag">{{ product[8] }}</a></span>
                                    <a href="{{url_for('details', product_id = product.id)}}">
                                        <h3>{{product[1]}}</h3>
                                        <div class="product-thumbnail">
                                            <img data-echo="{{ url_for('static', filename = product.cover_image) }}" src="{{ url_for('static', filename = 'img/blank.gif')}}" alt="">
                                        </div>
                                    </a>
                                    <div class="price-add-to-cart">
                                        <span class="price">
                                            <span class="electro-price">
                                                <ins><span class="amount">&#036;{{product.price}}</span></ins>
                                                {% if product.discount_price %}
                                                    <del><span class="amount">&#036;{{ product.discount_price }}</span></del>
                                                {% endif %}
                                            </span>
                                        </span>
                                        <a @click="addToCart({{product.id}})" rel="nofollow" class="button add_to_cart_button">Add to cart</a>
                                    </div>
                                    <div class="hover-area">
                                        <div class="action-buttons">
                                            <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{product.id}})">
                                                <span :class="{favorite_added: wishList.includes({{product.id}}) }" id="favorite_icon"></span>
                                                Wishlist
                                            </a>
                                            <a href="#" class="add-to-compare-link">Compare</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {# second view option #}
                <div role="tabpanel" class="tab-pane" id="grid-extended" aria-expanded="true">
                    <ul class="products columns-3">
                        {% for product in products.items %}
                        <li class="product" id="Product_{{ product.id }}">
                            <div class="product-outer">
                                <div class="product-inner">
                                    <span class="loop-product-categories"><a href="{{url_for('products', filterBy = product.name )}}" rel="tag">{{product[8]}}</a></span>
                                    <a href="{{url_for('details', product_id = product.id)}}">
                                        <h3>{{product[1]}}</h3>
                                        <div class="product-thumbnail">
                                            <img class="wp-post-image" data-echo="{{ url_for('static', filename = product.cover_image) }}" src="{{ url_for('static', filename = 'img/blank.gif')}}" alt="">
                                        </div>
                                        <div class="product-rating">
                                            <div title="Rated {{ product.star_rating }} out of 5" class="star-rating"><span style="width:{{product.star_rating}}%"><strong class="rating">{{ product.star_rating }}</strong> out of 5</span></div> (3)
                                        </div>
                                        <div class="product-short-description">
                                            <ul>
                                                <li><span class="a-list-item">Intel Core i5 processors (13-inch model)</span></li>
                                                <li><span class="a-list-item">Intel Iris Graphics 6100 (13-inch model)</span></li>
                                                <li><span class="a-list-item">Flash storage</span></li>
                                                <li><span class="a-list-item">Up to 10 hours of battery life2 (13-inch model)</span></li>
                                                <li><span class="a-list-item">Force Touch trackpad (13-inch model)</span></li>
                                            </ul>
                                        </div>
                                        {# <div class="product-sku">SKU: 5487FB8/15</div> #}
                                    </a>
                                    <div class="price-add-to-cart">
                                        <span class="price">
                                            <span class="electro-price">
                                                <ins><span class="amount">&#036;{{product.price}}</span></ins>
                                                {% if product.discount_price %}
                                                    <del><span class="amount">&#036;product.discount_price</span></del>
                                                {% endif %}
                                            </span>
                                        </span>
                                        <a @click="addToCart({{product.id}})" rel="nofollow" class="button add_to_cart_button">Add to cart</a>
                                    </div>
                                    <div class="hover-area">
                                        <div class="action-buttons">
                                            <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{product.id}})">
                                                <span :class="{favorite_added: wishList.includes({{product.id}}) }" id="favorite_icon"></span>
                                                Wishlist
                                            </a>
                                            {# <a href="#" class="add-to-compare-link">Compare</a> #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {# Third view option #}
                <div role="tabpanel" class="tab-pane" id="list-view" aria-expanded="true">
                    <ul class="products columns-3">
                        {% for product in products.items %}
                        <li class="product list-view" id="Product_{{ product.id }}">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{{url_for('details', product_id = product.id)}}">
                                        <img class="wp-post-image" data-echo="{{ url_for('static', filename = product.cover_image) }}" src="{{ url_for('static', filename = 'img/blank.gif')}}" alt="">
                                    </a>
                                </div>
                                <div class="media-body media-middle">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="loop-product-categories"><a rel="tag" href="#">{{ product.name }}</a></span><a href="{{url_for('details', product_id = product.id)}}">
                                                <h3>{{ product[1] }}</h3>
                                                <div class="product-rating">
                                                    <div title="Rated {{ product.star_rating }} out of 5" class="star-rating"><span style="width:{{product.star_rating}}%"><strong class="rating">{{ product.star_rating }}</strong> out of 5</span></div> (3)
                                                </div>
                                                <div class="product-short-description">
                                                    <ul style="padding-left: 18px;">
                                                        <li>4.5 inch HD Screen</li>
                                                        <li>Android 4.4 KitKat OS</li>
                                                        <li>1.4 GHz Quad Core&trade; Processor</li>
                                                        <li>20 MP front Camera</li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12">
                                            {# <div class="availability in-stock">Availablity: <span>In stock</span></div> #}
                                            <span class="price"><span class="electro-price"><span class="amount">${{product.price}}</span></span></span>
                                            <a @click="addToCart({{product.id}})" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_sku="5487FB8/35" data-product_id="2706" data-quantity="1" rel="nofollow">Add to cart</a>
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2706">
                                                        <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{product.id}})">
                                                            <span :class="{favorite_added: wishList.includes({{product.id}}) }" id="favorite_icon"></span>
                                                            Wishlist
                                                        </a>

                                                        {# <div style="display:none;" class="yith-wcwl-wishlistaddedbrowse hide">
                                                            <span class="feedback">Product added!</span>
                                                            <a rel="nofollow" href="#">Wishlist</a>
                                                        </div>

                                                        <div style="display:block" class="yith-wcwl-wishlistexistsbrowse hide">
                                                            <span class="feedback">The product is already in the wishlist!</span>
                                                            <a rel="nofollow" href="#">Wishlist</a>
                                                        </div> #}

                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    {# <a data-product_id="2706" class="add-to-compare-link" href="#">Compare</a> #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {# Fourth view option #}
                <div role="tabpanel" class="tab-pane" id="list-view-small" aria-expanded="true">
                    <ul class="products columns-3">
                        {% for product in products.items %}
                        <li class="product list-view list-view-small" id="Product_{{ product.id }}">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{{url_for('details', product_id = product.id)}}">
                                        <img class="wp-post-image" data-echo="{{ url_for('static', filename = product.cover_image) }}" src="{{ url_for('static', filename = 'img/blank.gif')}}" alt="">
                                    </a>
                                </div>
                                <div class="media-body media-middle">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="loop-product-categories"><a rel="tag" href="{{url_for('products', filterBy = product.name )}}">{{product.name}}</a></span><a href="{{url_for('products', filterBy = product.name )}}">
                                                <h3>{{product[1]}}</h3>
                                                <div class="product-short-description">
                                                    <ul style="padding-left: 18px;">
                                                        <li>4.5 inch HD Screen</li>
                                                        <li>Android 4.4 KitKat OS</li>
                                                        <li>1.4 GHz Quad Core&trade; Processor</li>
                                                        <li>20 MP front Camera</li>
                                                    </ul>
                                                </div>
                                                <div class="product-rating">
                                                    <div title="Rated {{ product.star_rating }} out of 5" class="star-rating"><span style="width:{{product.star_rating}}%"><strong class="rating">{{product.star_rating}}</strong> out of 5</span></div> (3)
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="price-add-to-cart">
                                                <span class="price"><span class="electro-price"><span class="amount">${{product.price}}</span></span></span>
                                                <a @click="addToCart({{product.id}})" class="button add_to_cart_button" rel="nofollow">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a rel="nofollow" class="add_to_wishlist" @click="addToWishlist({{product.id}})">
                                                        <span :class="{favorite_added: wishList.includes({{product.id}}) }" id="favorite_icon"></span>
                                                        Wishlist
                                                    </a>
                                                    <a href="compare.html" class="add-to-compare-link">Compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>
{% endif %}
<div class="shop-control-bar-bottom">
    <form class="form-electro-wc-ppp">
        <select name="show" onchange="this.form.submit()" class="electro-wc-wppp-select c-select">
            <option value="15">Show 15</option>
            <option value="25">Show 25</option>
            <option value="35">Show 35</option>
            <option value="" selected='selected'>Show</option>
        </select>
    </form>
    <p class="woocommerce-result-count">Showing {{ products.per_page }} of {{ products.total }} results</p>
    <nav class="woocommerce-pagination">
        <ul class="page-numbers">
            {% for page_num in products.iter_pages(left_edge= 1, right_edge = 1, left_current = 1, right_current = 2) %}
            {% if page_num %}
            {% if url_pagination != 'All' %}
            {% if products.page == page_num %}
            <li><a href="{{url_for('products', filterBy = url_pagination , page = page_num)}}" class="page-numbers current">{{page_num}}</a></li>
            {% else %}
            <li><a href="{{url_for('products', filterBy = url_pagination , page = page_num)}}" class="page-numbers">{{page_num}}</a></li>
            {% endif %}
            {% else %}
            {% if products.page == page_num %}
            <li><a href="{{url_for('products', page = page_num)}}" class="page-numbers current">{{page_num}}</a></li>
            {% else %}
            <li><a href="{{url_for('products', page = page_num)}}" class="page-numbers">{{page_num}}</a></li>
            {% endif %}
            {% endif %}
            {% else %}
            <li><a class="page-numbers">...</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}