<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/font-awesome.min.css')}}" media="all" />
	<style type="text/css">
		.content {
			margin-top: 70px;
			border: 2px solid #333;
			border-radius: 5px;
			padding: 50px 20px;
		}
		.passRequirements {
			list-style: none;
		}
		.linkexpired {
			text-align: center;
		}
		.head {
			text-align: center;
			margin-bottom: 30px;
		}
		.head h1 {
			margin-bottom: 50px;
		}
		.profileimg {
			text-align: center;
		}
		.profileimg img {
			width: 300px;
		    height: 300px;
		    border-radius: 50%;
		}
		.body {
			text-align: center;
			margin-top: 100px;
		}
		.footer {
			text-align: center;
			margin-top: 70px;
		}
	</style>
</head>
<body>	
	{% from '_macro.html.j2' import render_field %}
	<div class="container content" id="registerContainer">
		{% if info %}
				[[confirmPassword]]
				[[show]]
				<section class="registerForm">
					<form method="POST" enctype="multipart/form-data" @submit.prevent="RegisterUser" id="UserRegistration">
		  				<div class="form-group">
		  					<p class="validate-required">
		  						{{ render_field(Form.name, class = "form-control", **{'v-model' : 'name'}) }}
		  					</p>
		  				</div>
		  				<div class="form-group">
		  					<p class="validate-required">
		  						{{ render_field(Form.lastname, class = "form-control", **{'v-model' : 'lastname', '@change' : 'createUser'}) }}
		  					</p>
		  				</div>
		  				<div class="form-group">
		  					<p class="validate-required">
		  						{{ render_field(Form.age, class = "form-control", **{'v-model' : 'age'}) }}
		  					</p>
		  				</div>
		  				<div class="form-group">
		  					<p class="validate-required">
		  						{{ render_field(Form.email, class = "form-control", value = info, disabled = disabled) }}
		  					</p>
		  				</div>
		  				<div class="form-group">
		  					<p class="validate-required">
		  						{{ render_field(Form.phone, class = "form-control", **{'v-model' : 'phone', '@keydown' : 'inputMask'}) }}
		  					</p>
		  				</div>
		  				<div class="form-group">
		  					<p class="validate-required">
		  						{{ render_field(Form.username, class = "form-control", **{'v-model' : 'username'}) }}
		  					</p>
		  				</div>
		  				<div class="form-group">
		  					<p class="validate-required">
		  						{{ render_field(Form.profile_img, class = "form-control", ref = 'profile_img' ,**{'@change' : 'handleFilesUpload'} ) }}
		  					</p>
		  				</div>
		  				<div class="form-group">
		  					<p class="validate-required">
		  						{{ render_field(Form.password, class = "form-control", **{'v-model' : 'password', '@focus' : 'passCondSta = true', '@blur' : 'passCondSta = false', '@keyup' : 'inputMask'}) }}
		  					</p>
							<div class="collapse" id="passConditions">
								<div class="card card-body">
									<p>The password must contain:</p>
									<ul class="passRequirements">
										<li id="CapiOpt"> <i :class="{'fa fa-check text-success': passCondi.uppercase,'fa fa-times text-danger' : !passCondi.uppercase}"></i> One capital letter</li>
										<li id="LoweOpt"><i :class="{'fa fa-check text-success': passCondi.lowercase,'fa fa-times text-danger' : !passCondi.lowercase}"></i> One lowercase letter</li>
										<li id="NumeOpt"><i :class="{'fa fa-check text-success': passCondi.number,'fa fa-times text-danger' : !passCondi.number}"></i> One number</li>
										<li id="LengOtp"><i :class="{'fa fa-check text-success': passCondi.minimun,'fa fa-times text-danger' : !passCondi.minimun}"></i> Minimum 10 characters</li>
										<li id="LengOtp"><i :class="{'fa fa-check text-success': !passCondi.speCharacter,'fa fa-times text-danger' : passCondi.speCharacter}"></i> No special characters</li>
									</ul>
								</div>
							</div>
		  				</div>
		  				<div class="form-group">
		  					<p class="validate-required">
		  						{{ render_field(Form.confirm_password, class = "form-control", **{'v-model' : 'confirm_pass'}) }}
		  						<p class="validatepass text-danger"></p>
		  					</p>
		  				</div>
		  				<div class="form-group">
		  					<p class="validate-required">		  
		  						<button type="submit" class="btn btn-primary btn-lg btn-block" :disabled="password != confirm_pass">Register</button>
		  					</p>
		  				</div>
		  			</form>
				</section>
		{% else %}
			<h1 class="linkexpired">Sorry, the link has expired</h1>
		{% endif %}
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/vue.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
    	var app = new Vue({
    		el: '#registerContainer',
    		data: {
				name: undefined,
				lastname: undefined,
				age: undefined,
				phone: undefined,
				username: undefined,
				file: '',
				password: undefined,
				confirm_pass: undefined,
				passCondSta: false,
				passCondi: 					
					{
						uppercase: undefined,
						lowercase: undefined,
						number: undefined,
						minimun: undefined,
						speCharacter: undefined
					}
    		},
    		methods: {
    			createUser(){
    				var name = this.name.split(" ")
    				var last = this.lastname.split(" ")
    				var username = (name[0][0].toUpperCase() + name[0].slice(1)) + last[0].substring(0,2).toUpperCase()
    				this.username = username
    			},
    			inputMask(){
    				let key = event.key;
    				let allowCommant = ['Backspace','ArrowLeft', 'ArrowRight', 'Tab', 'Shift']
    				let inputValue = event.target.value;
					switch (event.target.id) {
						case "phone":
							if(!allowCommant.includes(key)){
								if(/^\d+/g.test(key)){
									target_position = inputValue.length;
									if (target_position < 14) {
	    								switch (target_position) {
	   										case 0:
	   											event.target.value = "(";
	   											break;
	   										case 4:
	   											event.target.value += ") ";
	   											break;
	   										case 9:
	   											event.target.value += " ";
	   											break;
	   									}
									} else {
										event.preventDefault();    									
									}
								} else {
									event.preventDefault();
								}
							}
							break;
						case "password":
							// Validate uppercase
							(inputValue.match(/[A-Z]/g) != null) ? this.passCondi.uppercase = true : this.passCondi.uppercase = false;
							// Validate lowercase
							(inputValue.match(/[a-z]/g) != null) ? this.passCondi.lowercase = true : this.passCondi.lowercase = false;
							// Validate number
							(inputValue.match(/(\d+)/) != null) ? this.passCondi.number = true : this.passCondi.number = false;
							// Validate length
							(inputValue.length > 9) ? this.passCondi.minimun = true : this.passCondi.minimun = false;
							// Validate special characteers
							(inputValue.match(/[^a-zA-Z0-9\-\/]/)) ? this.passCondi.speCharacter = true : this.passCondi.speCharacter = false;

							break;
					}
    			},
    			async RegisterUser(email) {
    				let RegisterData = $('#UserRegistration').serialize() + '&email=' + $('#email').val();    				

    				const formData = new FormData();

    				formData.append('file', this.file)
    				formData.append('userdata', RegisterData)

    				try {
    					await axios.post('/ajax-request',formData).then(res => {
    						var data = res['data'];
    						if(data != false){
    							$('.registerForm').remove();
	    						var html = '<div class="successregister">' +
	    						'<div class="head">' +
	    						'<h1><strong>Congratulations</strong> you are already registered</h1>' +
	    						'<div class="profileimg">' +
	    						'<img src="'+ data.Profile +'") }}" alt="">'+
	    						'</div>' +
	    						'</div>' +
	    						'<class class="body">' +
	    						'<h2 class="names">'+ data.Name +'</h2>' +
	    						'<h5 class="username">'+ data.Username +'</h5>' +
	    						'</class>' +
	    						'<div class="footer">' +
	    						'<a href="{{ url_for("index") }}" class="btn btn-primary">Go Shopping</a>' +
	    						'</div>' +
	    						'</div>';
	    						$('#registerContainer').append(html);
    						}
    					}).catch(err => {
    						console.log(err)
    					});
    				} catch(e) {
    					console.log(e);
    				}

				},
				handleFilesUpload(e) {
					this.file = this.$refs.profile_img.files[0];
				}
    		},
    		computed: {
    			confirmPassword(){
    				if (this.passCondi.uppercase == true && this.passCondi.lowercase == true && this.passCondi.number == true && this.passCondi.minimun == true && this.passCondi.speCharacter == false)
						(this.password != this.confirm_pass) ? $(".validatepass").text("* The password doesn't macth") : $(".validatepass").text("");
    			},
    			show() {
    				if (this.passCondSta == true)
    					$("#passConditions").slideDown();
    				else if (this.passCondSta == false)
    					$("#passConditions").slideUp();    					
    			}
    		},
    		delimiters: ['[[', ']]']
    	})
    </script>
</body>
</html>