<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{tittle}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/custom.css')}}" media="all" />
	<link rel="stylesheet" href="https://use.typekit.net/mya1qgl.css">
	<script src="https://kit.fontawesome.com/4fe08b4415.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container_success" id="confirmationContainer">
		<div class="container_message row">
			<div class="col-md-6">
				<div class="logo">
					<img src="{{url_for('static', filename = 'img/RealmFly/Vertical Realm Logo.png')}}" alt="">					
				</div>
				<h1>Thank you for your purchase</h1>
				<a href="{{url_for('index')}}" >
					<button class="btn btn-return">Go back home</button>
				</a>
			</div>
			<div class="col-md-6">
				<h1>Details</h1>
				<table class="table table-striped" v-for="">
					 <tbody>
					    <tr>
					      <th scope="row"><i class="fas fa-user"></i> Customer</th>
					      <td>[[customer]]</td>
					    </tr>
					    <tr>
					      <th scope="row"><i class="fas fa-map-marker-alt"></i> Shipping Address</th>
					      <td>[[ShippingTo]]</td>
					    </tr>
					    <tr>
					      <th scope="row"><i class="fas fa-dollar-sign"></i> Amount</th>
					      <td>$ [[Amount]]</td>
					    </tr>
					    <tr>
					      <th scope="row"><i class="fas fa-calendar-day"></i> Arrive Date</th>
					      <td>[[Arrive]]</td>
					    </tr>
					    <tr>
					      <th scope="row"><i class="fas fa-route"></i> Confirmation Number</th>
					      <td>[[confirm]]</td>
					    </tr>
					  </tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/vue.js') }}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		var app = new Vue({
			el: "#confirmationContainer",
			data: {
				params: window.location.pathname,
				customer: undefined,
				ShippingTo: undefined,
				Amount: undefined,
				Arrive: undefined,
				confirm: undefined
			},
			methods: {
				loadConfirmationData() {
					token = this.params.replace(/\D+/g, '');

					axios.post('/ajax-request', {
						confirmationToken: token
					}).then(res => {
						this.ShippingTo = res.data[0]
						this.Arrive = res.data[1]
						this.Amount = res.data[2].toFixed(2)
						this.confirm = res.data[3]
						this.customer = res.data[4] + " " + res.data[5]
					}).catch(err => {
						console.log(err)
					});

				}
			},
			beforeMount() {
				this.loadConfirmationData();
			},
    		delimiters: ['[[', ']]']
		})
	</script>
</body>
</html>