{% extends "base.html.j2" %}
{% block content %}
<div class="container" id="wishlist-content">
    {{ breadcrumb( {"Home" : url_for('index'), "Wishlist" : ""} ) }}
    <div class="content-area" id="primary">
        <main class="site-main" id="main">
            [[loadWishListPage]]
            <article class="page type-page status-publish hentry">
                <div itemprop="mainContentOfPage" class="entry-content" v-if="response != 0">
                    <div id="yith-wcwl-messages"></div>
                    <form class="woocommerce" method="post" id="yith-wcwl-form">
                        <input type="hidden" value="68bc4ab99c" name="yith_wcwl_form_nonce" id="yith_wcwl_form_nonce">
                        <input type="hidden" value="/electro/wishlist/" name="_wp_http_referer">
                        <!-- TITLE -->
                        <div class="wishlist-title ">
                            <h2>My wishlist</h2>
                        </div>
                        <!-- WISHLIST TABLE -->
                        <table data-token="" data-id="" data-page="1" data-per-page="5" data-pagination="no" class="shop_table cart wishlist_table" id="wishlist_table_content">
                            <thead>
                                <tr>
                                    <th class="product-remove"></th>
                                    <th class="product-thumbnail"></th>
                                    <th class="product-name">
                                        <span class="nobr">Product Name</span>
                                    </th>
                                    <th class="product-price">
                                        <span class="nobr">Unit Price</span>
                                    </th>
                                    <th class="product-stock-stauts">
                                        <span class="nobr">Stock Status</span>
                                    </th>
                                    <th class="product-add-to-cart"></th>
                                </tr>
                            </thead>
                            <tbody id="wish_table">
                                <tr v-for="items of response">
                                    <td class="product-remove">
                                        <div>
                                            <a title="Remove this product" class="remove remove_from_wishlist" href="#" @click.prevent="deleteWishlist(items[0])">×</a>
                                        </div>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a :href="'/Details/' + items[0]"><img width="180" height="180" alt="1" class="wp-post-image" 
                                        v-bind:src="/static/ + items[3]"></a>
                                    </td>
                                    <td class="product-name">
                                        <a :href="'/Details/' + items[0]"> [[ items[1] ]]</a>
                                    </td>
                                    <td class="product-price">
                                        <span class="electro-price"><span class="amount">[[ items[2] ]]</span></span>
                                    </td>
                                    <td class="product-stock-status">
                                        <span class="in-stock">In stock</span>
                                    </td>
                                    <td class="product-add-to-cart">
                                        <a href="#" class="button"> Add to Cart</a>
                                    </td>
                                </tr>
                            </tbody>                            
                        </table>
                    </form>
                </div>
                <div v-else>
                    <h1 style="text-align: center;">Your wishlist is empty.</h1>
                </div> 
            </article>
        </main>
    </div>
</div>
{% endblock %}