/*===================================================================================*/
/*  STAR-RATING
/*===================================================================================*/
// Star font, FontAwesome doesn't work :(
@font-face {
	font-family: 'star';
	src: url('../fonts/star.eot');
	src: url('../fonts/star.eot?#iefix') format('embedded-opentype'),
		url('../fonts/star.woff') format('woff'),
		url('../fonts/star.ttf') format('truetype'),
		url('../fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

.star-rating {
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1;
	font-size: 1em;
	width: 5.5em;
	font-family: 'star';

	&:before {
		content: "\73\73\73\73\73";
		color: rgba(0,0,0,0.2);
		float: $start;
		top: 0;
		#{$start}: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: $start;
		top: 0;
		#{$start}: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		#{$start}: 0;
		color: #fed700;
	}
}

p.stars {
	display: inline-block;
	margin: 0;

	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-#{$end}: 1px;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			#{$start}: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "WooCommerce";
			content: "\e021";
			text-indent: 0;
		}

		&:hover {
			~ a:before {
				content: "\e021";
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\e020";
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\e020";
			}

			~ a:before {
				content: "\e021";
			}
		}

		a:not(.active) {
			&:before {
				content: "\e020";
			}
		}
	}
}
